<style>
    .slider-container {
        width: 100%;
        margin: 0 auto;
    }

    .swiper-slide {
        width: unset;
    }

    .homepage-probably-seen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(100deg, #004587 0%, #00629D 100%);
        padding: 80px 0;
    }

    .probably-seen__title,
    .probably-seen__reviews p {
        color: #FFF;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0 !important;
    }

    .probably-seen__title {
        font-style: italic;
    }

    .probably-seen__reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .probably-seen__reviews p {
        font-size: 20px;
        margin-bottom: 8px !important;
    }

    .probably-seen__reviews img {
        max-width: 153px;
        margin-bottom: 32px;
    }

    .probably-seen__cards {
        padding: 0 16px 30px;
        overflow: hidden;
        position: relative;
    }

    .probably-seen__partners {
        overflow: hidden;
        margin: 16px 0 46px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #CCD5D8;
    }
    
    .swiper-pagination-bullet-active {
        background: white;
    }

    .probably-seen__card {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1.5px solid #FFF;
        max-width: 358px;
        padding: 24px 24px;
    }

    .probably-seen__card .probably-seen__person {
        max-width: 80px;
        margin-bottom: 16px;
    }

    .probably-seen__card img {
        max-width: 122px;
        margin-bottom: 12px;
    }

    .probably-seen__card .probably-seen__person-title {
        color: #FFF;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0 !important;
    }

    .probably-seen__card p {
        color: #FFF;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 14px;
        line-height: 19.6px;
        margin-bottom: 8px !important;
    }

    @media screen and (min-width: 768px) {
        .homepage-probably-seen {
            padding: 50px 0 74px;
        }

        .probably-seen__title,
        .probably-seen__reviews p {
            font-size: 32px;
        }

        .probably-seen__reviews img {
            max-width: 235px;
            margin-bottom: 48px;
        }

        .probably-seen__card {
            max-width: 450px;
            padding: 40px 24px;
        }

        .probably-seen__card .probably-seen__person {
            max-width: 100px;
            margin-bottom: 20px;
        }

        .probably-seen__card img {
            max-width: 153px;
            margin-bottom: 12px;
        }

        .probably-seen__card .probably-seen__person-title {
            font-size: 18px;
        }

        .probably-seen__card p {
            color: #FFF;
            text-align: center;
            font-family: Poppins, sans-serif;
            font-size: 16px;
            line-height: 22.4px;
            margin-bottom: 16px !important;
        }

        .probably-seen__partners {
            margin: 20px 0 64px;
        }
    }

    @media screen and (min-width: 1100px) {
        .probably-seen__partners .swiper-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (min-width: 1440px) {
        .probably-seen__cards .swiper-wrapper {
            display: flex;
            justify-content: center;
        }
    }
</style>

<section class="homepage-probably-seen">
    {% comment %}<p class="probably-seen__title">{% endcomment %}
        {% comment %}YOU’VE PROBABLY SEEN US ON{% endcomment %}
    {% comment %}</p>{% endcomment %}

    {% comment %}<div class="slider-container probably-seen__partners">{% endcomment %}
        {% comment %}<div class="swiper-wrapper">{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-1.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-2.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-3.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-4.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-5.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-6.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="probably-seen__partners-card swiper-slide">{% endcomment %}
                {% comment %}<img loading="lazy" class="probably-seen__partners-image" src="{{ 'partners-7.png' | asset_url }}" alt="Partners image">{% endcomment %}
            {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}

    <div class="probably-seen__reviews">
        <p>
            20,000+ 5-STAR REVIEWS
        </p>
        <img loading="lazy" src="{{ 'reviews-star.png' | asset_url }}" alt="Reviews">
    </div>

    <div class="slider-container probably-seen__cards">
        <div class="swiper-wrapper">
            <div class="probably-seen__card swiper-slide">
                <img loading="lazy" class="probably-seen__person" src="{{ 'review-image-1.png' | asset_url }}" alt="Reviews">
                <img loading="lazy" src="{{ 'reviews-star.png' | asset_url }}" alt="Reviews">
                <p>
                    “So easy to use! I love that I can plug it in and forget about it. No filters or maintenance needed. The product is small and discreet, so I've placed them throughout my home. It really feels like it’s making a difference for me.”
                </p>
                <p class="probably-seen__person-title">
                    - Heather N.
                </p>
            </div>
            <div class="probably-seen__card swiper-slide">
                <img loading="lazy" class="probably-seen__person" src="{{ 'review-image-2.png' | asset_url }}" alt="Reviews">
                <img loading="lazy" src="{{ 'reviews-star.png' | asset_url }}" alt="Reviews">
                <p>
                    "I’ve personally noticed a decrease in my allergy symptoms since using this over the past few weeks. My sleep has also improved—I'm waking up less often due to coughing and itching at night."                </p>
                <p class="probably-seen__person-title">
                    - Annette D.
                </p>
            </div>
            <div class="probably-seen__card swiper-slide">
                <img loading="lazy" class="probably-seen__person" src="{{ 'review-image-3.png' | asset_url }}" alt="Reviews">
                <img loading="lazy" src="{{ 'reviews-star.png' | asset_url }}" alt="Reviews">
                <p>
                    "I bought two of them, and they were delivered in less than a week. I’ve only used it a couple of times so far, and the rooms I’ve treated have a noticeably fresher smell to me."
                </p>
                <p class="probably-seen__person-title">
                    - Sharon L.
                </p>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>