{% include 'shogun-content-handler' %}
<!doctype html>
<html>
  <head>
{% render 'replo-head' %}
    <script>
var head = document.head;
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = "https://hy.uvlizer.co/v1/lst/universal-script?ph=2ef1310bcfcbb87c184a4eb930dfb7123fd1b16bfd9ab63d4a9dc441373b90b1&tag=!clicked&origin=SHOPIFY&ref_url=" + encodeURI(document.URL) ;
head.appendChild(script);
</script>
    
<script type="text/javascript">
!function(){var geq=window.geq=window.geq||[];if(geq.initialize) return;if (geq.invoked){if (window.console && console.error) {console.error("GE snippet included twice.");}return;}geq.invoked = true;geq.methods = ["page", "suppress", "trackOrder", "identify", "addToCart", "callBack", "event"];geq.factory = function(method){return function(){var args = Array.prototype.slice.call(arguments);args.unshift(method);geq.push(args);return geq;};};for (var i = 0; i < geq.methods.length; i++) {var key = geq.methods[i];geq[key] = geq.factory(key);} geq.load = function(key){var script = document.createElement("script");script.type = "text/javascript";script.async = true; if (location.href.includes("vge=true")) {script.src = "https://s3-us-west-2.amazonaws.com/jsstore/a/" + key + "/ge.js?v=" + Math.random();} else {script.src = "https://s3-us-west-2.amazonaws.com/jsstore/a/" + key + "/ge.js";} var first = document.getElementsByTagName("script")[0];first.parentNode.insertBefore(script, first);};geq.SNIPPET_VERSION = "1.6.1";
geq.load("OO9H1NQ");}();
</script>
<script>geq.page()</script>
    
<style>
.product-slider-wrapper .slick-arrow.slick-next,.product-slider-wrapper .slick-arrow.slick-prev {
    
    z-index: 1 !important;
}
</style>
    <!-- Protects Site from URL Injection -->

{%- if request.path == '/collections/vendors' and collection.all_products_count == 0 -%}
  <meta name="robots" content="noindex">
{%- endif -%}
    
<!--
888888b.                              888                88888888888 888                                      
888  "88b                             888                    888     888                                      
888  .88P                             888                    888     888                                      
8888888K.   .d88b.   .d88b.  .d8888b  888888 .d88b.  888d888 888     88888b.   .d88b.  88888b.d88b.   .d88b.  
888  "Y88b d88""88b d88""88b 88K      888   d8P  Y8b 888P"   888     888 "88b d8P  Y8b 888 "888 "88b d8P  Y8b 
888    888 888  888 888  888 "Y8888b. 888   88888888 888     888     888  888 88888888 888  888  888 88888888 
888   d88P Y88..88P Y88..88P      X88 Y88b. Y8b.     888     888     888  888 Y8b.     888  888  888 Y8b.     
8888888P"   "Y88P"   "Y88P"   88888P'  "Y888 "Y8888  888     888     888  888  "Y8888  888  888  888  "Y8888  
-->
    
    <title>
      {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags |
      join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{
      current_page }}{% endif %}{% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
 <style>
    .pricebox .igComparePrice span {
    color: #d53600 !important;
}

.pricebox .igComparePrice {
    color: #d53600 !important;
    text-decoration: line-through;
}
   .containern {
    width: 100%;
}
    </style>

    
    <link rel="canonical" href="{{ canonical_url }}" />
    <link href="https://static.boostertheme.co" rel="preconnect" crossorigin>
    <link rel="dns-prefetch" href="//static.boostertheme.co">
    <link href="https://theme.boostertheme.com" rel="preconnect" crossorigin>
    <link rel="dns-prefetch" href="//theme.boostertheme.com">
    <link href="https://fonts.shopifycdn.com" rel="preconnect" crossorigin>
    <link rel="dns-prefetch" href="//fonts.shopifycdn.com">
  
    <link rel="preload" href="https://static.boostertheme.co/js/supportscreen.min.js,theme.5_1_3.min.js" as="script">
    <link rel="prefetch" href="https://static.boostertheme.co/js/supportscreen.min.js,theme.5_1_3.min.js">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="facebook-domain-verification" content="o3qosldbmc2c2hpxk3obxecc556uxu" />
    
    {% if settings.favicon != blank %}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center' }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32', crop: 'center' }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16', crop: 'center' }}">
      <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
      <meta name="msapplication-TileColor" content="{{settings.primaryFill}}">
      <meta name="theme-color" content={{settings.primaryFill}}">
    {% endif %}{% render 'option' %}
                                                                
                                                           

    {% capture editor_check %}{% section 'placeholder_section' %}{% endcapture %}
    {% if editor_check contains 'data-shopify-editor-section' %}
      {% assign is_editor = true %}
    {% else %}
      {% assign is_editor = false %}
    {% endif %}

    {% if is_editor %}
      {{ content_for_header }}
      {% assign is_admin = true %}
    {% else %}
      {% capture admin_check %}{% render 'header-scripts.zipifypages', renderctx: 'thm' %}{{ content_for_header }}{% endcapture %}
      {{ admin_check }}
      {% if admin_check contains 'previewBarInjector' or admin_check contains 'adminBarInjector' %}
        {% assign is_admin = true %}
      {% else %}
        {% assign is_admin = false %}
      {% endif %}
    {% endif %}
        
     
    <style>
    {% render 'global-scss' %}
    </style>
    {% unless settings.headHTML == blank %}
      {{settings.headHTML}}
    {% endunless %}
    {% unless settings.headJS == blank %}
      <script>
      {{settings.headJS}}
      </script>
    {% endunless %}
  
  {% render 'shogun-head' %}
        
                                                               
<style>
  .card--default .card__price--sale .card__price--old  {
    background: transparent !important;
    
}
.card--default .card__price--sale .card__price--old span {
    background: transparent !important;
    color: #686363 !important;
}
  span.jsPrice.igPrice span {
    background: transparent !important;
    color: #191d21 !important;
}

span.jsPrice.igPrice  {
   background: transparent !important;
}
.swiper-button-next, .swiper-button-prev {
    width: 24px!important;
    height: 24px!important;
    background: #fff;
    border-radius: 50%;
    margin-top: -36px!important;
}
.swiper-button-next:after,.swiper-button-prev:after {
    font-size: 14px!important;
    color: #D53600;
}
  </style>

	  

  {% include 'itc-bootstrap' %}
{% if template contains 'uvlizer-home-disinfection-device' %}
{% else %}
    <script >
    (function(i,s,o,g,r,a,m){i['SplititObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window, document, 'script', '//upstream.production.splitit.com/v1/dist/upstream-messaging.js?v='+(Math.ceil(new Date().getTime()/100000)), 'splitit');
    splitit('init', { apiKey: '5fce0548-65f3-487c-b6bf-012419b5b5fa', lang: '{{ shop.locale }}', currency: '{{ cart.currency.iso_code }}', currencySymbol: '{{ cart.currency.symbol }}', debug: false });
</script>
{% endif %}
        
  {% include 'judgeme_core' %}
{% include 'swift_core' %} 
 
{% include 'swift_preload_font' with settings.type_header_family %}
{% include 'swift_preload_font' with settings.type_base_family %}


{% if template contains 'uvlizer-home-disinfection-device' %}
  
 
{% else %}
 	{% render 'vitals-loader' %}

{% endif %}
 <meta name="google-site-verification" content="b_bFY_MBrRHZHwH5H5B8rhORaT0U6o2wANu_37POStM" />

<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="styles.css"></noscript>

    {% if template contains 'replo' %}
        <style>
          body[class^="template--replo"] span,
              [data-replo-repeated-index] span {
            color: inherit;
          }
        </style>
    {% endif %}
    
    {% render 'header-scripts' %}

    <script>
    window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
    window._template = {
        directory: "{{ template.directory }}",
        name: "{{ template.name }}",
        suffix: "{{ template.suffix }}"
    }
  </script> 
                <script src="https://cdn.intelligems.io/5faa0d730ee8.js"></script>
    
</head>
  {% if template.name == "index" %} 
    <script>
    window.location.replace("/pages/home-page-new");
  </script>
    {% endif %}
  <body class="template--{{ template.suffix }}">
    {% section 'ab-slider' %}
    
          <!--
888888b.                              888                88888888888 888                                      
888  "88b                             888                    888     888                                      
888  .88P                             888                    888     888                                      
8888888K.   .d88b.   .d88b.  .d8888b  888888 .d88b.  888d888 888     88888b.   .d88b.  88888b.d88b.   .d88b.  
888  "Y88b d88""88b d88""88b 88K      888   d8P  Y8b 888P"   888     888 "88b d8P  Y8b 888 "888 "88b d8P  Y8b 
888    888 888  888 888  888 "Y8888b. 888   88888888 888     888     888  888 88888888 888  888  888 88888888 
888   d88P Y88..88P Y88..88P      X88 Y88b. Y8b.     888     888     888  888 Y8b.     888  888  888 Y8b.     
8888888P"   "Y88P"   "Y88P"   88888P'  "Y888 "Y8888  888     888     888  888  "Y8888  888  888  888  "Y8888  
-->
    {% unless settings.blank_pages contains page.handle %}
      <div class="container template-{{ request.page_type | handle }} {{ template | replace: '.', '-' | handle }}">

        {% if page.template_suffix contains 'device-second-updated-2x-offer_US-var-1' or page.template_suffix contains 'device-second-updated-2x-offer_US-var-2' %}
            {% section 'top-info-bar_US' %}
        {% elsif page.template_suffix contains 'device-second-updated-2x-offer_CA-var-1' or page.template_suffix contains 'device-second-updated-2x-offer_CA-var-2' %}
            {% section 'top-info-bar_CA' %}
        {% elsif page.template_suffix contains 'device-second-updated-2x-offer_AU-var-1' or page.template_suffix contains 'device-second-updated-2x-offer_AU-var-2' %}
            {% section 'top-info-bar_AU' %}
        {% elsif page.template_suffix contains 'device-second-updated-2x-offer_UK-var-1' or page.template_suffix contains 'device-second-updated-2x-offer_UK-var-2' %}
            {% section 'top-info-bar_UK' %}
        {% else %}
            {% section 'top-info-bar' %}
        {% endif %}

        <div id="booster__popup--holder" class="booster__popup--holder">
      </div>
    {% endunless %}
    {% unless template contains 'uvlizer' or settings.blank_pages contains page.handle %}
      {% if template.suffix == 'no-header' or template.suffix == 'landing-no-header' %}
      {% elsif template.suffix == 'landing-alt-header' %}
        {% section 'header-alt' %}
      {% else %}
        {% section 'header' %}
      {% endif %}
    {% endunless %}
      <div style="position: relative;">
        {% section 'bottom-info-bar' %}
      </div> 
       
 


      <div id="quickbuy__modal" class="modal"><div onclick="closeModal(event)" class="overlay"></div><div class="content"></div></div>

      {% if settings.recentlyBought %}
        <a id="recently-bought--holder" class="recently-bought--holder {% unless settings.recentlyBoughtMobile -%}hide-mobile{%-endunless-%}">
          <div class="recently-bought--img-ratio"><div class="recently-bought--img"><img data-swift-lazy="1" loading="lazy" src=""></div></div>
          <div class="recently-bought--info">
            <div class="recently-bought--who"></div>
            <div class="recently-bought--what"></div>
            <div class="recently-bought--price"><span class="current-price"></span><span class="old-price"></span></div>
            <div class="recently-bought--when"></div>
          </div>
        </a>
        <script>
          const recentlyBoughtConfig = { useNames: {{settings.recentlyBoughtNames}}, nameFormat: '{{settings.recentlyBoughtNameFormat}}', allProductsUrl: '{{routes.all_products_collection_url}}' }
        </script>
      {% endif %}

      <div class="add-to-cart__success--holder modal">
        {% unless settings.cartAction == 'message' %}<div onclick="closeModal(event)" class="overlay add-to-cart__success--overlay"></div>{% endunless %}
        <div class="add-to-cart__success" id="checkout--success">
        {% render 'add-to-cart__template--success' %}
        </div>
      </div>

        

      <main role="main">        
        
        {{ content_for_layout }}
        

        {% unless settings.blank_pages contains page.handle %}
          <div class="wrapper--bottom">
            {% section 'info-badges' %}
            
            {% section 'footer' %}
            {% section 'subfooter' %}
            
          </div>
        {% endunless %}
      </main>
    </div>

    {% if settings.floatingContactPage != blank and settings.floatingContact %}
    <a href="{{pages[settings.floatingContactPage].url}}" class="fcontact__button fcontact__button--{{settings.floatingContactPosition}} {% unless settings.floatingContactMobile %}hide-mobile{% endunless %}">{% render 'get-icon', icon: 'mail' %}</a>
    {% endif %}

    {% if settings.messengerID != 'Your page ID here' and settings.messenger %}
    {% unless settings.optimizedMessenger %}
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };
      </script>
      <div class="fb-customerchat"
      attribution=setup_tool
      page_id="{{settings.messengerID}}"
      theme_color="{{settings.messengerColor}}"
      logged_in_greeting="{{settings.messengerGreeting}}"
      logged_out_greeting="{{settings.messengerGreeting}}">
      </div>
      <script id="facebook-jssdk" src="https://connect.facebook.net/{{-settings.messengerLang-}}/sdk/xfbml.customerchat.js" async defer></script>
      {% else %}
      <a target="_blank" href="https://m.me/{{settings.messengerID}}" style="background: {{settings.messengerColor}};color: {% if settings.messengerColor == '#ffffff' %}black{% else %}white{%endif%}" class="messenger--simple"><i class="uil uil-facebook-messenger"></i></a>
      {% endunless %}
    {% endif %}

      <script>
        {% capture locales %}
        {
          {% if settings.multilanguage %}
            {% for locale in shop.enabled_locales %}
            "{{locale.iso_code | downcase}}": {
              primary: {{locale.primary}},
              url: "{{locale.root_url}}"
            },
            {% endfor %}
          {% endif %}
        }
        {% endcapture %}
        {% capture currencies %}
        [
        {% unless settings.shopCurrency == 'none' %}
          {% if settings.shopCurrency == 'convert' %}
              {% assign currencyArr = settings.enabledCurrencies | upcase | replace: ' ', '' | split: ',' %}
              {% unless currencyArr contains shop.currency.iso_code %}
              "{{shop.currency.iso_code | upcase}}",
              {% endunless %}
              {% for currency in currencyArr %}
              "{{currency | strip}}",
              {% endfor %}
          {% else %}
                  {% for currency in shop.enabled_currencies %}
                      "{{currency.iso_code | upcase}}",
                  {% endfor %}
          {% endif %}
        {% endunless %}
        ]
        {% endcapture %}

        const bstri18n = {
          locales: {{locales}},
          currencies: {{currencies}},
          currency_mode: "{{settings.shopCurrency}}",
          currency_format: "{{shop.money_with_currency_format}}"
        }
      </script>

    {% if settings.gdpr %}
      <div id="bstr--notice" class="gdpr__holder">
        <div class="gdpr__notice">
          <div class="gdpr__text">
            {{settings.gdprText}}
          </div>
          <div class="gdpr__buttons">
            {% render 'button--onclick', text: settings.gdprAccept, style: 'data-gdpr-accept', type: 'primary' %}
          </div>
        </div>
      </div>
    {% endif %}

    <template id="productCardTemplate">
      {% render 'product-card-template' %}
    </template>

    <script>
      {% capture emptySearch %}
        {% for item in collections[settings.emptySearch].products limit: 5 %}
          <div class="col-12 col-md-1-5">
            {% render 'product-card-search', product: item, dsize: '1-5' %}
          </div>
        {% endfor %}
      {% endcapture %}
      const emptySearch = `{{emptySearch}}`;
      {% render 'shop-info' %}
      const _settings = {{settings | json}};
      const _bstrLocale = {
        buttons: {
          sold_out: `{{'general.buttons.sold_out' | t | strip}}`,
          select: `{{'general.buttons.add_to_cart_selection' | t | strip}}`,
          adding: `{{'general.buttons.add_to_cart_loading' | t | strip}}`
        },
        recentlyBought: {
          purchased: `{{'recently_bought.purchased' | t | strip}}`,
          ago: `{{'recently_bought.ago' | t | strip}}`,
          someone: `{{'recently_bought.someone' | t | strip}}`
        }
      }
    </script>


    {{ "/services/javascripts/currencies.js" | script_tag }}
    <script async defer src="https://static.boostertheme.co/js/supportscreen.min.js,theme_5_1_3.min.js" onload="initTheme();"></script>
    
    {{ 'unicons.css' | asset_url | stylesheet_tag }}
 
    {% unless settings.bodyHTML == blank %}
      {{settings.bodyHTML}}
    {% endunless %}
    {% unless settings.bodyCSS == blank %}
      <style>
        {{settings.bodyCSS}}
      </style>
    {% endunless %}
    {% unless settings.bodyJS == blank %}
      <script>
        {{settings.bodyJS}}
      </script>
    {% endunless %}
    {% if settings.reviewApp == "alireviews" or settings.jQuery %}
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous" defer></script>
    {% endif %}
                           
  <!--
888888b.                              888                88888888888 888                                      
888  "88b                             888                    888     888                                      
888  .88P                             888                    888     888                                      
8888888K.   .d88b.   .d88b.  .d8888b  888888 .d88b.  888d888 888     88888b.   .d88b.  88888b.d88b.   .d88b.  
888  "Y88b d88""88b d88""88b 88K      888   d8P  Y8b 888P"   888     888 "88b d8P  Y8b 888 "888 "88b d8P  Y8b 
888    888 888  888 888  888 "Y8888b. 888   88888888 888     888     888  888 88888888 888  888  888 88888888 
888   d88P Y88..88P Y88..88P      X88 Y88b. Y8b.     888     888     888  888 Y8b.     888  888  888 Y8b.     
8888888P"   "Y88P"   "Y88P"   88888P'  "Y888 "Y8888  888     888     888  888  "Y8888  888  888  888  "Y8888  
-->
  
{% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: ocuapp %}
{% if page.handle == 'uvlizer-sale-bf-special' %}
<div style="display:none">

{% assign product = all_products["uvlizer"] %}

<div id="judgemerealbadge">

{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: all_products['uvlizer-tower'] %}

</div>

</div>
<script>
  document.addEventListener('DOMContentLoaded',function() {
      document.querySelector('#judgeme_badge_placeholder').appendChild(document.querySelector('#judgemerealbadge'));
      document.querySelector('#judgeme_widget_placeholder').appendChild(document.querySelector('#judgemeproductreviews'));
      document.querySelector('#judgeme_widget_placeholder_tablet').appendChild(document.querySelector('#judgemeproductreviews'));


  },false);
</script>
{% endif %}
                                 
                        {% render 'option1' %}  
  <script>
    Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
    get: function () {
    return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
    }});
    document.body.addEventListener("click", playVideoOnLowPower);
    document.body.addEventListener("touchstart", playVideoOnLowPower);
    function playVideoOnLowPower(){
    try{
    const videoElements = document.querySelectorAll("video[autoplay]");
    for (i = 0; i < videoElements.length; i++) {
    if (videoElements[i].playing) {
    // video is already playing so do nothing
    console.log('Playing');}
    else {
    // video is not playing so play video now
    videoElements[i].play();
    console.log('Not Playing');
    }}}
    catch(err) {
    console.log(err);
    }}
  </script>                          

<!--Gorgias Chat Widget Start-->
<script async defer id="gorgias-chat-widget-install-v3" 
    src="https://config.gorgias.chat/bundle-loader/01GYCBSK0CEVRQTSTF2B5A0CGG?source=shopify1click">
</script>
<script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});
</script>
<!--Gorgias Chat Widget End-->



<script>

  window.addEventListener('DOMContentLoaded', function() {
    loadScript('https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js', true, function() {
      var bundleSwiper = new Swiper(".bundleSwiper", {
        slidesPerView: "auto",
        spaceBetween: 24,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });

      var gallerySwiper = new Swiper('.gallery__default .swiper-container', {
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });

      var brandSwiper = new Swiper(".brandSwiper", {
        loop: true,
        slidesPerView: 3,
        spaceBetween: 20,
        autoplay: {
          delay: 0,
          pauseOnMouseEnter: true,
          disableOnInteraction: false,
        },
        speed: 3000,
        breakpoints: {
          768: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
          1200: {
            slidesPerView: 7,
            spaceBetween: 50,
          },
        },
      });

      var reviewSwiper = new Swiper(".reviewSwiper", {
        slidesPerView: 1,
        autoHeight: true,
        pagination: {
          el: ".swiper-pagination",
        },
      });
    });
  });
</script>

<div style="display: none">
      <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'>
        {{ all_products['uvlizer-tower'].metafields.judgeme.badge }}
      </div>

      <div style='clear:both'></div>
      <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'>
        {{ all_products['uvlizer-tower'].metafields.judgeme.widget }}
      </div>

      <div class='jdgm-carousel-wrapper' data-auto-install='false' >
        {% assign jm_metafields = shop.metafields.judgeme %}
        <div class='jdgm-carousel-title-and-link'>
          <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
          <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
            <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
            <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
              from {{ shop.metafields.judgeme.all_reviews_count }} reviews
            </span>
          </span>
        </div>
        {{ jm_metafields.featured_carousel }}
      </div>

<script>  document.addEventListener( 'DOMContentLoaded', function(){document.querySelector('#judgeme_badge_placeholder').appendChild(document.querySelector('.jdgm-preview-badge'));document.querySelector('#judgeme_widget_placeholder').appendChild(document.querySelector('#judgeme_product_reviews'));document.querySelector('#judgeme_carousel_placeholder').appendChild(document.querySelector('.jdgm-carousel-wrapper'));},false);</script></div>

        {% style %}
          .textcontainer.askquestion .question-wrap:nth-child(5) {
    display: none;
}

          div#headertop nav ul li:last-child {
    display: none;
}
{% endstyle %}
        
</body>
</html>
