
<style type="text/css">
{% render 'common-css' with section as section %}

{% if section.settings.headingDivider %}
#s--{{section.id}} .section__heading--heading h2 {
  background: {% unless section.settings.backgroundColor contains 'rgba(0,0,0,0)'  %}{{section.settings.backgroundColor}}{% else %}{{settings.baseBackground}}{% endunless %};
  padding: 0px 12px;
  {% case section.settings.textAlignment %}
      {% when 'start' %}
  padding-left: 0px;
      {% when 'end' %}
  padding-right: 0px;
  {% endcase %}
}

#s--{{section.id}} .section__heading--heading::before {
  content: '';
}
{% endif %}
  
 .bundle-wrapper .blk p.old-price span {
    font-size: 22px !important;
}
  .bundle-wrapper .blk p.new-price span{
    font-size: 18px!important;
    color: #194269;
    font-weight: 700!important;
}
</style>

{% unless section.settings.product == blank %}

{% assign product = all_products[section.settings.product] %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = product.featured_image %}

<div id="s--{{section.id}} hygyh" class="{% render 'common-class', section: section, class: 'row padding__vertical featured-product', vAlign: false %}">
  <div class="row s_content layout__content">
    {% render 'block__general--heading' with section as section %}
    <div class="col-12 col-md-6 gallery__default">
      <span class="monly title-top"> {% render 'block__product-page--title' with product as product %}</span>
      <div class="product-slider-wrapper">
        <div class="product-slider">
      	{% for image in product.images %}
           {% unless image.attached_to_variant? %}

        <span data-variants="{% for var in image.variants %}{{var.id}}|{% endfor %}" {% if forloop.first %}class="active"{%endif%} data-media-type="image" data-image-index="{{forloop.index0}}" data-high-res-image="{{ image.src | img_url: '1280x' }}" data-href="{{ image.src | img_url: '650x' }}" alt="{{image.alt | escape}}" onclick="boosterProductPage.galleryChangeImage(event, this)">
          {% render 'image', size: '900x', src: image.src, alt: image.alt %}
        </span>
            {% endunless %}

      {% endfor %}
        </div>
      </div>
      
      <span class="gicon donly">   
      <img src="{{ section.settings.productbottom | img_url: 'master' }}"  >
      <div class="three-part">
          <div id="p1"><p>{{section.settings.sec1}}</p></div>
           <div id="p1"><p>{{section.settings.sec2}}</p></div>
           <div id="p1"><p>{{section.settings.sec3}}</p></div>
      </div>
  <style>
  .three-part #p1 {
    width: 33.33%;
    float: left;
    text-align: center !important;
    font-size: 13px;
      font-weight: 700;
}
  #p1 p {
  color:#174167;
  margin-top:15px;
  }

.three-part {
    display: inline-block;
    width: 90%;
}
  </style>
  </span>
</div>

    <div class="col-12 col-md-6 product__page--info unflex">
      <span class="dtitle"> {% render 'block__product-page--title' with product as product %}</span>
      {% render 'block__product-page--price' with product as product %}

{% comment %}
 <div style="margin-bottom: 20px; text-align: inherit; color: inherit; font-family: inherit; cursor: pointer;" 
  id="splitit-container" data-splitit="true" data-splitit-amount="79.95" 
  data-splitit-num-installments="3" data-splitit-type="product-description"
  data-splitit-unique-id="splitit-container.1659932725401.0.09065139977643422">
  <div style="padding: 0px; margin: 0px;">
  <span class="-splitit--text -splitit--text-text" 
  style="padding: 0px; margin: 0px 3px 0px 0px; line-height: 28px;">From</span>
  <span class="-splitit--text -splitit--text-price ""
  style="padding: 0px; margin: 0px 3px 0px 0px; line-height: 28px;"><span class="igPrice"
   data-product-id="{{product.id}}"  data-variant-id="{{current_variant.id}}" data-price-multiplier="0.33">$26.65</span></span>
  <span class="-splitit--text -splitit--text-text" 
  style="padding: 0px; margin: 0px 3px 0px 0px; line-height: 28px;">/month with</span><span class="-splitit--logo" style="cursor: pointer; padding: 0px; margin: 0px;"><img src="//upstream.production.splitit.com/v1/img/logo/logo-purple.svg?v=1.3.35" alt="Splitit ™" height="28" loading="lazy" style="height: 28px; padding: 0px; margin: -4px 5px 0px; vertical-align: middle;"></span><a class="-splitit--learn-more"  id="mybtn"    style="padding: 0px; margin: 0px; font-size: 0.9em; top: -0.05em; position: relative; text-decoration: none;">Learn more</a></div></div>
{% endcomment %}

{% if section.settings.promo != blank %}
      <div class="new_message">

            <div class="icon_area">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" viewBox="0 0 28 30" fill="none">
  <g filter="url(#filter0_d_3829_2163)">
    <path d="M14 2C8.48 2 4 6.48 4 12C4 17.52 8.48 22 14 22C19.52 22 24 17.52 24 12C24 6.48 19.52 2 14 2ZM15 17H13V11H15V17ZM15 9H13V7H15V9Z" fill="#CB0A20"/>
  </g>
  <defs>
    <filter id="filter0_d_3829_2163" x="-2" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3829_2163"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3829_2163" result="shape"/>
    </filter>
  </defs>
</svg>
            </div>

            <div class="text_are">
              {{ section.settings.promo }}
            </div>
            
          </div>
        {% endif %}

        <div class="bundle-wrapper ffff">
  <p class="bndl-title">Choose your bundle</p>
  
  <div class="row-block first-block">
      	 <div class="blk b1 offer-box">
       <p class="offer-text">Most Popular</p>
       <p class="bprice">{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 0 }}% OFF</p>
    </div>
     {% unless section.settings.productpack2 == blank %}
      {% assign product2 = all_products[section.settings.productpack2] %}
      {% if product2 %}
     <div class="blk b1 offer-box">
       <p class="offer-text">Most Popular</p>
       <p class="bprice">{{ product2.compare_at_price | minus: product2.price | times: 100.0 | divided_by: product2.compare_at_price | round: 0 }}% OFF</p>
    </div>
     {% endif %}
     {% endunless %}
     {% unless section.settings.productpack3 == blank %}
      {% assign product3 = all_products[section.settings.productpack3] %}
     {% if product3 %}
     <div class="blk b1 offer-box">
       <p class="offer-text">Best Value</p>
       <p class="bprice">{{ product3.compare_at_price | minus: product3.price | times: 100.0 | divided_by: product3.compare_at_price | round: 0 }}% OFF</p>
    </div>
 {% endif %}
     {% endunless %}
  </div>
  <div class="row-block">
  
    <div class="blk pselection first-box b1 {% if produc.available %}available{% else %}not-availbe{% endif %}" data-qty="1"  v_id="{{ product.variants.first.id }}" data-variant="{{ variant.id }}">
      <div class="img-wrap">
    	<img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Buy_1_Get_20.png?v=1667034211">
        </div>
      <p>1 <span class="device-text">Device</span></p>
      <p class="bprice old-price"> <span class="igComparePrice" data-product-id="{{product.id}}">{{product.compare_at_price | times: 1 | money}}</span></p>
      <p class="bprice new-price"> <span class="igPrice" data-product-id="{{product.id}}">{{product.price| times: 1 | money}}</span></p>
    </div>

     {% unless section.settings.productpack2 == blank %}
      {% assign product2 = all_products[section.settings.productpack2] %}
      {% if product2 %}
      <div class="blk pselection second-box b1 {% if variant.available %}available{% else %}not-availbe{% endif %}"  data-qty="1"  v_id="{{ product2.variants.first.id }}" data-variant="{{ variant.id }}">
      <div class="img-wrap"> 
<img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Buy_2_Get_1.png?v=1666969465"> 
        </div>
      <p>2 <span class="device-text">Devices</span> + 1 FREE</p>
      <p class="bprice old-price"> <span class="igComparePrice" data-product-id="{{product2.id}}">{{product2.compare_at_price | money}}</span></p>
      <p class="bprice new-price"> <span class="igPrice" data-product-id="{{product2.id}}">{{product2.price| money}}</span></p>
    </div>
      {% endif %}
     {% endunless %}
    
    {% unless section.settings.productpack3 == blank %}
      {% assign product3 = all_products[section.settings.productpack3] %}
      {% if product3 %}
      <div class="blk pselection third-box b1 {% if variant.available %}available{% else %}not-availbe{% endif %}" data-qty="1"  v_id="{{ product3.variants.first.id }}" data-variant="{{ variant.id }}">
      <div class="img-wrap">
    	<img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/3n.png?v=1660995923" />
        </div>
      <p>3 <span class="device-text">Device</span></p>
      <p class="bprice old-price"> <span class="igComparePrice" data-product-id="{{product3.id}}">{{product3.compare_at_price | money}}</span></p>
      <p class="bprice new-price">  <span class="igPrice" data-product-id="{{product3.id}}">{{product3.price| money}}</span></p>
    </div>
     {% endif %}
                                 {% endunless %}
  </div>

</div>
      {% if section.settings.showDescription %}{% render 'block__product-page--description' with product as product %}{% endif %}
      {% render 'block__product-page--swatch' with product as product %}
      
      
      
    
      <div class="high-value-nproduct" style="display:none;">
        <p class="sell-out-rist">Sell-Out Risk: <span>High</span> </p>
        <p class="free-shipping">FREE 24/7 SHIPPING FROM CALIFORNIA</p>
		</div>
      
       
   <div class=" watch-item">
       {% for block in section.blocks %}
      {% render 'get-block', block: block, product: product, form: form %}
      {% endfor %}
     <div class="inventoryWrapper ">
  {% if current_variant.inventory_quantity > 0 and current_variant.inventory_management == 'shopify' %}
         <p><span class="rqty">{{ current_variant.inventory_quantity }}</span> / <span>10,000</span> <strong> Discounted Pieces Left</strong></p>
  {% endif %}
</div>
      </div>
         
      <div class="btn-wrap">
      	<button  v_qty="1" v_id="{{ product.variants.first.id }}" class="addcart btn-add-to-cart">Add to cart</button>
        	<span class="go-cart__trigger js-go-cart-trigger">
              <span class="donly">View Cart</span> <span class="count donly"><span class="donly">(</span><span class="js-go-cart-counter">({{- cart.item_count -}})</span><span class="donly">)</span></span>
</span>
      </div>
      
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/payment-icon_d7622d5c-263a-4b77-bec8-0805b88d6e19.png?v=1660996393"  />
       <span class="gicon monly">  <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fast-shiping.png?v=1660996284" /></span>
    </div>

  </div>
</div>

{% else %}

<div id="s--{{section.id}}" class="{% render 'common-class', section: section, class: 'row padding__vertical featured-product', vAlign: false %}">
  <div class="row s_content layout__content">
    {% render 'block__general--heading' with section as section %}
    <div class="col-12 col-md-6 gallery__default">
      <div class="gallery">
       
        <div class="col col-md gallery__image zoom">
          {{'product-1' | placeholder_svg_tag: 'lazyload gallery__img gallery__fake'}}
          <button class="zoom-btn" data-target="" value="+" onclick="boosterProductPage.zoomIn(this)">+ Zoom in</button>
        </div>
        
         <div class="col-min gallery__thumbnails--holder">
          <div class="gallery__thumbnails">
          {% for image in (1..6) %}
            <a {% if forloop.first %}class="active"{%endif%}>
              {{ 'product-' | append: image | placeholder_svg_tag}}
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 product__page--info unflex">
      <h1 
        class="product__title">
        Demo product
      </h1>
      <div 
        class="product__price--holder">
        <span class="product__price jsPrice">$179.00</span>
      </div>
      <div class="product__description {% if block.settings.noMargin %}margin__bottom--reduced{%endif-%}">
        <span class="product__description--title">Product Description</span>
        <p>This is an example product. Select a product inside this section's settings in order for it to be usable.</p>
      </div>
      <div class="product__atc {% if block.settings.noMargin %}margin__bottom--reduced{%endif-%}" {{block.shopify_attributes}}>
        <input style="display: none;">
        <div class="quantity--input">
            <button class="quantity--input__button quantity--input__incr">-</button><!--
            --><input class="quantity--input__input" value="1" data-qty-input type="number" name="quantity" min="1"><!--
            --><button class="quantity--input__button quantity--input__decr">+</button>
        </div>
        {% render 'add-to-cart-button--disabled', type: 'secondary' %}
    </div>
    </div>

  </div>
</div>

{% endunless %}


{% schema %}
{
    "name": {
        "en": "Featured product"
    },
    "settings": [
      {
      "type": "header",
      "content": "Help"
    },
    {
      "type": "paragraph",
      "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458157889)"
    },


         {
    "type": "header",
    "content": "Section Below Product Gallery"
},
      
{
  "type": "image_picker",
  "id": "productbottom",
  "label": "Image Below Product Gallery"
},
{
    "type": "text",
    "id": "sec1",
    "label": "Section 1 Text",
    "default": "Section 1 Text"
},
      {
    "type": "text",
    "id": "sec2",
    "label": "Section 2 Text",
    "default": "Section 2 Text"
},
      {
    "type": "text",
    "id": "sec3",
    "label": "Section 3 Text",
    "default": "Section 2 Text"
},
    {
  "type": "richtext",
  "id": "promo",
  "label": "Promo Text",
  "default": "<p><b>Important note:</b> December 12 is your last chance to place an order with <b>FREE SHIPPING</b> and guaranteed <b>delivery before Christmas Day.</b></p>"
},  
      
    {
        "type": "header",
        "content": "Section layout"
    },
    {
      "type": "radio",
      "id": "displayFor",
      "label": "Show this section on",
      "options": [
        {"value": "display--both", "label": "All devices"},
        {"value": "hide-desktop", "label": "Mobile only"},
        {"value": "hide-mobile", "label": "Desktop only"}
      ],
      "default": "display--both"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {"value": "default", "label": "Global default"},
        {"value": "boxed", "label": "Boxed"},
        {"value": "stretchBg", "label": "Full width background"},
        {"value": "stretchContent", "label": "Full width"}
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "nomargin",
      "default": false,
      "label": "Remove section's bottom margin"
    },
    {
      "type": "range",
      "id": "height",
      "label": "Minimum height",
      "default": 0,
      "min": 0,
      "max": 800,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Section padding",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px"
    },
    {
    "type": "header",
    "content": "Section background"
  },
  {
    "id": "backgroundColor",
    "type": "color",
    "default": "rgba(0,0,0,0)",
    "label": "Background color"
  },
    {
    "type": "header",
    "content": "Section heading"
},
{
    "type": "text",
    "id": "heading",
    "label": "Section heading",
    "default": "Check out this section's heading"
},
{
    "type": "color",
    "id": "headingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Heading Color"
},
{
    "type": "text",
    "id": "subheading",
    "label": "Section subheading",
    "default": "THIS IS A SUBHEADING"
},
{
    "type": "color",
    "id": "subheadingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Subheading Color"
},
{
    "type": "select",
    "id": "subheadingPosition",
    "label": "Subheading position",
    "options": [
      {"value": "above", "label": "Above heading"},
      {"value": "below", "label": "Below heading"}
    ],
    "default": "above"
},
{
    "type": "select",
    "id": "headingAlignment",
    "label": "Heading alignment (left to right)",
    "options": [
    {"value": "start", "label": "Left"},
    {"value": "center", "label": "Center"},
    {"value": "end", "label": "Right"}
    ],
    "default": "center"
},
    {
      "type": "header",
      "content": "Product settings"
    },
    {
        "type": "product",
        "label": "Product Pack 1",
        "id": "product"
    },
	 {
      "type": "product",
      "id": "productpack2",
      "label": "Product Pack 2"
    },
    {
      "type": "product",
      "id": "productpack3",
      "label": "Product Pack 3"
    },
    {
      "id": "showDescription",
      "label": "Show product description",
      "type": "checkbox",
      "default": true
    }
    ],
	 "blocks": [
      {
          "type": "productPageCountdown",
          "name": "Offer countdown",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Style",
                "id": "style",
                "default": "compact",
                "options": [
                  {"value": "compact", "label": "Compact"},
                  {"value": "doublecolumn", "label": "Two columns"}
                ]
              },
              {
                "id": "title",
                "label": "Countdown title",
                "type": "text",
                "default": "LIMITED TIME OFFER"
              },
              {
                "id": "text",
                "type": "text",
                "label": "Warning text",
                "default": "The price of this item will revert back to %price% at the end of this countdown.",
                "info": "%price% will get replace by the products original price."
              }
          ]
      },
      {
          "type": "productPageTitle",
          "name": "Product title",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "header",
                "content": "Style"
              },
              {
                "id": "color",
                "type": "color",
                "label": "Custom color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "fontFamily",
                "label": "Font family",
                "type": "select",
                "options": [
                  {"value": "base", "label": "Base"},
                  {"value": "title", "label": "Title"}
                ],
                "default": "base"
              },
              {
                "id": "fontSize",
                "label": "Font size",
                "type": "select",
                "options": [
                  {"value": "small", "label": "Small"},
                  {"value": "base", "label": "Base"},
                  {"value": "medium", "label": "Medium"},
                  {"value": "big", "label": "Big"}
                ],
                "default": "medium"
              }
          ]
      },
      {
          "type": "productPagePrice",
          "name": "Product price",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "header",
                "content": "Style"
              },
              {
                "id": "color",
                "type": "color",
                "label": "Custom color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "newPriceColor",
                "type": "color",
                "label": "Reduced price color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "oldPriceColor",
                "type": "color",
                "label": "Old price color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "fontFamily",
                "label": "Font family",
                "type": "select",
                "options": [
                  {"value": "base", "label": "Base"},
                  {"value": "title", "label": "Title"}
                ],
                "default": "base"
              },
              {
                "id": "fontSize",
                "type": "select",
                "label": "Font size",
                "options": [
                  {"value": "small", "label": "Small"},
                  {"value": "base", "label": "Base"},
                  {"value": "medium", "label": "Medium"},
                  {"value": "big", "label": "Big"}
                ],
                "default": "medium"
              },
              {
                "type": "header",
                "content": "Sale"
              },
              {
                "type": "select",
                "id": "saleType",
                "label": "Show sale badge as",
                "options": [
                  {"value": "percent", "label": "Percent (%)"},
                  {"value": "amount", "label": "Money amount"},
                  {"value": "text", "label": "Only 'SALE' text"},
                  {"value": "none", "label": "Hide the sale badge"}
                ],
                "default": "percent"
              }
          ]
      },
      {
          "type": "productPageSwatch",
          "name": "Product variants (*)",
          "limit": 1,
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      },
      {
        "type": "productPageBadge",
        "name": "Image/Badges",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "image_picker",
            "label": "Badge image",
            "id": "badge"
          }
        ]
      },
      {
          "type": "productPageStock",
          "name": "Product stock",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max product stock",
                "id": "stockLeft",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"},
                  {"value": "inventory", "label": "Use real stock"}
                ],
                "default": "10"
              },
              {
                "type": "range",
                "id": "reduce",
                "label": "Reduce inventory every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "info": "If set above 0, the stock amount will be reduced by 1 in the set interval. Doesn't work with real stock inventory. If you want to disable it, set it to 0.",
                "default": 8
              }
          ]
      },
      {
          "type": "productPageDelivery",
          "name": "Icon + Text (Delivery)",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "text",
                "label": "Icon",
                "info": "Icon name copied over from Unicons icon library. You can find the list over at [Unicons](https://iconscout.com/unicons/explore/line).",
                "id": "icon"
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "richtext",
                "label": "Delivery text",
                "default": "<p>Products are usually delivered in 3-7 days.</p>",
                "id": "text"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageWatching",
          "name": "Watching product",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max people",
                "id": "max",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"}
                ],
                "default": "100"
              },
              {
                "type": "text",
                "label": "Custom Max People",
                "id": "customMax",
                "info": "This MUST be a number. It is optional. If left blank, the above value will be used."
              },
              {
                "type": "range",
                "id": "interval",
                "label": "Update the number every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "default": 8
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageInCart",
          "name": "Product in cart",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max people",
                "id": "max",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"}
                ],
                "default": "100"
              },
              {
                "type": "text",
                "label": "Custom Max People",
                "id": "customMax",
                "info": "This MUST be a number. It is optional. If left blank, the above value will be used."
              },
              {
                "type": "range",
                "id": "interval",
                "label": "Update the number every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "default": 8
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageDescription",
          "name": "Product description",
          "settings": [
            {
              "id": "heading",
              "label": "Description title",
              "default": "Product description",
              "type": "text"
            },
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      },
      {
          "type": "productPageAccordion",
          "name": "Accordion",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "text",
                "id": "heading",
                "label": "Accordion heading",
                "default": "Description"
              },
              {
                "type": "radio",
                "label": "Accordion content",
                "id": "content",
                "options": [
                  {"value": "description", "label": "Description"},
                  {"value": "reviews", "label": "Reviews"},
                  {"value": "metafield", "label": "Metafield"},
                  {"value":"page", "label": "Page"},
                  {"value": "productPage", "label": "Product specific page"},
                  {"value": "custom", "label": "Custom content"}
                ],
                "default": "description"
              },
              {
                "type": "header",
                "content": "Metafield"
              },
              {
                "type": "text",
                "id": "metafieldNS",
                "label": "Metafield namespace",
                "default": "global"
              },
              {
                "type": "text",
                "id": "metafieldKey",
                "label": "Metafield key"
              },
              {
                "type": "header",
                "content": "Page"
              },
              {
                "type": "page",
                "label": "Page to show",
                "id": "page"
              },
              {
                "type": "header",
                "content": "Custom content"
              },
              {
                "type": "html",
                "id": "customContent",
                "label": "Custom content",
                "default": "<p>Add custom content here!</p>"
              }
          ]
      },
      {
          "type": "productPageTab",
          "name": "Tab",
          "settings": [
              {
                "type": "checkbox",
                "label": "Show this tab inline",
                "info": "Will place this tag on the side of the product, instead of below everything",
                "default": false,
                "id": "showInline"
              },
              {
                "type": "text",
                "id": "heading",
                "label": "Tab heading",
                "default": "Description"
              },
              {
                "type": "radio",
                "label": "Tab content",
                "id": "content",
                "options": [
                  {"value": "description", "label": "Description"},
                  {"value": "reviews", "label": "Reviews"},
                  {"value": "metafield", "label": "Metafield"},
                  {"value": "page", "label": "Page"},
                  {"value": "productPage", "label": "Product specific page"},
                  {"value": "custom", "label": "Custom content"}
                ],
                "default": "description"
              },
              {
                "type": "header",
                "content": "Metafield"
              },
              {
                "type": "text",
                "id": "metafieldNS",
                "label": "Metafield namespace",
                "default": "global"
              },
              {
                "type": "text",
                "id": "metafieldKey",
                "label": "Metafield key"
              },
              {
                "type": "header",
                "content": "Page"
              },
              {
                "type": "page",
                "label": "Page to show",
                "id": "page"
              },
              {
                "type": "header",
                "content": "Custom content"
              },
              {
                "type": "html",
                "id": "customContent",
                "label": "Custom content",
                "default": "<p>Add custom content here!</p>"
              }
          ]
      },
      {
        "type": "productPageReviewStars",
        "name": "Review stars",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "paragraph",
            "content": "Make sure to save the settings in order to initialize reviews."
          }
        ]
      },
      {
        "type": "productPageTags",
        "name": "Tags",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "select",
            "id": "style",
            "options": [
              {"value": "swatch", "label": "Swatch"},
              {"value": "text", "label": "Text"}
            ],
            "label": "Tag style"
          },
          {
            "type": "textarea",
            "label": "Tags to exclude",
            "id": "exclude",
            "info": "Comma (,) separated list of tags to exclude. bstr-tag-* tags are excluded automatically."
          }
        ]
      },
      {
          "type": "productPageATC",
          "name": "Add to cart (*)",
          "limit": 1,
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "checkbox",
                "label": "Show Sticky ATC on Desktop",
                "id": "stickyDesktop",
                "default": true
              },
              {
                "type": "checkbox",
                "label": "Show Sticky ATC on Mobile",
                "id": "stickyMobile",
                "default": true
              }
          ]
      }
    ] 
  }
{% endschema %}