{% comment %}US{% endcomment %}
<style>
  #shopify-section-top-info-bar {
    display: none !important;
  }

  .page-uvlizer-uvo254 {
    max-width: 100% !important;
  }

  .page-uvlizer-uvo254 {
    max-width: 100% !important;
  }

  body {
    font-size: 18px;
  }

  * {
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .containern {
    max-width: 1180px;
    margin: auto;
    padding: 0 15px;
  }

  p {
    margin-bottom: 20px !important;
  }

  .textcolor {
    color: rgb(31, 31, 31);
  }

  .nheader {
    color: white;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bgimage-min.png?v=1655258536');
    background-size: cover;
  }

  #headertop {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #headertop p {
    color: #fff;
    margin: 0 !important;
    font-weight: 300;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  nav ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .brand img {
    max-width: 150px;
  }

  #headerbottom {
    padding: 0 0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 300px;
  }

  .hbleft h1 {
    line-height: 60px;

    font-size: 35px;
    text-shadow: 0 0 1px black;
    color: #8cebf0;
    font-family: Poppins, sans-serif;
    font-weight: bold !important;
    max-width: 70%;
    line-height: 45px !important;
  }

  .hbleft p {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px !important;
    color: #fff;
    font-size: 18px;

  }

  .hbleft p.first {
    font-size: 25px;
    font-weight: 600;
    max-width: 700px
  }

  .hbleft ul {
    margin: 15px 0 15px 35px;
    margin-left: 35px;
  }

  .hbleft ul li {
    margin: 10px 0;
    position: relative;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
  }

  .hbleft ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/closs.png?v=1654130518');
    background-size: cover;
    position: absolute;
    top: 0;
    left: -35px;
  }

  b,
  strong {
    font-weight: 600px;
  }

  .sectionten b,
  strong {
    font-weight: 700px;
  }

  .hbleft a {
    padding: 15px 40px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 23px;
    color: rgb(0, 0, 88);
    font-weight: bold;
  }

  .hbright img {
    width: 85%;
  }

  /*======trustpilotbazz========*/
  #trustpilotbazz {
    padding: 10px 0;
    box-shadow: 0px 2px 8px #a5a5a5;
  }

  .tustpilotbazz {
    display: grid;
    grid-template-columns: auto 310px;
    justify-content: center;
    grid-gap: 100px;
    align-items: center;
  }

  .tustpilotbazz img {
    width: 100%;
  }

  /*========Comment Review========*/
  #commentreview {
    padding: 80px 0;
  }

  .commentreview {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: center;
  }

  .crleft p {
    line-height: 30px;
    color: rgb(31, 31, 31);
  }

  .crleft p:first-child {
    margin-bottom: 30px;
  }

  .crright img {
    width: 100%;
  }

  /*=======postsecone========*/
  #askquestion h2,
  #sectiontherty h2,
  #sectionnine h2,
  #sectioneight h2,
  #sectionfive h2,
  #postsecone h2,
  #postsectwo h2,
  #postsecthree h2,
  #sectiontwelve h2,
  .commont-section h2,
  .crleft h2 {
    font-size: 35px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: bold !important;
  }

  #askquestion h2::before,
  #sectiontherty h2::before,
  #sectionnine h2::before,
  #sectioneight h2::before,
  #sectionfive h2::before,
  #postsecone h2::before,
  #postsectwo h2::before,
  .commont-section h2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 8px;
    height: 50px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
  }

  .postsecone {
    display: grid;
    grid-template-columns: 300px auto;
    padding: 30px 0;
    grid-gap: 30px;
    justify-content: center;
  }

  .postsecone .psoleft img {
    width: 100%;
  }

  .postsecone .psoright p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
  }

  .sectionnineleft {
    max-width: 600px;
  }

  /*========postsectwo=======*/
  #postsectwo {
    margin: 30px 0;
  }

  .pstwocenter {
    display: grid;
    grid-template-columns: auto 400px;
    grid-gap: 50px;
    margin: 50px 0;
    align-items: center;
  }

  .pstwocenter .pstleft {
    margin-left: 55px;
  }

  .pstleft ul li {
    line-height: 25px;
    margin-bottom: 15px;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
  }

  .pstleft li::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/checkm.png?v=1654132937');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
  }

  .postwobottom {
    margin-bottom: 45px;
    padding: 0;
    text-align: center;
    border-radius: 15px;
  }

  .postwobottom h3 {
    color: rgb(3, 45, 73);
    font-size: 30px;
  }

  /*=======PostSecThree========*/
  #postsecthree {
    background-color: #eef6f8;
    padding: 50px 0;
  }

  #postsecthree h2 {
    font-size: 30px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
  }

  #postsecthree h2::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 8px;
    height: 100px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
  }

  .postsecthree {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
  }

  .postsecthree p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
  }

  /*=======sectionfour=======*/
  #sectionfour {
    padding: 50px 0;
  }

  #sectionfour h2 {
    text-align: center;
  }

  .sectionfour {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 50px;
    margin: 50px 0;
  }

  .sectionfour p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
  }

  /*========sectionfive========*/
  #sectionfive {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .sectionnineright {
    text-align: right;
  }

  .sectionfive {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-around;
    padding: 40px 0;
  }

  .sfiveleft p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
  }

  .sfiveright {
    border-radius: 30px;
    overflow: hidden;
  }

  .sfiveright img {
    width: 100%;
  }

  .sectionfivebottom {
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
  }

  /*=========sectionsix=========*/
  #sectionsix {
    text-align: center;
    padding: 50px;
    position: relative;
    box-shadow: 0 0 30px #848d926e;
    margin: 100px 0;
  }

  .secsiximg {
    position: absolute;
    bottom: -13px;
    right: 0px;
    left: 700px;
    margin: auto;
    display: none;
  }

  .secsiximg img {
    width: 120px;
  }

  #sectionsix h2 {
    color: rgb(3, 45, 73);
    padding: 30px;
  }

  #sectionsix h3 {
    font-size: 50px;
    color: #66B3E2;
    font-weight: 900;
  }

  /*========sectionsaven=======*/
  #sectionsaven {
    padding: 50px 0;
  }

  #sectionsaven p {
    text-align: center;
    line-height: 35px;
    color: rgb(31, 31, 31);
    font-size: 25px;
    margin-bottom: 0 !important;
  }

  .fakesliderbox {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 50px;

  }

  /*=======sectioneight=========*/
  #sectioneight {
    padding: 50px 0;
    background-color: #f0f5f8;
  }

  #sectioneight p.segttc {
    text-align: center;
    line-height: 30px;
    width: 700px;
    margin: 30px auto;
  }

  #sectioneight h3.segttc {
    text-align: center;

  }

  .sectioneight {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    grid-gap: 30px;
    padding: 40px 0;
  }

  .sectioneightleft img {
    width: 100%;
  }

  .sectioneightright p {
    line-height: 25px;
    color: rgb(31, 31, 31);
  }

  .sectioneightbottom {
    text-align: center;
  }

  .sectioneightbottom span {
    color: rgb(57, 175, 221);
  }

  /*=========sectionnine=========*/
  .sectionnine {
    display: grid;
    grid-template-columns: auto 300px;
    margin: 50px 30px;
    justify-content: center;
  }

  .sectionnineleft p {
    line-height: 30px;
    margin-bottom: 20px !important;
    color: rgb(31, 31, 31);
  }

  .sectionnineright img {
    width: 70%;
  }

  .sectionninebottom {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
  }

  .sectionninebottom .secninebox {
    border-radius: 50px;
    color: white;
    overflow: hidden;
    height: 350px;
    background-color: #184268;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .secninebox img {
    width: 130px;
    margin: 0 auto;
  }

  .secninebox .price {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 !important;
  }

  .secninebox .feature {
    margin: 0 0 !important;
    font-size: 25px;
    color: #fff;
  }

  /*=========sectionten==========*/
  #sectionten {
    padding: 30px 0 80px 0;
  }

  #sectionten h2 {
    color: rgb(3, 45, 73);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 21px;

  }

  .gallery__default .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 450px;
  }

  .bndl-title {
    color: #194269;
    font-weight: 500 !important;
    margin-bottom: 20px !important;
  }

  .rqty {
    color: #c93a3a !important;
  }

  @media only screen and (min-width: 990px) {
    #sectionten h2 {
      font-size: 30px !important;
    }

  }

  .sticky-element {
    position: sticky;
    top: 35px;
  }

  .benefits.bold {
    font-weight: 600;
  }

  .sectionten {
    margin: 50px 30px;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    grid-row-gap: 50px;
  }

  .sectiontenbox {
    text-align: center;
    color: rgb(31, 31, 31);
  }

  .sectiontenbox img {
    width: 180px;
  }

  .sectiontenbox p {
    margin-top: 15px;
    line-height: 25px;
    color: rgb(31, 31, 31);
  }

  /*=========sectioneleven========*/
  .sectioneleven {
    margin-top: 50px;
  }

  #sectioneleven h2 {
    text-align: center;
    color: rgb(3, 45, 73);
    font-size: 22px;
    margin-bottom: 20px;
  }

  .sectioneleven {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 80px;
  }

  .secelevenleft {}

  .hubcontainerone {
    width: 100%;
    margin-left: auto;
    position: sticky;
    top: 50px;
    padding-bottom: 100px;
    background-color: #EEF6F8;
    padding: 30px 0 100px 0;
  }

  .binner {
    max-width: 490px;
    margin-left: auto;
  }

  .hubcontainertwo {
    width: 490px;
    margin-right: auto;
    padding-left: 75px;
  }

  .secelevenright h3,
  .secelevenleft h3 {
    font-size: 30px;
    color: rgb(57, 175, 221);
    padding-left: 70px;
    margin: 30px 0 40px 0 !important;
    position: relative;
  }

  .secelevenright h3::before,
  .secelevenleft h3::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 50px;
    height: 8px;
    background-color: rgb(57, 175, 221);
    border-radius: 5px;
  }

  .hubcontainertwo h4 {
    font-size: 20px;
    color: rgb(0, 14, 75);
    margin: 30px 0 20px 0 !important;
    position: relative;
    font-weight: bold;

  }

  .hubcontainertwo h4::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -50px;
    border: 7px solid rgb(0, 14, 75);
    transform: rotate(45deg);
  }

  .yeslist li {
    padding: 15px 0;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
  }

  .yeslist li::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/check_mark.png?v=1654107771');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
  }

  .nolist li {
    padding: 15px 0;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
  }

  .nolist li::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/cross_check.png?v=1654107771');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
  }


  @media only screen and (min-width: 990px) {

    #sectioneleven h2 {

      font-size: 30px !important;

    }
  }


  /*==========addtocardsection===========*/
  .addtocardsection {
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: space-between;
  }

  #addtocardsection {
    padding: 80px 0;
  }

  .addtocardsectionright h2 {
    color: rgb(0, 14, 75);
  }

  .review,
  .watching,
  .buying {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }

  .review .star svg,
  .watching img,
  .buying img {
    width: 30px;
  }

  /*=======sectiontwelve========*/
  #sectiontwelve {
    padding: 50px 0;
  }

  #sectiontwelve h2 {
    font-size: 35px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
  }

  #sectiontwelve h2::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 8px;
    height: 100px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
  }

  .sectiontwelve {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    padding: 50px 0;
  }

  #sectiontwelve p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
  }

  .sectiontwelve .pstrright {
    text-align: center;
  }

  .sectiontwelve .pstrright img {
    width: 300px;
    margin-top: -40px;
  }

  .textcontainer {
    margin: 0 30px;
  }

  .contentmargine {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .limitedproductbox {
    background-size: cover;
    display: flex;
    border-radius: 30px;
    background-color: #66b3d926;
    border: solid 1px #66B3E2;
    align-items: center;
    justify-content: space-between;
    height: 250px;
  }

  .limitedproductbox .context {
    margin-top: 0;
    margin-left: 0;
    padding: 60px;

  }

  .limitedproductbox h3 {
    color: rgb(3, 45, 73);
    font-size: 30px;
  }

  .limitedproductbox h4 {
    color: rgb(121, 0, 0);
    font-size: 20px;
  }

  .limitedproductbox a {
    margin-left: 50px;
    text-decoration: none;
    background-color: rgb(3, 45, 73);
    color: white;
    padding: 20px 80px;
    border-radius: 10px;
    margin-right: 80px;
  }

  /*============AskQuestion===========*/
  #askquestion {
    padding: 50px 0;
    background-color: #EEF6F8;
  }

  .askquestion {
    margin-top: 50px;
  }

  .askquestion .asked {
    background-color: white;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    position: relative;
  }

  .askquestion .asked span.ficon {

    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);

  }

  .askquestion .asked span.ficon:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #032d49;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .askquestion .asked span.ficon:after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: #032d49;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .askquestion .asked p {
    font-size: 23px;
    line-height: 30px;
    color: rgb(31, 31, 31);
    margin-bottom: 0 !important;
  }

  .question-wrap {
    margin-bottom: 20px;
  }

  .question-wrap.active .asked span.ficon:after {
    opacity: 0;
  }

  .askquestion .answer {
    border-left: 4px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding-left: 30px;
    margin: 50px;
    display: none;
  }

  .askquestion .answer p {
    line-height: 30px;
    color: rgb(31, 31, 31);
  }

  /*=========reviewsection=========*/
  #reviewsection {
    padding-top: 50px;
  }

  .reviewsection {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: 50px;
    justify-content: space-between;

  }

  /*==========Footer=========*/
  footer {
    background-color: rgb(12, 11, 11);
    font-size: 13px;
    padding: 30px 0;
    color: rgb(165, 164, 164);
  }

  .footer_top {
    display: grid;
    grid-template-columns: 400px auto auto auto;
    justify-content: space-between;

  }

  .footer_top ul {
    list-style-type: none;
  }

  .footer_top ul li {
    margin: 5px 0;
  }

  .footer_top ul li a {
    color: rgb(165, 164, 164);
    text-decoration: none;
    padding: 5px;
  }

  .copywrighting {
    text-align: center;
    margin-top: 50px;
  }

  #shopify-section-product-landing-fr {
    background: #EEF6F8;
    padding: 80px 0;
  }


  #shopify-section-product-landing-fr .gallery-new {
    flex-direction: column;
    display: block;
  }

  #shopify-section-product-landing-fr.gallery__thumbnails {
    flex-direction: inherit;
  }

  #shopify-section-product-landing-fr .gallery__button--holder {
    display: none;
  }

  #shopify-section-product-landing-fr .gallery__default {
    min-height: 450px;
  }

  #shopify-section-product-landing-fr .gallery__image img {
    object-fit: cover;
  }

  #shopify-section-product-landing-fr .gallery__thumbnails {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: none;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  #shopify-section-product-landing-fr .gallery__thumbnails span {
    width: 10px;
    height: 10px;
    background-color: #bcbcbc;
    overflow: hidden;
    border-radius: 100%;
    border: 0;
    margin: 0px 4px;
    cursor: pointer;
  }

  #shopify-section-product-landing-fr .gallery__thumbnails span:hover,
  #shopify-section-product-landing-fr .gallery__thumbnails span.active {
    box-shadow: none;
    border: none;
    background: #66B3E2;

  }

  #shopify-section-product-landing-fr .gallery__thumbnails span img {
    opacity: 0;
  }

  #shopify-section-product-landing-fr .gallery__thumbnails span[data-variants="42887909409017|"],
  #shopify-section-product-landing-fr .gallery__thumbnails span[data-variants="42887909343481|"],
  #shopify-section-product-landing-fr .gallery__thumbnails span[data-variants="42887909376249|"] {
    display: none;
  }

  #shopify-section-product-landing-fr .quantity--input {
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
  }

  #shopify-section-product-landing-fr .gallery__default {
    display: block !important;
  }

  .gicon {
    display: block;
    user-select: none;
    text-align: center;
  }

  .gicon img {
    max-width: 80%;
    margin: 0 auto;
  }

  .product-slider-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-slider-wrapper .slick-arrow.slick-next {
    right: 10px;
    z-index: 99;
  }

  .product-slider-wrapper .slick-arrow.slick-prev {
    left: 10px;
    z-index: 99;
  }

  #shopify-section-product-landing-fr .product__urgency {
    margin: 0 0 10px 0;
  }

  #shopify-section-product-landing-fr .product__urgency .uil {
    font-size: 25px;
    color: #66B3E2
  }

  #shopify-section-product-landing-fr .product__urgency .uil.uil-shopping-basket:before {
    content: '\eb86' !important;
  }

  #splitit-container>div {
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
  }

  #splitit-container>div a {
    width: 100%;
  }

  .bundle-wrapper {
    margin-bottom: 20px;
  }

  .row-block {
    display: flex;
  }

  .row-block.first-block {
    margin-bottom: 10px;
  }

  .bundle-wrapper .blk {
    margin: 0 15px 0 0;
    background-color: #EDEDED;
    border: solid 1px #707070;
    border-radius: 10px;
    width: 33%;
    padding: 15px;
    cursor: pointer;
  }

  .bundle-wrapper .blk.selected {
    background-color: rgba(102, 179, 226, 0.1);
    border: solid 1px #66B3E2;
  }

  .swatch-container {
    display: none;
  }

  .bundle-wrapper .row-block.first-block .blk {
    background-color: #66B3E2;
    border: solid 1px #66B3E2;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bundle-wrapper .row-block.first-block .blk p {
    color: #fff;
    margin: 0 !important;
    font-size: 10px;
  }

  .bundle-wrapper .row-block.first-block .blk p.bprice {

    font-size: 14px;
  }

  .old-price {
    opacity: 0.5;
    text-decoration: line-through;
  }

  .new-price {
    font-size: 22px !important;
    ;
  }

  .img-wrap {
    height: 100px;
    margin-bottom: 15px;
  }

  .img-wrap img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .bundle-wrapper .blk p {
    margin: 0 0 8px 0 !important;
    text-align: center;


  }

  .bundle-wrapper .blk p.old-price {
    font-size: 22px;
  }

  .bundle-wrapper .blk p.new-price {
    font-size: 18px !important;
    color: #194269;
  }

  .bundle-wrapper .blk p.bprice {
    font-weight: bold;

  }

  .bundle-wrapper .blk p.bprice span {
    font-weight: normal;
    font-size: 12px;
  }

  #shopify-section-product-landing-fr .button--addToCart {
    border-radius: 10px;
    max-width: 300px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
    margin: 15px auto;
  }

  .monly {
    display: none;
  }

  .inventoryWrapper span {
    color: #969696;
  }

  .inventoryWrapper p {
    margin: 0 0 15px 10px !important;

  }

  #shopify-section-product-landing-fr .product__atc {
    margin-bottom: 10px;
  }

  .fda-slider .rsl {
    padding: 0 10px;
  }

  .fda-slider .rsl img {
    width: 100%;
  }

  .fda-slider-m .rsl {
    padding: 0 10px;
  }

  .fda-slider-m .rsl img {
    width: 100%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
  }

  .slick-dots li button {
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .slick-dots li.slick-active button {
    background: #66B3E2;
  }

  .slick-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    width: 15px;
    height: 15px;
    background: none;
    top: 50%;
    margin-top: -20px;
    font-size: 0;
  }

  .slick-arrow.slick-prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: -10px;
  }

  .slick-arrow.slick-next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -10px
  }

  .partners__section {
    padding-top: 50px;
    background-color: #F2F2F4;
    padding-bottom: 50px;
    -webkit-box-shadow: 1px 1px 35px 8px #848d92d1 inset;
    box-shadow: 1px 1px 35px 8px #848d92d1 inset;
    margin: 00px 0 0 0;
  }

  .partners__section .outer__partners {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .partners__section .outer__partners .partner__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    min-height: 50px;
  }

  .partners__section .outer__partners .partner__logo>img {
    max-width: 100%;
    max-height: 50px;
    object-fit: contain;
  }

  #sectionsaven .partners__section .outer__partners p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #848d92;
  }

  #shopify-section-product-landing-fr .product__price--holder {
    display: none;
  }

  .review-slider .slick-slide .rsl img {
    border: solid 2px transparent;
    border-radius: 10px;
  }

  .review-slider .slick-current.slick-active.slick-center .rsl img {
    border: solid 2px #66B3E2;
  }

  .margin-tb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .disclamair-section {
    padding: 40px 0px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
  }

  .disclamair-section p {
    max-width: 600px;
    margin: 0 auto;
    margin: 0 auto !important;
  }

  .max-w600 {}

  #shopify-section-product-landing-fr .layout__content {
    max-width: 1180px;
  }

  .btn-add-to-cart {
    background: #C93A3A;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    max-width: 200px;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    margin: 0px auto 15px auto;
    float: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }

  .btn-wrap span {
    font-size: 12px;
    text-align: center;
  }

  .btn-wrap {
    text-align: center;
  }

  .psoright {
    max-width: 600px;
  }

  .bullet-heading {
    margin: 15px 0 0 0;
  }

  .video-wrapper {
    max-width: 800px;
    margin: 40px auto 0 auto;
  }

  .wrapper--bottom {
    padding-top: 0;
  }

  .font-bold {
    font-weight: 600 !important;
  }

  .font-very-bold {
    font-weight: 800 !important;
  }

  @media only screen and (min-width: 990px) {

    .hbleft h1 {

      margin-bottom: 20px !important;

    }


    .commentreview .crleft h2 {

      line-height: 1.2em;
      font-size: 30px;
      margin-bottom: 15px;
      margin-left: -50px;

    }
  }

  .review-slider-wrapper .containern h2 {
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 990px) {
    #postsectwo {
      margin: 0px 0 30px 0;
    }

    .monly {
      display: block;
    }

    .donly {
      display: none !important
    }

    header .hbleft p {
      display: none;
    }

    #headerbottom {
      grid-template-columns: 65% 35%;
      align-items: center;
      align-content: center;
      padding: 35px 0;
    }

    header .hbleft ul {
      display: none;
    }

    .hbleft h1 {
      font-size: 21px;
      font-weight: 700 !important;
      line-height: 120% !important;
      max-width: 100%;
      color: #fff !important;
    }

    .hbleft {
      padding-top: 22px;
    }

    .hbleft a {
      padding: 10px 35px;
      margin-top: 10px;
      font-size: 15px;
    }

    .hbright {}

    .nheader {
      color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .hbleft ul li:before {

      background-image: url(https://cdn.shopify.com/s/files/1/0519/0238/2231/files/1099_Converted_-02.png?v=1654165167);
    }

    .monly .hbleft p {
      color: #000;
      font-size: 16px;
      font-weight: normal;
    }

    .tustpilotbazz {
      grid-template-columns: 40% 60%;
      grid-gap: 0;
    }

    .hbleft ul li {
      font-size: 16px;
    }

    .commentreview {
      grid-template-columns: inherit;
    }

    #commentreview {
      padding: 20px 0;
    }

    #askquestion h2,
    #sectiontherty h2,
    #sectionnine h2,
    #sectioneight h2,
    #commentreview h2,
    #sectionfive h2,
    #postsecone h2,
    #postsectwo h2,
    #postsecthree h2,
    #sectiontwelve h2 {
      font-size: 21px;
      line-height: 30px;
      padding-left: 15px;
    }

    .commentreview .crleft h2 {
      margin-bottom: 20px;
      margin-left: -15px;
    }

    .postsecone {
      grid-template-columns: 60% 40%;
      padding: 30px 0 10px 0;
      grid-gap: 0;
      flex-direction: column-reverse;
    }

    .postsecone .psoleft {
      order: 2;
    }

    #postsecone p.monly {
      margin-top: 15px;
      margin-bottom: 0 !important;
    }

    .postsecone .psoright p {
      margin-bottom: 10px !important;
    }

    .pstwocenter {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 0;
      margin: 50px 0;
    }

    .pstleft li:before {
      width: 25px;
      height: 25px;
      left: -47px;
    }

    .postsecthree {
      grid-template-columns: auto;
      padding-bottom: 0;
    }

    .postsecthree .pstrleft {
      order: 2;
      margin-top: 20px;
    }

    #postsecthree h2 br {
      display: none
    }

    .postwobottom {
      margin-top: 15px;
    }

    .postwobottom h3 {
      font-size: 20px;
      margin-bottom: 15px !important;
      font-weight: bold;
      margin: 20px 0 15px 0;
    }

    .sectionfour {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 0;
      margin: 30px 0 0 0;
    }

    .sectiontenbox img {
      width: 100px;
    }

    .sectionfour .sfleft {
      margin-bottom: 25px;
    }

    .sectionfive {
      grid-template-columns: auto;
    }

    .sectionfive .sfiveleft {
      order: 2;
      margin-top: 25px;
    }

    .sfiveright {
      border-radius: 0;
    }

    #sectionsix h3 {
      font-size: 20px;
    }

    #sectionsix h2 {
      color: #032d49;
      padding: 0;
      font-size: 20px;
      margin-bottom: 10px;
    }

    #sectionsix {
      padding: 20px 20px;
      margin: 40px 0;
    }

    #sectionfive {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    #sectioneight p.segttc {

      width: 100%;
      text-align: left;
    }

    .sectioneight {
      grid-template-columns: auto;
      grid-gap: 0;
      padding: 20px 0;
    }

    #sectioneight h3.segttc {
      text-align: left;
    }

    .sectioneightleft {
      order: 2;
    }

    .sectionnine {
      display: grid;
      grid-template-columns: auto;
      margin: 20px 0;
    }

    .sectionnineleft {
      order: 2;
    }

    .sectionnineright {
      text-align: center;
      margin-bottom: 25px;
    }

    .sectionnineright img {
      width: 48%;
      margin: 0 auto;
    }

    .sectionninebottom {
      grid-template-columns: 33% 33% 33%;
      margin: 0 0;
    }

    .sectionninebottom .secninebox {
      border-radius: 20px;
      color: #fff;
      overflow: hidden;
      height: 220px;
      background-color: #184268;
      margin-right: 2px;
      display: block;
    }

    .secninebox img {
      width: 50%;
      margin: 0 auto;
      margin-top: 15px;
    }

    .sectionninebottom .secninebox:last-child {
      margin-right: 0;
    }

    .secninebox .price {
      font-size: 20px;
      margin-bottom: 15px !important;
      margin-top: 15px !important;

    }

    .secninebox .feature {
      font-size: 14px;
    }

    .sectionten {
      margin: 20px 0px 50px 0;
      display: grid;
      grid-template-columns: auto;
      justify-content: space-between;
      grid-row-gap: 50px;
      margin-bottom: 0;
    }


    .sectiontenbox p {
      text-align: center;
      color: #1f1f1f;
    }

    #sectionten {
      padding: 40px 00px 30px 0
    }

    .sectioneleven {
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 0px;
    }

    .hubcontainertwo {
      width: 100%;
      margin-right: auto;
      margin-left: 0;
      padding: 0 15px
    }

    .sectiontwelve {
      grid-template-columns: auto;
    }

    .pstrleft {
      order: 2;
    }

    .contentmargine {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .textcontainer {
      margin: 0 0;
    }

    .limitedproductbox {

      flex-direction: column;
      height: auto;
      padding: 28px;
    }

    .limitedproductbox .context {
      margin-top: 0;
      margin-left: 0;
      padding: 20px;
    }

    .yeslist li,
    .nolist li {
      padding-left: 50px;
      padding-right: 15px;
    }

    .yeslist li:before,
    .nolist li:before {
      left: 0;
    }

    .binner {

      padding: 0 15px;
    }

    .title-top {
      padding: 0 15px;
      margin: 0 0 20px 0 !important;
    }

    .title-top h1 {
      font-size: 20px !important;
      margin: 0 0 20px 0;
    }

    .title-top .jdgm-widget {
      display: none !important;
    }

    .dtitle .product__title {
      display: none !important;
    }

    #shopify-section-product-landing-fr {
      background: #EEF6F8;
      padding: 40px 0;
    }

    .gicon.monly {
      margin-top: 15px;
    }

    #askquestion h2:before,
    .sectionten h2:before,
    #sectiontherty h2:before,
    #sectionnine h2:before,
    #sectioneight h2:before,
    #sectionfive h2:before,
    #postsecone h2:before,
    #postsectwo h2:before {
      width: 3px;
    }

    .mobile-header {
      background-color: #194269;
      padding: 10px 15px 10px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      z-index: 9999;
      position: sticky;
      flex-wrap: wrap;
      top: 0;
      margin-top: -4px;
    }

    .mobile-header .brand img {
      max-width: 100px;
    }

    .mobile-header p {
      color: #fff;
      font-size: 14px;
      margin: 0 !important;
      width: 100%;
      text-align: center;
    }

    .mobile-header p a {
      color: #fff !important;
    }

    #shopify-section-product-landing-fr .product__atc {
      margin-bottom: 10px;
    }

    .watch-item {
      margin-bottom: 20px;
    }

    .inventoryWrapper p {
      margin: 0 !important;
      text-align: center;
    }

    .review-slider .rsl {
      padding: 0 10px;
    }

    .review-slider .rsl img {
      width: 100%;
    }

    .review-slider-wrapper {
      margin: 20px 0;
    }

    .fda-slider-m .partner__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 15px;
      min-height: 50px;
    }

    .fda-slider-m .partner__logo>img {
      max-width: 100%;
      max-height: 50px;
      object-fit: contain;
    }

    #sectionsaven .fda-slider-m p {
      margin: 0px;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      color: #848d92;
    }

    .partners__section {
      padding-left: 50px;
      padding-right: 50px;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      visibility: hidden;
      width: calc(100vw - 65px);
      height: 100vh;
      max-height: none;
      z-index: 20;
      -webkit-transition: visibility .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
      transition: visibility .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
      transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1);
      transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
      background-color: #194269;
      -webkit-box-shadow: none;
      box-shadow: none;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      color: #fff;
      -webkit-transform: translateX(calc(-100vw + 65px));
      transform: translateX(calc(-100vw + 65px));
    }

    .menu-active .mobile-menu {
      visibility: visible;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    .mobile-header-wrapper {
      padding-top: 0;
    }

    .mobile-menu-inner {
      padding-top: 150px;
    }

    .mobile-menu-inner ul li {
      display: block;
      border-bottom: solid 1px rgba(255, 255, 255, 0.5)
    }

    .mobile-menu-inner ul li a {
      color: #fff;
      padding: 27px 15px;
      display: block;
      color: #fff !important
    }

    #askquestion h2:before,
    #sectiontherty h2:before,
    #sectionnine h2:before,
    #sectioneight h2:before,
    #sectionfive h2:before,
    #postsecone h2:before,
    #postsectwo h2:before,
    .commont-section h2:before {
      top: 0;
      width: 3px;
    }

    #askquestion h2,
    #sectiontherty h2,
    #sectionnine h2,
    #sectioneight h2,
    #sectionfive h2,
    #postsecone h2,
    #postsectwo h2,
    #postsecthree h2,
    #sectiontwelve h2,
    .commont-section h2 {
      padding-left: 25px;
    }

    .askquestion .answer {
      margin: 20px 15px;
    }

    .askquestion .asked {
      background-color: #fff;
      border-radius: 20px;
      padding: 20px 25px 20px 50px;
      box-shadow: 0 0 10px grey;
    }

    .askquestion .asked p {
      font-size: 18px;
      line-height: 25px;
    }

    #askquestion h2 {
      margin-bottom: 45px;
    }

    .containern {
      padding: 0 25px;
    }

    .hubcontainerone {
      background-color: #fff;
      padding-bottom: 20px
    }

    .hubcontainertwo h4 {
      font-size: 23px;
      color: #000e4b;
      margin: 30px 0 20px !important;
      position: relative;
      font-weight: 700 !important;
    }

    #sectiontwelve h2:before {
      top: 0;
      width: 3px;
    }

    #askquestion h2,
    #sectiontherty h2,
    #sectionnine h2,
    #sectioneight h2,
    #sectionfive h2,
    #postsecone h2,
    #postsectwo h2,
    #postsecthree h2,
    #sectiontwelve h2,
    .commont-section h2 {
      font-size: 21px;
      line-height: 30px;
    }

    body {
      font-size: 16px;
    }

    p {
      line-height: 22px !important;
      font-size: 16px;
    }

    .hburger img {
      max-width: 30px;
    }

    #sectionsaven {
      padding: 20px 0 50px 0;
    }

    .bundle-wrapper .row-block.first-block .blk {
      flex-direction: column;
    }

    .bundle-wrapper .blk {
      margin-right: 5px;
    }

    .cart-header-text {
      font-size: 14px !important;
    }

    .knowmorebtn.back-to-top.monly {
      display: inline-block;
    }

    .btn-wrap {
      text-align: left;
    }

    .inventoryWrapper p {
      margin-bottom: 6px !important;
      text-align: left;
      margin-left: 5px !important;
    }

    .hbleft ul {
      margin: 15px 0 15px 30px;
    }

    .review-slider-wrapper .containern {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .review-slider-wrapper .containern h2 {
      margin-left: 25px;
      margin-right: 25px;
    }

    #shopify-section-top-info-bar p {
      font-size: 12px;
    }

    /*   .go-cart__trigger{
   	     position: fixed!important;
    top: 57px;
    width: 40px;
    right: 65px;
    z-index: 9999;
  }
  .go-cart__trigger .uil-shopping-basket{
   	    font-size: 30px;
    color: #fff;
  }
  .go-cart__trigger .count{
   	    position: absolute;
    color: #fff;
    top: 0;
    right: -4px;
    font-weight:bold;
  }
  .go-cart__trigger .count span{
    color: #fff;
  } */

    .mobile-cart-link {
      position: absolute;
      right: 60px;
      color: #fff;
      font-size: 30px;
      top: 9px;
    }

    .mobile-cart-link span {
      position: absolute;
      font-size: 13px;
      color: #fff;
      right: -3px;
      font-weight: bold;
    }
  }
</style>

{% comment %} <img class="lazyload donly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Announcement-banner-desktop-fr.png?v=1715336830" alt="profitez d'un pack promo aujourd'hui">
<img class="lazyload monly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/nnouncement-banner-mobile-fr-fixed.png?v=1715605671" alt="profitez d'un pack promo aujourd'hui"> {% endcomment %}

<div class="mobile-header monly">
  <div class="hburger">
      <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hburger.png?v=1654187608" >
  </div>

  <div class="brand">
    <h2>
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772">
    </h2>
  </div>
  
  <span class="mobile-cart-link">
    <i class="uil uil-shopping-basket"></i>
    <span> {{- cart.item_count -}}</span>
  </span>
</div>
<div class="mobile-menu monly">
  <div class="mobile-menu-inner">
    <ul>
      <li><a href="#">Home </a></li>
      <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
      <li><a href="#benefits" class="back-to-top">Benefits </a></li>
      <li><a href="#review" class="back-to-top">Testimonials</a></li>
      <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
      <li><a href="#shopify-section-product-landing-fr" class="back-to-top">Order </a></li>
    </ul>

  </div>

</div>



<div id="trustpilotbazz" class="monly">
  <div class="containern">
    <div class="tustpilotbazz">
      <h3>Excellent</h3>
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
    </div>
  </div>
</div>
<header class="nheader">
  <div class="containern">
    <div id="headertop" class="donly">
      <div class="brand">
        <h2><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772"></h2>
      </div>

      <nav>
        <ul>
          <li><a href="#">Accueil </a></li>
          <li><a href="#sectionsix" class="back-to-top">Qu'est-ce que UVO254 ?</a></li>
          <li><a href="#benefits" class="back-to-top">Avantages </a></li>
          <li><a href="#reviewsection" class="back-to-top">Avis</a></li>
          <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
          <li><a href="#shopify-section-product-landing-fr" class="back-to-top">Commander </a></li>
        </ul>
      </nav>
    </div>
    <div id="headerbottom">
      <div class="hbleft">
        <h1>Cette nouvelle solution élimine la cause #1 des allergies</h1>
        <p>Souhaitez-vous soulager les éternuements, la toux, les démangeaisons, le nez qui coule ou démange... ?</p>
        <p class="first">ET ENFIN, Commencez à profiter d'un espace sain, sans allergènes et sans maladies</p>

        <p class="bullet-heading"><u>SANS</u> vous soucier de</p>
        <ul>
          <li>L'achat des purificateurs d'air coûteux et devoir remplacer les filtres en permanence</li>
          <li>Produits chimiques toxiques qui éliminent les allergènes, mais mettent également votre santé en danger
          </li>
          <li>Pilules quotidiennes qui ne font que calmer les symptômes sans apporter de solution à long terme</li>
          <li>Services de nettoyage en profondeur coûteux et récurrents</li>
          <li>Nettoyer votre maison de fond en comble chaque jour</li>
        </ul>
        <p>Alors, vous êtes invités à agir rapidement.</p>
        <br>
        <a href="#commentreview" class="knowmorebtn back-to-top donly">En savoir plus</a>
        <a href="#mcontent" class="knowmorebtn back-to-top monly">En savoir plus</a>
      </div>
      <div class="hbright">
        <img
          src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_1264_c2ac5a5d-d8a2-4e1a-bc8d-40a419e4a528.png?v=1711966609"
          alt="">
      </div>
    </div>
  </div>
</header>
<div class="content-holder monly" id="mcontent">
  <div class="containern">
    <div class="hbleft">
      <p>Souhaitez-vous soulager les éternuements, la toux, les démangeaisons, le nez qui coule ou démange...</p>
      <p class="first" style="
                    font-size: 18px;
                    font-style: italic;
                    font-weight: 500;">ET ENFIN, Commencez à profiter d'un espace sain, sans allergènes et sans
        maladies</p>
      <p class="bullet-heading"><u>SANS</u> vous soucier de</p>
      <ul>
        <li>L'achat de purificateurs d'air coûteux et devoir remplacer les filtres en permanence</li>
        <li>Produits chimiques toxiques qui éliminent les allergènes, mais mettent également votre santé en danger</li>
        <li>Pilules quotidiennes qui ne font que calmer les symptômes sans apporter de solution à long terme</li>
        <li>Services de nettoyage en profondeur coûteux et récurrents</li>
        <li>Nettoyer votre maison de fond en comble chaque jour</li>
      </ul>
      <p>Alors, vous êtes invités à agir rapidement.</p>
    </div>

  </div>

</div>

<div id="trustpilotbazz" class="donly">
  <div class="containern">
    <div class="tustpilotbazz">
      <h3>Excellent</h3>
      <img class="lazyload "
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
    </div>
  </div>
</div>
<section id="commentreview">
  <div class="containern">
    <div class="commentreview">
      <div class="crleft">
        <h2>Parce que les Français se précipitent maintenant pour obtenir ces lampes UVO254™…</h2>
        <p>au prix le plus bas que nous ayons jamais proposé</p>
        <p>Et en raison de la demande sans précédent, le stock se vide plus rapidement que nous ne l'avions prévu…</p>
        {% capture date %}
        {% assign d = "now" | date: "%-d" %}
        {{ "now" | date: "%B" }}
        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d
        }}rd{% else %}{{ d }}th{% endcase %},
        {{ "now" | date: "%Y" }}
        {% endcapture %}
        <p style="font-size: 0.9em;padding: 15px;border-radius: 10px;background: #eef6f8;border: 1px solid red;">
          <strong style="color: rgb(3, 45, 73);"><span style="color:red">Info:</span> {{ date }}</strong>
          <br><br>
          Au regard des circonstances mondiales et de l'instabilité actuelle, nous avons le regret de vous informer que
          notre stock actuel sera épuisé dans les 48 heures à venir. Une fois que le prochain lot arrivera, <strong>nous
            ne pourrons tout simplement pas maintenir cette offre spéciale de réduction.</strong>
          <br><br>
          Nous ne pouvons pas non plus garantir que l'article conservera son prix d'origine après cela.<br><br>
          <u>Vous pouvez trouver la quantité restante disponible en faisant défiler vers le bas.</u>
        </p>
      </div>
      <div class="crright donly">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonials_fr_1.png?v=1715252399" alt="">
      </div>
    </div>
  </div>

  <div class="review-slider-wrapper monly">
    <div class="review-slider">
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-8.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-6.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-5.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-4.png?v=1715339564">
      </div>
    </div>

  </div>


</section>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"
  rel="stylesheet">
{{ 'slick.css' | asset_url | stylesheet_tag }}


<section id="postsecone">
  <div class="containern">
    <h2>Éliminez les allergènes et les polluants de votre espace !</h2>

    <p class="monly">La lampe révolutionnaire UVO254™ d'Uvlizer <strong>éradique les polluants biologiques qui causent
        les allergies à la racine en 15 minutes.</strong>.</p>
    <div class="postsecone">
      <div class="psoleft">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/gym_44.jpg?v=1654107771" alt="">
      </div>
      <div class="psoright">
        <p class="donly">La lampe révolutionnaire UVO254™ d'Uvlizer <strong>éradique les polluants biologiques qui
            causent les allergies à la racine en 15 minutes.</strong></p>
        <p>Comment cela fonctionne-t-il ? En déchirant les minuscules molécules qui constituent ces allergènes.</p>
        <p>Ceci, mon ami, est ce que nous appelons éliminer les allergies à la racine.</p>
        <p><strong>Oubliez les heures passées à frotter vos murs et à faire bouillir vos draps. En fait, vous pourriez
            arrêter complètement de nettoyer votre maison…</strong></p>
        <p>et pourtant, TOUJOURS avoir un espace intérieur sans allergènes rien qu'en utilisant ce dispositif de haute
          technologie appelé <strong>la lampe UVO254™.</strong></p>
        <p><i>Mais vous savez quoi ? Ne vous contentez pas de prendre notre parole pour argent comptant…</i></p>
      </div>
    </div>
  </div>
</section>

{% comment %} <section id="postsectwo">
  <div class="containern">
    <h2>Des médecins tels que le Dr Dubrow utilisent Uvlizer dans leurs centres chirurgicaux</h2>
    <div class="video-wrapper">
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/558633016?h=06db5a7417&amp;badge=0&amp;autopause=1&amp;autoplay=0&amp;player_id=0&amp;app_id=58479"
          frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Uvlizer.mp4"></iframe>
      </div>
      <script defer src="https://player.vimeo.com/api/player.js"></script>

    </div>

  </div>
</section> {% endcomment %}

<section id="sectionsix">
  <div class="containern">
    <h2>Découvrez les lampes</h2>
    <h3>UVO254&#8482;</h3>
    <div class="secsiximg">
      <img loading="lazy" class="lazyload "
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img4.png?v=1654131889" alt="">
    </div>
  </div>

</section>


<section id="sectionnine">
  <div class="containern">
    <div class="sectionnine">
      <div class="sectionnineleft">
        <p>les lampes UVO254™, conçues pour éliminer efficacement <strong>jusqu'à 97 % des acariens <a
              href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" target="_blank"
              style="vertical-align: super;font-size: 0.7em;">[R]</a>, des bactéries, des germes, des insectes, et même
            des mauvaises odeurs.</strong></p>
        <p>Elles combinent la puissance germicide des <strong>rayons UV-C à 254 nm</strong> (la longueur d'onde la plus
          étudiée et prouvée pour avoir une efficacité maximale de désinfection) et <strong>les propriétés oxydantes de
            l'ozone.</strong></p>
        <p>En associant la puissance des UV-C et de l'ozone, vous bénéficiez de <strong>l'effet synergique</strong> de
          ces deux agents puissants de désinfection, ce qui augmente l'efficacité des UV-C tout en réduisant
          considérablement le temps nécessaire à l'ozone pour agir.</p>
        <p>Sérieusement, <strong>vous obtiendrez le même niveau de désinfection qu'avec un générateur d'ozone en
            fonctionnement pendant 25 à 30 heures, en seulement 15 à 60 minutes !</strong></p>
        <p>Uvlizer est le seul appareil à utiliser des ampoules UVO254™. Cette technologie permet une désinfection
          complète de la pièce, du sol au plafond, y compris dans les zones les plus difficiles d'accès. <strong>Elle
            pénètre en profondeur dans les surfaces, même dans celles aussi denses que les matelas, et purifie l'air que
            vous respirez.</strong></p>

        <h2 style="font-size:21px; margin:30px 0 !important;">Inspiré par les hôpitaux et les compagnies aériennes</h2>
        <p>Notre inspiration provient principalement des secteurs de la santé et de l'aviation, où le contrôle des
          infections et
          l'hygiène ne sont pas une option mais une nécessité. Ils utilisent la technologie UVO depuis des années pour
          protéger
          leurs patients et passagers et prévenir la propagation des maladies infectieuses. Le meilleur ? <strong>Cette
            même technologie vous est maintenant accessible.</strong>
          <br> En combinant ces deux solutions naturelles, vous pouvez vous <strong>débarasser durablement des
            allergènes, de bactéries, de virus, de champignons et de moisissures... sans compromettre
            votre santé ni celle de votre famille en utilisant des produits chimiques toxiques.</strong>
        </p>

      </div>
      <div class="sectionnineright donly">
        <img loading="lazy" class="lazyload sticky-element"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
      </div>
    </div>

    <div class="postwobottom">
      <img loading="lazy" class="lazyload donly"
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/companies-logos-desktop-fr.png?v=1715337868"
        alt="">
      <img loading="lazy" class="lazyload monly"
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/companies-logos-mobile-fr.png?v=1715337868" alt="">
    </div>
  </div>

</section>

{% comment %} <section id="sectionsaven">

  <div class="review-slider-wrapper donly">
    <div class="partners__section">
      <div class="containern">
        <div class="outer__partners">
          <div class="elem__partner">
            <div class="partner__logo">
              <img style="width:75px" loading="lazy" class="lazyload "
                data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065"
                alt="partner1">
            </div>
            <p>Les radiations UVC sont des agents désinfectants connus pour l'air, l'eau et les surfaces non poreuses.
              Les radiations
              UVC sont utilisées depuis des décennies pour réduire la propagation des bactéries, telles que la
              tuberculose. Pour cette
              raison, les lampes UVC sont souvent appelées lampes "germicides".</p>
          </div>

          <div class="elem__partner">
            <div class="partner__logo">
              <img style="width:300px; max-height:35px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epa.png?v=1654779013
" alt="partner1">
            </div>
            <p>Les dispositifs de nettoyage par irradiation germicide ultraviolette (UVGI) qui utilisent les radiations
              ultraviolettes
              des lampes UV peuvent détruire les polluants biologiques intérieurs tels que les virus, les bactéries et
              certains
              moisissures.</p>
          </div>
          <div class="elem__partner">
            <div class="partner__logo">
              <img style="width:300px" loading="lazy" class="lazyload "
                data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2n.png?v=1660996020" alt="partner1">
            </div>
            <p>Historiquement, ils ont été utilisés dans les refuges pour sans-abris et des centres médicaux. Les ventes
              ont décuplé le
              mois dernier. La demande est à son comble.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="review-slider-wrapper monly partners__section">

    <div class=" fda-slider-m">
      <div class="elem__partner">
        <div class="partner__logo">
          <img style="width:75px" loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065"
            alt="partner1">
        </div>
        <p>Les radiations UVC sont des agents désinfectants connus pour l'air, l'eau et les surfaces non poreuses. Les
          radiations
          UVC sont utilisées depuis des décennies pour réduire la propagation des bactéries, telles que la tuberculose.
          Pour cette
          raison, les lampes UVC sont souvent appelées lampes "germicides".</p>
      </div>

      <div class="elem__partner">
        <div class="partner__logo">
          <img style="width:300px; max-height:35px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epa.png?v=1654779013
" alt="partner1">
        </div>
        <p>Les dispositifs de nettoyage par irradiation germicide ultraviolette (UVGI) qui utilisent les radiations
          ultraviolettes
          des lampes UV peuvent détruire les polluants biologiques intérieurs tels que les virus, les bactéries et
          certains
          moisissures.</p>
      </div>
      <div class="elem__partner">
        <div class="partner__logo">
          <img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2n.png?v=1660996020"
            alt="partner1">
        </div>
        <p>Historiquement, ils ont été utilisés dans les refuges pour sans-abris et des centres médicaux. Les ventes ont
          décuplé le
          mois dernier. La demande est à son comble.</p>
      </div>
    </div>

  </div>
</section> {% endcomment %}


<section class="commont-section" id="benefits">
  <div class="containern">
    <h2>Découvrez ce que la lampe UVO254™ peut vous apporter</h2>
    <div class="pstwocenter" id="review">
      <div class="pstleft">
        <ul>
          <li><span class="benefits bold">Élimine jusqu'à 97 % des acariens de la poussière <a
                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" target="_blank"
                style="vertical-align: super;font-size: 0.7em;">[R]</a></span>, de leurs œufs, de la moisissure cachée,
            des punaises de lit et d'autres menaces biologiques invisibles.</li>
          <li><span class="benefits bold">Soulage les éternuements</span>, le nez qui coule et d'autres symptômes
            d'allergie désagréables.</li>
          <li><span class="benefits bold">Assure un sommeil paisible et sans interruption</span> chaque nuit.</li>
          <li><span class="benefits bold">Transforme votre air intérieur</span> en un oasis frais et propre dans lequel
            il fait bon respirer.</li>
          <li><span class="benefits bold">Réduit le brouillard cérébral</span> pour une tête claire et une concentration
            aiguisée.</li>
          <li><span class="benefits bold">Expulse en toute sécurité les parasites</span> qui pourraient se faufiler dans
            le sous-sol ou sous votre lit.</li>
          <li><span class="benefits bold">Élimine les odeurs nauséabondes</span> causées par les bactéries, les huiles
            de cuisson, la fumée de tabac et les animaux domestiques... donnant à votre maison l'odeur... du foyer.</li>
          <li><span class="benefits bold">Rend votre maison plus sûre</span> en désinfectant les surfaces et l'air en
            même temps.</li>
          <li><span class="benefits bold">Diminue le risque d'infection</span> et de transmission de maladies à
            l'intérieur, offrant une sécurité supplémentaire pour votre famille.</li>

        </ul>
      </div>
      <div class="pstright donly">
        <img style="max-width:300px;"
          src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonials_fr_2.png?v=1715252621" alt="">
      </div>
    </div>

  </div>


  <div class="review-slider-wrapper monly">
    <div class="review-slider">
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-2.png?v=1715339563">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-7.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-3.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-1.png?v=1715339564">
      </div>
    </div>

  </div>


</section>
<section>
  <div class="containern margin-tb-50">
    <div class="sectionninebottom">
      <div class="secninebox">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i1.png?v=1654132177" alt="">
        <p class="price">260K+</p>
        <p class="feature">Pièces<br>Désinfectées</p>
      </div>
      <div class="secninebox">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i2.png?v=1654132177" alt="">
        <p class="price">16+</p>
        <p class="feature">Écoles</p>
      </div>
      <div class="secninebox">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i3.png?v=1654132177" alt="">
        <p class="price">760+</p>
        <p class="feature">Bureaux, Salons de beauté et Centres médicaux</p>
      </div>
    </div>

  </div>



</section>

<div class="review-slider-wrapper  commont-section">
  <div class="containern" style="margin-bottom:30px;">
    <h2>Ce que disent d'autres Français à propos d'Uvlizer</h2>

    <div class="review-slider">
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-2.png?v=1715339563">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-7.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-3.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-1.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-4.png?v=1715339564">
      </div>
      <div class="rsl">
        <img loading="lazy" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/testimonial-fr-5.png?v=1715339564">
      </div>
    </div>
  </div>

  {% section 'product-landing-fr' %}

  <div class="containern" style="padding: 50px 0">
    <h2>Essayez-la avant de prendre une décision avec notre garantie de remboursement inconditionnelle de 90 jours.</h2>
    <div class="sectiontwelve">
      <div class="pstrleft">
        <p>Passez une commande, recevez-la, puis essayez-la pendant un certain temps. Supposons que pour une raison
          quelconque,
          vous ne l'aimez pas. Ou peut-être que votre conjoint ne l'aime pas. Ou vous pourriez avoir l'impression que la
          lampe
          n'ajoute pas de valeur à votre vie. Même si vous avez juste besoin de récupérer votre argent en raison d'une
          dépense
          imprévue, contactez notre équipe de support client 24/7 dans les 90 jours suivant votre achat, et nous
          procèderons à un
          remboursement complet.</p>
      </div>
      <div class="pstrright">
        <img loading="lazy" class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/guarantee_barge_fr_1.png?v=1715253273" alt="">
      </div>
    </div>
  </div>

  <section id="sectioneleven">
    <h2>Lampe Uvlizer vs Alternatives</h2>
    <div class="sectionnineright monly">
      <img loading="lazy" class="lazyload "
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
    </div>
    <div class="sectioneleven">
      <div class="secelevenleft">
        <div class="hubcontainerone">
          <div class="binner">
            <h3 style="margin-top: 0 !important;">Uvlizer</h3>
            <ul class="yeslist">
              <li>Technologie de qualité hospitalière UVO254™</li>
              <li>Elimine les allergènes et les polluants</li>
              <li>Associe UVGI et Ozone pour les meilleurs résultats</li>
              <li>Désinfecte l'air des bactéries et des virus</li>
              <li>Pénètre profondément dans les surfaces</li>
              <li>Conçue pour les personnes souffrant d'allergies, d'asthme et de problèmes de sinus</li>
              <li>Élimine les mauvaises odeurs</li>
              <li>Élimine les insectes</li>
              <li>Facile à utiliser et ne nécessite aucun entretien</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="secelevenright">
        <div class="hubcontainertwo">
          <h3>Alternatives</h3>
          <h4>Faire bouillir les draps dans de l'eau chaude chaque jour</h4>
          <ul class="yeslist">
            <li>Retire les acariens des draps</li>
          </ul>
          <ul class="nolist">
            <li>Ne tue pas les acariens et leurs œufs à l'intérieur du matelas</li>
            <li>Consomme de l'énergie</li>
            <li>Les acariens reviennent dès que vous remettez les draps sur le lit</li>
            <li>Prend du temps</li>
          </ul>
          <h4>Purificateur d'air</h4>
          <ul class="yeslist">
            <li>Retire les allergènes et les polluants de l'air</li>
            <li>Certains filtres désinfectent l'air</li>
          </ul>
          <ul class="nolist">
            <li>Ne désinfecte pas les surfaces ou les meubles</li>
            <li>Ne se débarrasse pas des mauvaises odeurs persistantes</li>
            <li>Les modèles efficaces coûtent au moins 200 €</li>
            <li>Nécessite un remplacement régulier des filtres (Augmente le coût total à 1000 € la cinquième année)</li>
          </ul>
          <h4>Aspirateur</h4>
          <ul class="yeslist">
            <li>Peut enlever la poussière des meubles</li>
          </ul>
          <ul class="nolist">
            <li>Vous devez le passer tous les jours</li>
            <li>N'est pas efficace contre les acariens</li>
            <li>Peut transmettre les allergènes à l'air et à d'autres parties de la maison</li>
            <li>Les aspirateurs HEPA coûtent entre 200 et 1200 € et nécessitent un remplacement de filtre</li>
          </ul>
          <h4>Pulvérisateurs</h4>
          <ul class="yeslist">
            <li>Désinfectent les surfaces des bactéries et des virus, mais pas l'air</li>
            <li>Certains pulvérisateurs peuvent éliminer les allergènes s'ils sont appliqués directement</li>
          </ul>
          <ul class="nolist">
            <li>Jusqu'à 200€ par mois</li>
            <li>Remplis de produits chimiques toxiques</li>
            <li>Chronophages</li>
            <li>Nécessitent du travail physique</li>
          </ul>
          <h4>Services de nettoyage en profondeur</h4>
          <ul class="nolist">
            <li>Il est difficile de faire confiance à d'autres personnes pour nettoyer chaque coin en profondeur</li>
            <li>Peuvent être coûteux à 300 € par session en moyenne</li>
            <li>Sont souvent peu pratiques</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section id="sectionten">
    <div class="containern">
      <h2>Dites bonjour à nos clients satisfaits</h2>
      <img loading="lazy" class="lazyload donly "
        data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/user-image-new.png?v=1654576909"
        style="margin:30px 0 30px 0;" />
      <img loading="lazy" class="lazyload monly "
        src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/uimage-mobile.png?v=1654955399"
        style="margin:30px 0 30px 0;" />
      <h2>Caractéristiques des lampes UVO254™.</h2>
      <div class="sectionten">

        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bulb.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Convenable pour les surfaces de 9 à 23 m²</strong><br><br>L'ampoule de 38 W
            dans la lampe UVO254™ peut désinfecter complètement une pièce entière de 23 mètres carrés comme une
            chambre à coucher, un salon ou une cuisine en 30 à 60 minutes.</p>
        </div>
        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Désinfection sans produits chimiques</strong><br><br>Contrairement aux
            pulvérisateurs et aux désinfectants chimiques, la lampe UVO254™ est exempte de produits chimiques. Nos corps
            sont
            déjà exposés à des tonnes de toxines. En utilisant la lampe Uvlizer, vous <strong
              class="font-bold">minimisez
              l'utilisation de produits de nettoyage chimiques et réduisez ainsi la charge toxique sur votre
              corps</strong>. La
            lampe UVO254™ est idéale pour les surfaces, l'environnement, votre temps et votre porte-monnaie.
          </p>
        </div>
        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection_room.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Désinfecte l'air et les surfaces</strong><br><br>Les lampes UVO254™ vous
            aident à
            désinfecter votre pièce de haut en bas et tout ce qui se trouve entre les deux, y compris l'air.
            <strong>Finie la
              chasse aux acariens ou les efforts pour atteindre les zones difficiles d'accès.</strong> Il vous suffit
            d'allumer
            l'Uvlizer, de quitter la pièce, et de revenir dans un espace complètement exempt d'allergènes, de maladies,
            et à
            l'air frais comme un jardin, où vous pouvez bien respirer et vous sentir en sécurité.</p>
        </div>

        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/nose.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Élimine les mauvaises odeurs à la source</strong><br><br>Vous est-il déjà
            arrivé
            d'entrer dans une pièce et de ressentir une fraîcheur que vous ne pouvez pas tout à fait décrire avec des
            mots ?
            C'est la promesse de la lampe UVO254™. <strong>Elle ne masque pas les mauvaises odeurs, elle les élimine à
              leur
              source</strong> en décomposant les bactéries, les huiles de cuisson, les désodorisants toxiques, la fumée
            tenace
            de tabac, et même les odeurs d'animaux.</p>
        </div>

        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/allergy.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Soulage les éternuements, le nez qui coule et d'autres symptômes
              d'allergie</strong><br><br>Imaginez vos matins avec <strong>des sinus clairs et aucun symptôme
              d'allergie</strong>. Ça a l'air bien, n'est-ce pas ? Les lampes UVO254™ rendent cela possible. En
            éliminant la
            cause première de vos allergies et en tuant tous les allergènes intérieurs, l'air vous semblera propre et
            frais, et
            <strong>vous éprouverez un sentiment de bien-être</strong> que vous n'avez jamais ressenti auparavant.
          </p>
        </div>
        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/infection.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Profitez d'une maison plus sûre</strong><br><br>Imaginez-vous : allongé(e)
            confortablement sur votre canapé, sachant qu'il est exempt de germes. Pouvoir respirer un air qui ne risque
            pas de
            vous apporter la grippe ou un rhume. C'est la tranquillité d'esprit que procure la lampe UVO254™.</p>
        </div>

        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/saftey.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Fonctionnalité de sécurité intégrée</strong><br><br>Chez Uvlizer, votre
            sécurité est
            notre priorité. <strong class="font-bold">La lampe UVO254™ dispose d'une fonctionnalité de sécurité qui
              empêche
              l'exposition accidentelle à la lumière UV-C</strong>. La minuterie de sécurité vous laisse largement le
            temps de
            quitter la pièce. Et même si vous avez allumé le Uvlizer par erreur, vous ne serez pas immédiatement exposé
            aux
            rayons UV-C. La minuterie interne vous permettra de définir le cycle de nettoyage en fonction de vos
            besoins. Vous
            pouvez même <strong class="font-bold">régler la minuterie la nuit, vous endormir et vous réveiller dans un
              environnement propre et plus sûr</strong>.</p>
        </div>
        <div class="sectiontenbox">
          <img loading="lazy" class="lazyload "
            data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/suitable_home.jpg?v=1654107771" alt="">
          <p><strong class="font-very-bold">Adapté à Plus que Votre Maison</strong><br><br>La lampe UVO254™ d'Uvlizer
            est
            également adaptée à la désinfection d'autres endroits où vous passez du temps. Sa <strong
              class="font-bold">taille
              compacte</strong> et sa <strong class="font-bold">construction légère</strong> facilitent non seulement
            son
            <strong class="font-bold">déplacement</strong> d'une pièce à l'autre, mais elle peut également s'adapter à
            un sac à
            dos de taille moyenne et vous permettre de l'emporter avec vous au bureau. <strong
              class="font-bold">Beaucoup de nos
              clients l'utilisent pour lutter contre les infections et les allergies dans leurs bureaux, salons de
              coiffure,
              spas, cabinets dentaires et salles d'attente…</strong>
          </p>
        </div>
      </div>
    </div>
  </section>

</div>

{% section 'product-landing-fr' %}

<section id="sectiontwelve">
  <div class="containern">
    <h2>Dépêchez-vous et réclamez votre lampe UVO254™ avant qu'elles ne soient toutes épuisées !</h2>
    <div class="textcontainer contentmargine">
      <p>Chaque fois que nous faisons ces promotions, les gens commencent à acheter trois, cinq, ou même dix lampes pour
        leurs
        maisons et bureaux. Elles s'envolent donc de nos étagères d'entrepôt très rapidement.</p>
      <p>Et <strong class="font-bold">une fois que nous serons en rupture de stock, nous devrons retirer cette page et
          attendre notre prochaine expédition.</strong>.</p>
      <p>En raison de ce qui se passe dans le monde et des problèmes logistiques, la prochaine expédition pourrait
        prendre des
        mois, en fonction de l'approvisionnement et des lignes de transport.</p>
      <p>Donc, si vous êtes intéressé par l'obtention d'une lampe UVO254™ qui vous permettra d'enfin avoir un
        <strong>espace plus propre, exempt d’allergies et de maladies...</strong></p>
      <p>N'attendez plus et cliquez sur le bouton "Acheter maintenant" en bas de cette page pour sécuriser votre
        appareil dès
        aujourd'hui.</p>
    </div>
    <div class="limitedproductbox">
      <div class="context">
        <img loading="lazy" class="lazyload donly"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/limited-time-sale-desktop-fr.png?v=1715338341">
        <img loading="lazy" class="lazyload monly"
          data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/limited-time-sale-mobile-fr.png?v=1715338232">
      </div>
      <a href="#shopify-section-product-landing-fr" class="back-to-top">ACHETER</a>
    </div>
  </div>
</section>
<section id="askquestion">
  <div class="containern">
    <h2>Questions Fréquemment Posées</h2>
    <div class="textcontainer askquestion">
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Est-ce une arnaque ? Avez-vous des preuves de son efficacité ?</p>
        </div>
        <div class="answer">
          <p>La désinfection par UVC n'est pas une arnaque. De nombreuses études scientifiques, y compris des études du
            CDC et de
            l'EPA, prouvent que la lumière UVC tue presque tous les polluants biologiques et les germes. <br><br>

            Par exemple, une étude publiée dans le Journal asiatique de biomédecine tropicale, intitulée "Effet de la
            lumière
            germicide UV-C (254 nm) sur les œufs et les adultes des acariens domestiques, Dermatophagoides pteronyssinus
            et
            Dermatophagoides farinae", a montré l'efficacité des UVC pour tuer les acariens de la poussière et leurs
            œufs.<br><br>

            L'EPA déclare également que les lampes UV peuvent détruire les polluants biologiques intérieurs tels que les
            virus,
            les bactéries et les moisissures.<br><br>

            En plus des UVC, de nombreuses recherches suggèrent que la fumigation à l'ozone appliquée à des
            concentrations
            appropriées pourrait éliminer efficacement plusieurs organismes perturbateurs tels que les acariens de la
            poussière,
            les bactéries, les virus, les parasites, etc.<br><br>

            Les lampes UVO254™ combinent à la fois les UVC et l'ozone pour une efficacité maximale.
          </p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>La lampe UVO254™ d'Uvlizer est-elle sûre ?</p>
        </div>
        <div class="answer">
          <p>La désinfection par UVO est parfaitement sûre si elle est utilisée correctement.<br><br>

            Parce que l'exposition à la lumière UVC peut endommager votre peau ou vos yeux (comme le feraient les rayons
            du
            soleil), vous devez garder toutes personnes, animaux domestiques et plantes hors de la pièce pendant que
            Uvlizer
            fonctionne. C'est un petit prix à payer pour un espace exempt à 99,99 % d'allergènes et de germes, et frais
            comme un
            jardin.<br><br>

            Le dispositif de désinfection domestique Uvlizer propose également deux excellentes fonctionnalités pour
            éviter une
            exposition accidentelle à la lumière UVC ou à l'ozone. (1) Il dispose d'une télécommande qui peut être
            utilisée à
            distance, et (2) id'une minuterie d'auto-délai pouvant aller jusqu'à 30 secondes avec des sons de bip
            permettant de
            quitter la pièce avant que l'ampoule ne s'allume.
          </p>

        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>En quoi la lampe UVO254™ est-elle différente des lampes UVC traditionnelles ou des générateurs d'ozone ?
          </p>
        </div>
        <div class="answer">
          <p>Les lampes UVO254™ combinent les UV-C et l'ozone pour permettre le nettoyage de l'air et des surfaces dans
            toute la
            pièce.<br><br>

            Les lampes UV-C traditionnelles peuvent être excellentes ! Il a été prouvé qu'elles tuent 99,9 % des
            polluants
            biologiques. Les compagnies aériennes et les hôpitaux les utilisent même pour garantir la sécurité de leurs
            espaces.<br><br>

            Mais il y a un hic...<br><br>

            La lumière UV-C est plus efficace lorsqu'elle tombe directement sur les surfaces. Si elle est réfléchie,
            elle perd
            rapidement de son efficacité. Par conséquent, les lampes UV-C seules sont inefficaces pour une utilisation à
            domicile.
            Une meilleure solution est d'utiliser des appareils portables UV-C pour appliquer directement la lumière sur
            les
            surfaces. Mais qui a le temps pour ça? De plus, cela ne désinfecte pas l'air.<br><br>

            L'ozone peut être excellent en lui-même pour certains usages également. Il réagit avec les germes, les
            bactéries, les
            virus et d'autres composés organiques, ce qui lui confère des propriétés désinfectantes.<br><br>

            C'est pourquoi il est utilisé dans les hôpitaux et les salles d'opération. Cependant, selon la taille de la
            pièce, un
            générateur d'ozone traditionnel doit fonctionner pendant au moins 3 à 10 heures. Pour une maison entière, au
            moins 25
            à 30 heures de fonctionnement continu sont nécessaires pour éliminer la plupart des polluants.<br><br>

            De plus, vous devriez éviter de rester dans la pièce pendant que le générateur d'ozone fonctionne et trouver
            un nouvel
            endroit où séjourner. Ensuite, vous devez attendre encore 4 à 6 heures pour que l'ozone se dissipe.<br><br>

            Ainsi, en combinant les UVC et l'ozone, vous pouvez obtenir une désinfection synergique et augmenter
            l'efficacité des
            UVC tout en réduisant le temps nécessaire à l'ozone pour agir. En 15 à 60 minutes, vous obtiendriez le même
            niveau de
            désinfection que quelqu'un faisant fonctionner un générateur d'ozone pendant 25 à 30 heures!<br><br>

            En utilisant des ampoules UVO254™, la lampe d'Uvlizer désinfecte une pièce de haut en bas, y compris les
            endroits
            difficiles d'accès et même l'air.</p>

        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Est-ce que cela est efficace contre la moisissure ?</p>
        </div>
        <div class="answer">
          <p>La lumière UVC fonctionne sur la moisissure. Cependant, certaines moisissures sont plus difficiles à tuer
            et peuvent
            nécessiter des temps d'exposition plus longs ou des expositions multiples.</p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Est-ce que cela est efficace contre les punaises de lit ? Les insectes ? ...</p>
        </div>
        <div class="answer">
          <p>Oui, les lampes UVO254™ tuent efficacement les punaises de lit, les parasites et les insectes.<br><br>
            Les entomologistes (scientifiques qui étudient les insectes) et d'autres spécialistes sont d'accord pour
            dire que la
            lumière UVC peut tuer les insectes et les parasites en mutant leur ADN. De plus, l'ozone sous forme gazeuse
            peut tuer
            les insectes et les parasites en ciblant principalement leur système respiratoire.</p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Que se passe-t-il avec les allergènes et les germes après leur destruction ?</p>
        </div>
        <div class="answer">
          <p>La lampe UVO254™ décompose complètement l'ADN des allergènes, les rendant non identifiables pour le corps
            humain et donc
            inefficaces pour déclencher une réaction allergique.</p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Combien de temps dure l'ampoule ? Que se passe-t-il si j'ai besoin d'une nouvelle ampoule ?</p>
        </div>
        <div class="answer">
          <p>La durée de vie de l'ampoule UV est très longue ! Elle dépasse les 5 000 heures. Si vous l'utilisez tous
            les jours, il
            faudra plus de 12 ans pour atteindre 5 000 heures.<br><br>
            Si vous avez besoin d'une nouvelle ampoule, n'hésitez pas à nous contacter et nous pouvons en commander une
            pour vous.</p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>La lumière UV perd-elle de son efficacité avec le temps ?</p>
        </div>
        <div class="answer">
          <p>La puissance de sortie UV de tous les tubes lumineux diminuera très lentement avec le temps en raison de
            l'accumulation
            de résidus à l'intérieur du tube. Cependant, les experts de l'industrie affirment que vous pouvez faire
            fonctionner un
            tube lumineux en continu pendant un maximum d'un an - ou 9 000 heures - avant de devoir le remplacer en
            raison d'une
            puissance UV diminuée.Cela dépasse largement la durée de vie de l'ampoule Uvlizer, qui est de 5 000 heures,
            et fournira
            de nombreuses années de désinfection efficace.</p>
        </div>
      </div>
      <div class="question-wrap">
        <div class="asked">
          <span class="ficon"></span>
          <p>Puis-je utiliser Uvlizer pour stériliser mon téléphone ou d'autres objets personnels ?</p>
        </div>
        <div class="answer">
          <p>Bien qu'il soit préférable d'utiliser notre UVBox, spécialement conçue à cet effet, vous pouvez utiliser
            Uvlizer en en
            mettant tout ce que vous voulez désinfecter dans la pièce avant de la désinfecter.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="reviewsection">
  {% assign products = all_products["uvlizer-tower"] %}
  <div class="containern">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: products %}
  </div>
</section>


<section class="disclamair-section">
  <div class="containern">
    <p>"Ce site ne fait pas partie du site web Facebook ou de Facebook Inc. De plus, ce site n'est en aucun cas approuvé par
    Facebook. FACEBOOK est une marque déposée de FACEBOOK, Inc."</p>
  </div>
</section>

{% comment %} {% section 'footer-fr' %} {% endcomment %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ 'slick.js' | asset_url }}"></script>
<script>
  $(document).ready(function () {
    $(document).on('click', '.back-to-top', function (e) {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        if (target.length) {
          e.preventDefault();
          var scrollto = target.offset().top;
          var scrolled = 20;

          if ($(this).attr("href") == 'nav') {
            scrollto = 0;
          }

          $('html, body').animate({
            scrollTop: scrollto - 100
          }, 1500);
          $("body").removeClass("menu-active")
          return false;
        }
      }
    });


    $(document).on('click', '.hburger', function (e) {
      $("body").toggleClass("menu-active")

    })

    $('.review-slider').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,


      dots: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: false,
            dots: true,
            arrows: false
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            initialSlide: 1,
            centerMode: true,
            centerPadding: '60px'
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            centerPadding: '60px',
            arrows: false
          }
        }
      ]


    });
    $('.fda-slider-m').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      centerMode: false,

      arrows: true,
      dots: true


    });
    $('.fda-slider').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      dots: true


    });
    $('.product-slider').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: true


    });
    $(".question-wrap").click(function () {
      $(this).toggleClass("active").siblings().removeClass("active");
      $(this).children(".answer").slideToggle();
      $(this).siblings().children(".answer").slideUp();
    })
    $(".pselection:first-of-type").addClass("selected");
    $(".pselection").click(function () {
      var qty = $(this).attr("data-qty");
      var variant = $(this).attr("v_id");
      $(".addcart").attr({
        v_id: variant,
        v_qty: qty
      });
      $(this).addClass("selected").siblings().removeClass("selected")
    })

    $(".offer-box:first-child .offer-text").text("");
    $(".offer-box:nth-child(3) .offer-text").text("Meilleur rapport qualité-prix")

    $(".pselection.second-box .device-text").text("Appareils");
    $(".pselection.third-box .device-text").text("Appareils");


    $(".first-box").click(function () {
      var offTxt1 = $(this).children(".old-price").text();

    });
    $(".mobile-cart-link").click(function () {
      $(".js-go-cart-trigger").trigger("click")

    });


  });

</script>

{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
{% section 'go-cart-fr' %}
{{ 'index.js' | asset_url | script_tag }}
<script>

  var goCart = new GoCart();


</script>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/splitnew.png?v=1660025184" width="100%">
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("mybtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<style>
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  div#myModal {
    z-index: 9999;
  }
</style>
