<style>
.page-footer-row,.page-footer-row a,.page-footer-row p,.page-footer-row>div span{opacity:.8;color:#fff}body,nav ul a{font-size:18px}#sectioneight h3.segttc,#sectionfour h2,.btn-wrap,.postwobottom,.sectioneightbottom,.sectiontwelve .pstrright{text-align:center}#sectionten h2,.hbleft h1{font-family:Poppins,sans-serif}.footer_top ul,.hbleft ul li,.pstleft ul li{list-style-type:none}.footer_top ul li a,.hbleft a,.limitedproductbox a,nav ul a{text-decoration:none}#shopify-section-product-landing-july .gallery__thumbnails span img,.question-wrap.active .asked span.ficon:after{opacity:0}.page-uvlizer-uvo254{max-width:100%!important}#recently-bought--holder{display:none!important}#shopify-section-footer,#shopify-section-product-landing-july .gallery__button--holder{display:none}.page-footer{background:#000;padding:40px 0 100px}#askquestion,#postsecthree,.hubcontainerone{background-color:#eef6f8}.page-footer-row{display:flex}.page-footer-row>div{width:100%;padding:0 20px}.page-footer-row>div.col1{width:35%}.page-footer-row>div.col2,.page-footer-row>div.col3{width:18%}.page-footer-row>div.col4{width:29%}.page-footer-row>div span.lock-text{display:flex;align-items:center;gap:10px;margin-bottom:15px}.page-footer-row>div span.lock-text img{max-width:25px}.page-footer-row a{transition:.3s}.page-footer-row a:hover{opacity:1;color:#fff}*{padding:0;margin:0}#splitit-container>div a,.crright img,.fda-slider .rsl img,.fda-slider-m .rsl img,.postsecone .psoleft img,.sectioneightleft img,.sfiveright img,.tustpilotbazz img,img{width:100%}.containern{max-width:1180px;margin:auto;padding:0 15px}p{margin-bottom:20px!important}.textcolor{color:#1f1f1f}.nheader{color:#fff;background-image:url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bgimage-min.webp?v=1659784158');background-size:cover}#headertop{padding:15px 0;display:flex;justify-content:space-between;align-items:center}#headertop p{color:#fff;margin:0!important;font-weight:300}nav ul{display:flex;list-style:none;gap:20px}nav ul a{color:#fff}.brand img{max-width:150px}#headerbottom{padding:0 0 50px;display:grid;grid-template-columns:auto 300px}.hbleft h1{font-size:35px;text-shadow:0 0 1px #000;color:#8cebf0;font-weight:700!important;max-width:70%;line-height:45px!important}.hbleft p{line-height:30px;margin-bottom:10px!important;color:#fff;font-size:18px}.hbleft p.first{font-size:25px;font-weight:600;max-width:700px}.hbleft ul{margin:15px 0 15px 35px}.hbleft ul li{margin:10px 0;position:relative;font-size:18px;font-weight:500}.hbleft ul li::before{content:'';width:20px;height:20px;background-image:url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/closs.png?v=1654130518');background-size:cover;position:absolute;top:0;left:-35px}b,strong{font-weight:600px}.sectionten b,strong{font-weight:700px}.hbleft a{padding:15px 40px;background-color:#fff;border-radius:5px;margin-top:30px;font-size:23px;color:#000058;font-weight:700}.hbright img{width:85%}#trustpilotbazz{padding:10px 0;box-shadow:0 2px 8px #a5a5a5}.tustpilotbazz{display:grid;grid-template-columns:auto 310px;justify-content:center;grid-gap:100px;align-items:center}#addtocardsection,#commentreview{padding:80px 0}.commentreview{display:grid;grid-template-columns:45% 45%;justify-content:space-between;align-items:center}.askquestion .answer p,.crleft p{line-height:30px;color:#1f1f1f}.crleft p:first-child{margin-bottom:30px}#askquestion h2,#postsecone h2,#postsecthree h2,#postsectwo h2,#sectioneight h2,#sectionfive h2,#sectionnine h2,#sectiontherty h2,#sectiontwelve h2,.commont-section h2,.crleft h2{font-size:35px;color:#032d49;padding-left:50px;margin:10px 0;position:relative;font-family:Poppins,sans-serif;font-weight:700!important}#askquestion h2::before,#postsecone h2::before,#postsectwo h2::before,#sectioneight h2::before,#sectionfive h2::before,#sectionnine h2::before,#sectiontherty h2::before,.commont-section h2:before{content:'';position:absolute;top:-10px;left:0;width:8px;height:50px;background-color:#032d49;border-radius:5px}.postsecone{display:grid;grid-template-columns:300px auto;padding:30px 0;grid-gap:30px;justify-content:center}.pstwocenter,.sectionfour{grid-gap:50px;display:grid}#sectiontwelve p,.postsecone .psoright p,.postsecthree p,.sectionfour p,.sfiveleft p{line-height:30px;margin-bottom:20px;color:#1f1f1f}#postsecthree h2,#sectiontwelve h2{padding-left:50px;margin:10px 0;position:relative}.psoright,.sectionnineleft{max-width:600px}#postsectwo{margin:30px 0}.pstwocenter{grid-template-columns:auto 400px;margin:50px 0;align-items:center}.pstwocenter .pstleft{margin-left:55px}.pstleft ul li{line-height:25px;margin-bottom:15px;color:#1f1f1f;position:relative}.pstleft li::before{content:'';width:40px;height:40px;background-image:url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/checkm.png?v=1654132937');background-size:cover;position:absolute;top:4px;left:-60px}.postwobottom{margin-bottom:30px;padding:0;border-radius:15px}#postsecthree,#sectioneight,#sectionfour,#sectionsaven,#sectiontwelve,.postsecthree{padding:50px 0}.limitedproductbox h3,.postwobottom h3{color:#032d49;font-size:30px}#postsecthree h2{font-size:30px;color:#032d49}#postsecthree h2::before,#sectiontwelve h2::before{content:'';position:absolute;top:-20px;left:0;width:8px;height:100px;background-color:#032d49;border-radius:5px}.postsecthree{display:grid;grid-template-columns:45% 45%;justify-content:space-around;align-items:center}.sectionfour{grid-template-columns:300px auto;margin:50px 0}#sectionfive{margin-bottom:30px;margin-top:30px}.sectionnineright{text-align:right}#how-it-works h2,#sectioneight p.segttc,#sectioneleven h2,#sectionsaven p,#sectionsix,#sectionten h2,.btn-add-to-cart,.btn-wrap span,.btt-footer,.btt-footer a,.bundle-wrapper .blk p,.copywrighting,.disclamair-section,.gicon,.icon-outer-wrapper>div .icon-wrap,.icon-outer-wrapper>div h5,.sectionfivebottom,.sectionninebottom,.sectiontenbox{text-align:center}.sectionfive{display:grid;grid-template-columns:50% 40%;justify-content:space-around;padding:40px 0}.sfiveright{border-radius:30px;overflow:hidden}.sectionfivebottom{padding:30px 0;font-size:25px}#sectionsix{padding:50px;position:relative;box-shadow:0 0 30px #848d926e;margin:100px 0}.secsiximg{position:absolute;bottom:-13px;right:0;left:700px;margin:auto;display:none}.secsiximg img{width:120px}#sectionsix h2{color:#032d49;padding:30px}#sectionsix h3{font-size:50px;color:#66b3e2;font-weight:900}#sectionsaven p{line-height:35px;color:#1f1f1f;font-size:25px;margin-bottom:0!important}.fakesliderbox{display:grid;grid-template-columns:auto auto auto;grid-gap:20px;margin-top:50px}#sectioneight{background-color:#f0f5f8}#sectioneight p.segttc{line-height:30px;width:700px;margin:30px auto}.sectioneight{display:grid;grid-template-columns:40% 40%;justify-content:center;grid-gap:30px;padding:40px 0}.sectioneightright p{line-height:25px;color:#1f1f1f}.sectioneightbottom span{color:#39afdd}.sectionnine{display:grid;grid-template-columns:auto 300px;margin:50px 30px;justify-content:center}.sectionninebottom,.sectionten{justify-content:space-between;display:grid}.sectionnineleft p{line-height:30px;margin-bottom:20px!important;color:#1f1f1f}.sectionnineright img{width:70%}.sectionninebottom{grid-template-columns:280px 280px 280px;margin:0 auto;max-width:900px}.sectionninebottom .secninebox{border-radius:50px;color:#fff;overflow:hidden;height:350px;background-color:#184268;display:grid;align-items:center;justify-content:center}.secninebox img{width:130px;margin:0 auto}.secninebox .price{font-size:35px;font-weight:900;color:#fff;margin:0!important}.secninebox .feature{margin:0!important;font-size:25px;color:#fff}#sectionten{padding:30px 0 80px}#sectionten h2{color:#032d49;font-weight:700;font-size:21px}.gallery__default .slick-slide img{width:100%;height:100%;object-fit:contain;max-height:450px}.bndl-title{color:#194269;font-weight:500!important;margin-bottom:20px!important}.rqty{color:#c93a3a!important}.benefits.bold{font-weight:600}.sectionten{margin:50px 30px;grid-template-columns:45% 45%;grid-row-gap:50px}.sectiontenbox{color:#1f1f1f}.sectiontenbox img{width:180px}.sectiontenbox p{margin-top:15px;line-height:25px;color:#1f1f1f}.sectioneleven{margin-top:50px;display:grid;grid-template-columns:50% 50%;margin-bottom:80px}#sectioneleven h2{color:#032d49;font-size:22px;margin-bottom:20px}.hubcontainerone{width:100%;margin-left:auto;position:sticky;top:50px;padding:30px 0 100px}.binner{max-width:490px;margin-left:auto}.hubcontainertwo{width:490px;margin-right:auto;padding-left:75px}.secelevenleft h3,.secelevenright h3{font-size:30px;color:#39afdd;padding-left:70px;margin:30px 0 40px!important;position:relative}.secelevenleft h3::before,.secelevenright h3::before{content:'';position:absolute;top:13px;left:0;width:50px;height:8px;background-color:#39afdd;border-radius:5px}.hubcontainertwo h4{font-size:20px;color:#000e4b;margin:30px 0 20px!important;position:relative;font-weight:700}.hubcontainertwo h4::before{content:'';position:absolute;top:12px;left:-50px;border:7px solid #000e4b;transform:rotate(45deg)}.nolist li::before,.yeslist li::before{content:'';height:40px;top:4px;left:-60px;background-size:cover;width:40px}.nolist li,.yeslist li{padding:15px 0;color:#1f1f1f;list-style-type:none;position:relative}.yeslist li::before{background-image:url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/check_mark.png?v=1654107771');position:absolute}.nolist li::before{background-image:url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/cross_check.png?v=1654107771');position:absolute}.addtocardsection{display:grid;grid-template-columns:40% 45%;justify-content:space-between}.reviewsection,.sectiontwelve{grid-template-columns:45% 45%}.addtocardsectionright h2{color:#000e4b}.buying,.review,.watching{display:flex;gap:20px;align-items:center;margin-top:20px}.buying img,.review .star svg,.watching img{width:30px}#sectiontwelve h2{font-size:35px;color:#032d49}.sectiontwelve{display:grid;justify-content:space-around;padding:50px 0}.sectiontwelve .pstrright img{width:300px;margin-top:-40px}.textcontainer{margin:0 30px}.askquestion,.copywrighting{margin-top:50px}.contentmargine,.margin-tb-50{margin-top:50px;margin-bottom:50px}.limitedproductbox{background-size:cover;display:flex;border-radius:30px;background-color:#66b3d926;border:1px solid #66b3e2;align-items:center;justify-content:space-between;height:250px}.limitedproductbox .context{margin-top:0;margin-left:0;padding:60px}.limitedproductbox h4{color:#790000;font-size:20px}.limitedproductbox a{margin-left:50px;background-color:#032d49;color:#fff;padding:20px 80px;border-radius:10px;margin-right:80px}#askquestion{padding:50px 0}.askquestion .asked{background-color:#fff;border-radius:20px;padding:40px 50px;box-shadow:0 0 10px gray;cursor:pointer;position:relative}.askquestion .asked span.ficon{position:absolute;width:20px;height:20px;display:inline-block;left:19px;top:50%;transform:translateY(-50%)}.askquestion .asked span.ficon:before{content:"";width:100%;height:2px;background-color:#032d49;position:absolute;left:0;right:0;margin:0 auto;top:50%;transform:translateY(-50%)}.askquestion .asked span.ficon:after{content:"";height:100%;width:2px;background-color:#032d49;position:absolute;left:0;right:0;margin:0 auto;top:50%;transform:translateY(-50%)}.askquestion .asked p{font-size:23px;line-height:30px;color:#1f1f1f;margin-bottom:0!important}.bundle-wrapper,.question-wrap{margin-bottom:20px}.askquestion .answer{border-left:4px solid #414141;border-radius:5px;padding-left:30px;margin:50px;display:none}#reviewsection{padding-top:50px}.reviewsection{display:grid;grid-row-gap:50px;justify-content:space-between}footer{background-color:#0c0b0b;font-size:13px;padding:30px 0;color:#a5a4a4}.footer_top{display:grid;grid-template-columns:400px auto auto auto;justify-content:space-between}.footer_top ul li{margin:5px 0}.footer_top ul li a{color:#a5a4a4;padding:5px}#shopify-section-product-landing-july{background:#eef6f8;padding:80px 0}#shopify-section-product-landing-july .gallery-new{flex-direction:column;display:block}#shopify-section-product-landing-july.gallery__thumbnails{flex-direction:inherit}#shopify-section-product-landing-july .gallery__image img{object-fit:cover}#shopify-section-product-landing-july .gallery__thumbnails{display:flex;justify-content:center;flex-direction:row;transform:none;text-align:center;width:100%;padding:20px 0}#shopify-section-product-landing-july .gallery__thumbnails span{width:10px;height:10px;background-color:#bcbcbc;overflow:hidden;border-radius:100%;border:0;margin:0 4px;cursor:pointer}#shopify-section-product-landing-july .gallery__thumbnails span.active,#shopify-section-product-landing-july .gallery__thumbnails span:hover{box-shadow:none;border:none;background:#66b3e2}#shopify-section-product-landing-july .gallery__thumbnails span[data-variants="42887909343481|"],#shopify-section-product-landing-july .gallery__thumbnails span[data-variants="42887909376249|"],#shopify-section-product-landing-july .gallery__thumbnails span[data-variants="42887909409017|"],#shopify-section-product-landing-july .product__price--holder,.monly,.product-slider .slick-arrow:before,.swatch-container{display:none}#shopify-section-product-landing-july .quantity--input{width:0;height:0;pointer-events:none;opacity:0}#shopify-section-product-landing-july .gallery__default{min-height:450px;display:block!important}.gicon{display:block;user-select:none}.gicon img{max-width:80%;margin:0 auto}.product-slider-wrapper{padding-left:20px;padding-right:20px}.product-slider-wrapper .slick-arrow.slick-next{right:0;z-index:99}.product-slider-wrapper .slick-arrow.slick-prev{left:0;z-index:99}#shopify-section-product-landing-july .product__urgency{margin:0 0 10px}#shopify-section-product-landing-july .product__urgency .uil{font-size:25px;color:#66b3e2}#shopify-section-product-landing-july .product__urgency .uil.uil-shopping-basket:before{content:'\eb86'!important}#splitit-container>div{display:flex;font-size:16px;flex-wrap:wrap}.row-block{display:flex}#shopify-section-product-landing-july .product__atc,.row-block.first-block{margin-bottom:10px}.bundle-wrapper .blk{margin:0 15px 0 0;background-color:#ededed;border:1px solid #707070;border-radius:10px;width:33%;padding:15px;cursor:pointer}.bundle-wrapper .blk.selected{background-color:rgba(102,179,226,.1);border:1px solid #66b3e2}.bundle-wrapper .row-block.first-block .blk{background-color:#66b3e2;border:1px solid #66b3e2;padding:5px;display:flex;justify-content:space-between;align-items:center}.btt-footer,.slick-dots{justify-content:center;gap:10px}.bundle-wrapper .row-block.first-block .blk p{color:#fff;margin:0!important;font-size:10px}.bundle-wrapper .row-block.first-block .blk p.bprice{font-size:14px}.old-price{opacity:.5;text-decoration:line-through}.new-price{font-size:22px!important}.img-wrap{height:100px;margin-bottom:15px}.img-wrap img{object-fit:contain;width:100%;height:100%}.bundle-wrapper .blk p{margin:0 0 8px!important}.bundle-wrapper .blk p.old-price{font-size:22px}.bundle-wrapper .blk p.new-price{font-size:18px!important;color:#194269}.bundle-wrapper .blk p.bprice{font-weight:700}.bundle-wrapper .blk p.bprice span{font-weight:400;font-size:12px}#shopify-section-product-landing-july .button--addToCart{border-radius:10px;max-width:300px;text-transform:uppercase;font-weight:700;color:#fff!important;margin:15px auto}.inventoryWrapper span{color:#969696}.inventoryWrapper p{margin:0 0 15px 10px!important}.fda-slider .rsl,.fda-slider-m .rsl{padding:0 10px}.fda-slider-m .slick-arrow:before,.slick-arrow:before{display:inline-block;padding:3px;width:4px;height:4px;background:0 0;font-size:0;content:""}.slick-dots{display:flex;list-style:none;margin-top:15px}.slick-dots li button{text-indent:-9999px;width:10px;height:10px;border-radius:100%}.slick-dots li.slick-active button{background:#66b3e2}.slick-arrow{font-size:0;position:absolute;top:50%;margin-top:-35px;background-color:#66b3e2;width:40px;height:40px;border-radius:100%;border:1px solid #66b3e2}.slick-arrow:before{border:solid #fff;border-width:0 2px 2px 0}.slick-arrow.slick-prev{transform:rotate(135deg);-webkit-transform:rotate(135deg);left:-50px}.slick-arrow.slick-next{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);right:-50px}.fda-slider-m .slick-arrow{background-color:transparent;border:none!important}.fda-slider-m .slick-arrow:before{border:solid #000;border-width:0 2px 2px 0}.partners__section{padding-top:50px;background-color:#f2f2f4;padding-bottom:50px;-webkit-box-shadow:1px 1px 35px 8px #848d92d1 inset;box-shadow:1px 1px 35px 8px #848d92d1 inset;margin:00px 0 0}.partners__section .outer__partners{max-width:1100px;margin-left:auto;margin-right:auto;display:grid;grid-template-columns:repeat(3,1fr);grid-column-gap:20px}.partners__section .outer__partners .partner__logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:15px;min-height:50px}.partners__section .outer__partners .partner__logo>img{max-width:100%;max-height:50px;object-fit:contain}#sectionsaven .partners__section .outer__partners p{margin:0;font-size:14px;font-weight:400;line-height:normal;color:#848d92}.review-slider .slick-slide .rsl img{border:2px solid transparent;border-radius:10px}.review-slider .slick-current.slick-active.slick-center .rsl img{border:2px solid #66b3e2}.disclamair-section{padding:40px 0 0;font-size:14px;background:#000}.btn-add-to-cart,.row-footer .fright a{background:#c93a3a;color:#fff;text-decoration:none;font-weight:700}.disclamair-section p{max-width:600px;margin:0 auto!important;opacity:.7;color:#fff}#shopify-section-product-landing-july .layout__content{max-width:1180px}.btn-add-to-cart{border-radius:10px;padding:10px;cursor:pointer;max-width:200px;margin:0 auto 15px;width:100%;float:none;text-transform:uppercase;margin-right:10px}.btn-wrap span{font-size:12px}.bullet-heading{margin:15px 0 0}.video-wrapper{max-width:800px;margin:40px auto 0}.wrapper--bottom{padding-top:0}.font-bold{font-weight:600!important}.font-very-bold{font-weight:800!important}@media only screen and (min-width:990px){#sectioneleven h2,#sectionten h2{font-size:30px!important}.hbleft h1{margin-bottom:20px!important}.commentreview .crleft h2{line-height:1.2em;font-size:30px;margin-bottom:15px;margin-left:-50px}}.review-slider-wrapper .containern h2{margin-bottom:25px}.review-star a{display:flex;align-items:center;background:no-repeat;padding:0!important;margin:0!important;font-size:16px;color:#fff!important;font-weight:300;gap:10px}.review-star a img{max-width:120px}#how-it-works{margin:80px 0 0}#how-it-works h2{margin:0 0 40px}.product__page--info .btn-wrap{text-align:left}.product__page--info .btn-wrap button{padding:15px 40px;max-width:300px;display:inline-flex;align-items:center;justify-content:center;gap:10px;font-size:22px;animation:4s infinite shake-animation;transform-origin:50% 50%}.btt-footer,.btt-footer a,.icon-outer-wrapper,.icon-outer-wrapper>div,.row-footer,.row-footer .fleft,.row-footer .fleft a,.trust-pane .row,.trust-pane .row .col-left{display:flex;display:flex}.product__page--info .btn-wrap button:after{background-image:url("https://cdn.shopify.com/s/files/1/0519/0238/2231/t/14/assets/cart-btn-ic.png?v=34881947056499074641659699886");background-repeat:no-repeat;background-position:center right;content:"";width:30px;height:30px;background-size:contain}@keyframes shake-animation{0%,10.71429%,100%,3.57143%,7.14286%{transform:translate(0,0)}1.78571%,5.35714%,8.92857%{transform:translate(25px,0)}}.bndl-title{text-decoration:underline}.product-slider .slick-arrow{width:50px;height:50px;background-image:url(sar.png);background-repeat:no-repeat;background-size:contain;border:0;transform:none;right:0;background-color:transparent}.product-slider .slick-arrow.slick-prev{transform:rotate(180deg);-webkit-transform:rotate(180deg);left:0;right:auto}.product-slider-wrapper .product-slider,.product-slider-wrapper .product-slider-thumb{padding:0 50px}.product-slider-wrapper .product-slider-thumb .slick-slide{margin:0 5px}.footer-icons{background-color:#194269;padding:40px 0}.icon-outer-wrapper{flex-wrap:wrap;justify-content:center}.icon-outer-wrapper>div{width:20%;flex-direction:column}.icon-outer-wrapper>div .icon-wrap{height:45px}.icon-outer-wrapper>div .icon-wrap img{height:100%;width:auto}.icon-outer-wrapper>div h5{color:#fff;margin:11px 0 0;line-height:normal;font-weight:700}.btt-footer{background:no-repeat padding-box #fff;box-shadow:0 5px 10px #00000029;padding:20px 0}.btt-footer img{width:15px;object-fit:contain}.btt-footer a{justify-content:center;gap:10px;text-decoration:none}.trust-pane .row{align-items:center;padding:40px 0;align-items:center}.trust-pane .row .col-left{width:40%;align-items:center}.trust-pane .row .col-left img{width:auto;height:20px;margin-right:10px}.trust-pane .row .col-right{display:flex;align-items:center;width:60%}.trust-pane .row .col-right img{height:50px;width:auto;object-fit:contain}.footer-sticky-section{background:#194269;padding:10px 0;position:fixed;width:100%;left:0;bottom:-100%;min-height:50px;z-index:999;opacity:0;pointer-events:none;transition:.3s}.footer-sticky-section.sticky-active{opacity:1;pointer-events:auto;bottom:0}.row-footer{justify-content:space-between}.row-footer .fleft{width:50%;align-items:center}.row-footer .fleft img{width:100%;max-height:60px;object-fit:contain;max-width:50px}.row-footer .fleft a img{width:100%;object-fit:contain;max-width:100px;margin-left:-3px}.row-footer .fleft a{color:#fff;align-items:center;gap:10px;font-size:14px;text-decoration:none;justify-content:flex-start}.row-footer .fleft div strong{display:block;text-align:left;color:#fff;font-size:14px}.row-footer .fleft a span{color:#fff;display:flex;align-items:center}.row-footer .fright{width:50%;display:flex;justify-content:flex-end;align-items:center}.row-footer .fright a{border-radius:10px;padding:15px;display:inline-block;margin-right:50px;font-size:22px}.row-footer .fright .go-cart__trigger img{max-width:40px}.row-footer .fright .go-cart__trigger,.video-wrapper{position:relative}.row-footer .fright .go-cart__trigger span{display:inline-block}.row-footer .fright .go-cart__trigger span.count{position:absolute;background:#fff;width:20px;height:20px;border-radius:100%;display:flex;top:-6px;right:-10px;font-size:10px;justify-content:center;align-items:center;font-weight:700}.go-cart__button{max-width:100%!important;display:flex;justify-content:center;align-items:center;gap:13px;font-size:16px!important}.go-cart__button img{max-width:25px!important}.go-cart-drawer__content{height:calc(100% - 300px)!important}.picon-cart{margin-top:8px!important;display:block}.video-wrapper img{position:absolute;left:0;top:50%;transform:translateY(-50%);right:0;margin:0 auto;max-width:80px;z-index:9;pointer-events:none}.old-price{color:#000;font-size:18px;opacity:1;display:inline-block;margin-right:10px!important;font-weight:400}.go-cart-item__price{display:flex;flex-direction:row-reverse;color:#194269!important;font-size:14px;align-items:center;font-weight:700}@media only screen and (max-width:990px){.mobile-header,.mobile-menu{background-color:#194269;top:0}.hbleft h1,.mobile-header p a{color:#fff!important}.hbleft ul li,body,p{font-size:16px}#sectionsix h2,#shopify-section-product-landing-july .product__atc{margin-bottom:10px}#postsecone p.monly,.page-footer-row>div p{margin-bottom:0!important}#postsectwo{margin:0 0 30px}.monly{display:block}.donly{display:none!important;visibility:hidden}#postsecthree h2 br,.row-footer .fright .go-cart__trigger,header .hbleft p,header .hbleft ul{display:none}#headerbottom{grid-template-columns:70% 30%;align-items:center;padding:35px 0;position:relative}.hbleft h1{font-size:21px;font-weight:700!important;line-height:120%!important;max-width:100%}.hbleft{padding-top:22px}.hbleft a{padding:10px 35px;margin-top:10px;font-size:15px}.nheader{color:#fff;background-size:cover;background-repeat:no-repeat;background-position:center center}.hbleft ul li:before{background-image:url(https://cdn.shopify.com/s/files/1/0519/0238/2231/files/1099_Converted_-02.png?v=1654165167)}.monly .hbleft p{color:#000;font-size:16px;font-weight:400}.tustpilotbazz{grid-template-columns:40% 60%;grid-gap:0}.commentreview{grid-template-columns:inherit}#commentreview{padding:20px 0}#askquestion h2,#commentreview h2,#postsecone h2,#postsecthree h2,#postsectwo h2,#sectioneight h2,#sectionfive h2,#sectionnine h2,#sectiontherty h2,#sectiontwelve h2{font-size:21px;line-height:30px;padding-left:15px}.commentreview .crleft h2{margin-bottom:20px;margin-left:-15px}.postsecone{grid-template-columns:60% 40%;padding:30px 0 10px;grid-gap:0;flex-direction:column-reverse}.postsecthree,.pstwocenter,.sectioneight,.sectionfive,.sectionfour,.sectionnine,.sectiontwelve{grid-template-columns:auto}.page-footer-row>div.col4,.postsecone .psoleft,.pstrleft,.sectioneightleft,.sectionnineleft{order:2}#postsecone p.monly{margin-top:15px}.postsecone .psoright p{margin-bottom:10px!important}.pstwocenter{display:grid;grid-gap:0;margin:50px 0}.pstleft li:before{width:25px;height:25px;left:-47px}.postsecthree{padding-bottom:0}.postsecthree .pstrleft{order:2;margin-top:20px}.gicon.monly,.postwobottom{margin-top:15px}.postwobottom h3{font-size:20px;margin-bottom:15px!important;font-weight:700;margin:20px 0 15px}.sectionfour{display:grid;grid-gap:0;margin:30px 0 0}.sectiontenbox img{width:100px}.sectionfour .sfleft{margin-bottom:25px}.sectionfive .sfiveleft{order:2;margin-top:25px}.sfiveright{border-radius:0}#sectionsix h3{font-size:20px}#sectionsix h2{color:#032d49;padding:0;font-size:20px}#sectionsix{padding:20px;margin:40px 0}#sectionfive{margin-bottom:30px;margin-top:30px}#sectioneight p.segttc{width:100%;text-align:left}.sectioneight{grid-gap:0;padding:20px 0}#sectioneight h3.segttc,.btn-wrap{text-align:left}.sectionnine{display:grid;margin:20px 0}.sectionnineright{text-align:center;margin-bottom:25px}.sectionnineright img{width:48%;margin:0 auto}.sectionninebottom{grid-template-columns:33% 33% 33%;margin:0}.sectioneleven,.sectionten{display:grid;grid-template-columns:auto}.sectionninebottom .secninebox{border-radius:20px;color:#fff;overflow:hidden;height:220px;background-color:#184268;margin-right:2px;display:block}.secninebox img{width:50%;margin:15px auto 0}.sectionninebottom .secninebox:last-child{margin-right:0}.secninebox .price{font-size:20px;margin-bottom:15px!important;margin-top:15px!important}#splitit-container>div,.secninebox .feature{font-size:14px}.sectionten{margin:20px 0 0;justify-content:space-between;grid-row-gap:50px}.bundle-wrapper .row-block.first-block .blk,.limitedproductbox,.row-footer .fleft a span{flex-direction:column}.sectiontenbox p{text-align:center;color:#1f1f1f}#sectionten{padding:40px 00px 30px 0}.sectioneleven{margin-bottom:0}.hubcontainertwo{width:100%;margin-right:auto;margin-left:0;padding:0 15px}.contentmargine{margin-top:20px;margin-bottom:20px}.textcontainer{margin:0}.limitedproductbox{height:auto;padding:28px}.limitedproductbox .context{margin-top:0;margin-left:0;padding:20px}.binner,.footer-sticky-section .containern,.title-top{padding:0 15px}.nolist li,.yeslist li{padding-left:50px;padding-right:15px}.nolist li:before,.yeslist li:before{left:0}.title-top{margin:0 0 20px!important}.title-top h1{font-size:20px!important;margin:0 0 20px}.inventoryWrapper p,.mobile-header p{margin:0!important}.dtitle .product__title,.title-top .jdgm-widget{display:none!important}#shopify-section-product-landing-july{background:#eef6f8;padding:40px 0}#askquestion h2:before,#postsecone h2:before,#postsectwo h2:before,#sectioneight h2:before,#sectionfive h2:before,#sectionnine h2:before,#sectiontherty h2:before,.sectionten h2:before{width:3px}.mobile-header{padding:10px 15px;display:flex;align-items:center;justify-content:space-between;width:100%;z-index:9999;position:sticky;flex-wrap:wrap;margin-top:-4px}.mobile-header .brand img,.review-star a img{max-width:100px}.mobile-header p{color:#fff;font-size:14px;width:100%;text-align:center}.watch-item{margin-bottom:20px}.review-slider .rsl{padding:0 10px}.review-slider .rsl img{width:100%}.review-slider-wrapper{margin:20px 0}.fda-slider-m .partner__logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:15px;min-height:50px}.fda-slider-m .partner__logo>img{max-width:100%;max-height:50px;object-fit:contain}#sectionsaven .fda-slider-m p{margin:0;font-size:14px;font-weight:400;line-height:normal;color:#848d92}.partners__section{padding-left:50px;padding-right:50px}.mobile-menu{position:fixed;left:0;visibility:hidden;width:calc(100vw - 65px);height:100vh;max-height:none;z-index:20;-webkit-transition:visibility .5s cubic-bezier(.645, .045, .355, 1),-webkit-transform .5s cubic-bezier(.645, .045, .355, 1);transition:transform .5s cubic-bezier(.645, .045, .355, 1),visibility .5s cubic-bezier(.645, .045, .355, 1),-webkit-transform .5s cubic-bezier(.645, .045, .355, 1);-webkit-box-shadow:none;box-shadow:none;-ms-touch-action:manipulation;touch-action:manipulation;color:#fff;-webkit-transform:translateX(calc(-100vw + 65px));transform:translateX(calc(-100vw + 65px))}.menu-active .mobile-menu{visibility:visible;-webkit-transform:translateX(0);transform:translateX(0)}.mobile-header-wrapper{padding-top:0}.mobile-menu-inner{padding-top:150px}.mobile-menu-inner ul li{display:block;border-bottom:1px solid rgba(255,255,255,.5)}.mobile-menu-inner ul li a{padding:27px 15px;display:block;color:#fff!important}#askquestion h2:before,#postsecone h2:before,#postsectwo h2:before,#sectioneight h2:before,#sectionfive h2:before,#sectionnine h2:before,#sectiontherty h2:before,#sectiontwelve h2:before,.commont-section h2:before{top:0;width:3px}.askquestion .answer{margin:20px 15px}.askquestion .asked{background-color:#fff;border-radius:20px;padding:20px 25px 20px 50px;box-shadow:0 0 10px grey}.askquestion .asked p{font-size:18px;line-height:25px}#askquestion h2{margin-bottom:45px}.containern{padding:0 25px}.hubcontainerone{background-color:#fff;padding-bottom:20px}.hubcontainertwo h4{font-size:23px;color:#000e4b;margin:30px 0 20px!important;position:relative;font-weight:700!important}#askquestion h2,#postsecone h2,#postsecthree h2,#postsectwo h2,#sectioneight h2,#sectionfive h2,#sectionnine h2,#sectiontherty h2,#sectiontwelve h2,.commont-section h2{padding-left:25px;font-size:21px;line-height:30px}p{line-height:22px!important}.hburger img{max-width:30px}#sectionsaven{padding:20px 0 50px}.bundle-wrapper .blk{margin-right:5px}.cart-header-text{font-size:14px!important}.knowmorebtn.back-to-top.monly{
    font-size: 14px;
    padding: 10px 16px;display:inline-block}.inventoryWrapper p{margin-bottom:6px!important;text-align:left;margin-left:5px!important}.hbleft ul{margin:15px 0 15px 30px}.review-slider-wrapper .containern{max-width:100%;padding-left:0;padding-right:0}.review-slider-wrapper .containern h2{margin-left:25px;margin-right:25px}#shopify-section-top-info-bar p{font-size:12px}.mobile-cart-link{position:absolute;right:60px;color:#fff;font-size:30px;top:9px}.mobile-cart-link span{position:absolute;font-size:13px;color:#fff;right:-3px;font-weight:700}.review-star{position:absolute;top:15px}.review-star a{font-size:14px;gap:10px}#how-it-works{margin:10px 0 0}#how-it-works h2{font-size:21px}.product-slider-wrapper .product-slider,.product-slider-wrapper .product-slider-thumb{padding:0}.icon-outer-wrapper>div{width:50%;margin-bottom:30px}.trust-pane .row{flex-direction:column;justify-content:center}.trust-pane .row .col-left{width:100%;justify-content:center;margin-bottom:10px}.trust-pane .row .col-right{width:100%;justify-content:center}.row-footer .fleft a{flex-direction:column;justify-content:flex-start}.row-footer .fright a{font-size:14px;white-space:nowrap;padding:10px;margin-right:0}.page-footer-row{flex-wrap:wrap}.page-footer-row>div{width:100%!important;padding:0;text-align:center;margin:0 0 15px}.page-footer-row>div span.lock-text{justify-content:center}.footer__contact,.footer__links{justify-content:center;text-align:center}.page-footer-row>div.col2{order:3}.page-footer-row>div.col3{order:4}.slick-arrow.slick-next{right:20px;z-index:9}.slick-arrow.slick-prev{left:20px;z-index:9}.fda-slider-m .slick-arrow.slick-prev{left:-30px;z-index:9}.fda-slider-m .slick-arrow.slick-next{right:-30px;z-index:9}}
.sectionnineright.monly img,.sectionnineright img {
    max-height: 40vh;
    object-fit: contain;
} 
@media only screen and (min-width:768px){
  span.gicon.monly {
    display: none;
}
}
</style>
<link rel="preload" as="script" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet"> 
-->



 
<div class="mobile-header monly">
  <div class="hburger">
      <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hburger.png?v=1654187608" >
  </div>

  <div class="brand">
    <h2>
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772">
    </h2>
  </div>
  
  <span class="mobile-cart-link">
    <i class="uil uil-shopping-basket"></i>
    <span> {{- cart.item_count -}}</span>
  </span>
</div>
<div class="mobile-menu monly">
  <div class="mobile-menu-inner">
  		 <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
            <li><a href="#benefits" class="back-to-top">Benefits </a></li>
            <li><a href="#review" class="back-to-top">Testimonials</a></li>
            <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
            <li><a href="#shopify-section-product-landing-july" class="back-to-top">Order </a></li>
        </ul>
  	
  </div>

</div>



<div id="trustpilotbazz" class="monly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.webp?v=1659784243" alt="">
            </div>
        </div>
    </div>
 <header class="nheader">
        <div class="containern">
            <div id="headertop" class="donly">
                <div class="brand">
                    <h2><img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logonew-n.png?v=1659856677" ></h2>
                </div>
                
                <nav> 
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
                        <li><a href="#benefits" class="back-to-top">Benefits </a></li>
                        <li><a href="#reviewsection" class="back-to-top">Reviews</a></li>
                      <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
                      <li><a href="#shopify-section-product-landing-july" class="back-to-top">Order </a></li>
                    </ul>
                </nav>
            </div>
            <div id="headerbottom">
                <div class="hbleft">
                    <div class="review-star"><a href="#reviewsection" class="back-to-top"><img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/reviewstarnew.png?v=1659857023"  />4.8 Stars by 2355 Reviews</a></div>
                    <h1>New Tool Eradicates the #1 Root Cause of Allergies</h1>
                    <p >If you'd like to relieve sneezing, coughing, itchy, runny, or stuffy nose... and</p>
                    <p class="first">FINALLY, start enjoying a clean, allergy-free, and disease-free space </p>
                  
                  <p class="bullet-heading"><u>WITHOUT</u> worrying about</p>
                    <ul>
                        <li>Buying expensive air purifiers and their ongoing filter replacements</li>
                        <li>Toxic chemicals that kill allergens, but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without a long-term fix</li>
                        <li>Ongoing, expensive deep-cleaning services</li>
                        <li>Cleaning your home from top to bottom every day</li>
                    </ul>
                    <p>Then you're invited to act quickly.</p>
                    <br>
                    <a href="#commentreview" class="knowmorebtn back-to-top donly">Scroll below to learn more</a>
                  <a href="#mcontent" class="knowmorebtn back-to-top monly">Scroll below to learn more</a>
                </div>
                <div class="hbright">
                    <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/ficon_1.webp?v=1659783333" alt="">
                </div>
            </div>
        </div>
    </header>
	<div class="content-holder monly" id="mcontent">
      <div class="containern">
      <div class="hbleft">
                   <p >If you'd like to relieve sneezing, coughing, itchy, runny, or stuffy nose... and</p>
                    <p class="first" style="
    font-size: 18px;
    font-style: italic;
    font-weight: 500;">FINALLY, start enjoying a clean, allergy-free, and disease-free space </p>
         <p class="bullet-heading"><u>WITHOUT</u> worrying about</p>
                    <ul>
                        <li>Buying expensive air purifiers and their ongoing filter replacements</li>
                        <li>Toxic chemicals that kill allergens, but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without a long-term fix</li>
                        <li>Ongoing, expensive deep-cleaning services</li>
                        <li>Cleaning your home from top to bottom every day</li>
                    </ul>
                    <p>Then you're invited to act quickly.</p>
                </div>
      
      </div>

		</div>

    <div id="trustpilotbazz" class="donly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.webp?v=1659784243" alt="">
            </div>
        </div>
    </div>
    <section id="commentreview">
        <div class="containern">
            <div class="commentreview">
                <div class="crleft">
                  <h2>Americans are now rushing to grab these UVO254™ lamps...</h2>
                  <p>At this deeply discounted price, they are selling out fast!
</p>
                  <p>And due to the current supply chain issues, <strong class="font-bold">we won't be able to offer the current discount when it runs out of stock</strong>. We also can't guarantee that it will be back in stock soon or even remain at its original price. </p>

                  <p>The good news, however, is that <strong class="font-bold">if you're reading this, we still have some left in stock for you. But hurry, this won't last long!</strong> The UVO254™ lamps are getting massive buzz on social media, and they are flying off our shelves like crazy. </p>
                
                <p>You can secure yours now by scrolling down.</p>
   </div>
                <div class="crright donly">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/cnew1.webp?v=1659784396" alt="">
                </div>
            </div>
        </div>
      
      <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_79_1.png?v=1654888796"></div>
        	<div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_67.png?v=1654888796"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_80_2.png?v=1654888796"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_69.png?v=1654888796"></div>
      
        </div>
      
      </div>
      
      
    </section>
    <section id="postsecone">
        <div class="containern">
            <h2>Wipe Out Allergens and Pollutants from Your Space!</h2>
           <p class="monly">Uvlizer's revolutionary <strong>UVO254™ Lamp eradicates allergy-causing biological pollutants from their roots in 15 minutes</strong>. It does that by tearing down the small molecules that constitute these allergens.</p>
            <div class="postsecone">
                <div class="psoleft">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/gym_44.webp?v=1659784513" alt="">
                </div>
                <div class="psoright">
                  <p class="donly">Uvlizer's revolutionary <strong>UVO254™ Lamp eradicates allergy-causing biological pollutants from their roots in 15 minutes</strong>. It does that by tearing down the small molecules that constitute these allergens.</p>
                    <p>This is what we call eradicating allergies from their ROOTS.
</p>
                    <p><strong>No more strenuous cleaning... In fact, you could stop cleaning your home completely...</strong>
</p>
                  <p>And yet, STILL have an allergen-free indoor space just by using this high-tech device called the <strong>UVO254™ Lamp</strong>.</p>
                  <p><strong class="font-bold"><i>But you know what? Don’t just take our word for it…</i></strong></p>
                </div>
            </div>
        </div>
    </section>
    <section id="postsectwo">
        <div class="containern">
            <h2>This What Our Customers Say About Uvlizer</h2>
          <div class="video-wrapper">
  {{ 'slick.css' | asset_url | stylesheet_tag }}  

{{ 'vi-lazyload.min.css' | asset_url | stylesheet_tag }}

{{ 'lazyloadcustom.css' | asset_url | stylesheet_tag }}

<div class="vi-lazyload  img-thumbnail shadow" data-id="731972183" data-thumb="" data-logo="0" ></div>
          </div>
   
{{ 'vi-lazyload.min.js' | asset_url | script_tag }}
        </div>
      
   
    
      
    </section>
<div id="how-it-works">
  <div class="containern">
     <h2>Get a Sanitized Room In 3 Simple Steps</h2><br>
    <img class="donly"  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hiw-d-n_1_1_1_1_1.png?v=1659882315"  />
    <img class="monly"  style=" width:100% !Important" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hiw-m.webp?v=1659781002"  />
  </div>
</div>
  <section id="sectionsix">
        <div class="containern">
            <h2>Introducing The</h2>
            <h3>UVO254&#8482;Bulbs</h3>
            <div class="secsiximg">
                <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img4.png?v=1654131889" alt="">
            </div>
        </div>
 
    </section>
	
	
      <section id="sectionnine">
        <div class="containern">
            <div class="sectionnine">
                <div class="sectionnineleft">
                  <p>The UVO254™ Bulb is a revolutionary device that allows Uvlizer's lamps to be effective at <strong>destroying dust mites, bacteria, germs, bugs, and even foul smells</strong>. It combines the germicidal power of <strong>UV-C rays at 254nm</strong> (the most studied and optimum wavelength for maximum disinfection efficacy) and <strong>Ozone's oxidative properties</strong>.</p>
                   
                  <p>By combining the power of UV-C and Ozone, you get the <strong>synergistic</strong> effect of these two powerful disinfection agents and increase the effectiveness of UVC, while decreasing the time needed for Ozone to work. <strong>You'd get the same level of sanitization that someone else would get from running an Ozone generator for 25-30 hours in just 15-60 minutes! </strong></p>
                  <p>Uvlizer is the only device to use UVO254™ bulbs, allowing for <strong>whole room disinfection from top to bottom, including the most hard-to-reach areas and even the air itself.</strong>
</p>
                  <h2 style="font-size:21px; margin:30px 0 !important;">Inspired By Hospitals And Airlines</h2>
                  <p>Our inspiration came mainly from the healthcare and aviation industries. They use these elements to protect their patients and passengers and prevent infectious diseases from spreading. Combining these two natural solutions can keep your space<strong class="font-bold"> free from bacteria, viruses, fungus, and molds… all without compromising your health or your family's health by using toxic chemicals</strong>.</p>
                  
                </div>
               <div class="sectionnineright ">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
                </div>
            </div>
               
            <div class="postwobottom">
                <img loading="lazy" class="lazyload donly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/payable_icon_f04b1356-f58a-4009-98ed-75a4a73b1037.jpg?v=1654107771" alt="">
              <img  loading="lazy" class="lazyload monly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-m.png?v=1654168164?v=1654107771" alt="">
              
            </div>
        </div>
         
    </section>
       <section id="sectionsaven">
        
        <div class="review-slider-wrapper donly">
        <div class="partners__section">
		<div class="containern">
			<div class="outer__partners">
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:75px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>

				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px; max-height:35px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epanew.png?v=1659868895" alt="partner1">
					</div>
					<p>Ultraviolet germicidal irradiation (UVGI) cleaners that use ultraviolet radiation from UV lamps can destroy indoor biological pollutants such as viruses, bacteria, and some molds</p>
				</div>
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2.png?v=1654412065
" alt="partner1">
					</div>
					<p>Historically, it's been used in homeless shelters and medical centers. Sales are up tenfold in the past month. The demand is through the roof</p>
				</div>
			</div>
		</div>
	</div>
      
      </div>
      
      	  <div class="review-slider-wrapper monly partners__section">
       
            		<div class=" fda-slider-m">
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:75px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>

				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px; max-height:35px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epa.png?v=1654779013
" alt="partner1">
					</div>
					<p>Ultraviolet germicidal irradiation (UVGI) cleaners that use ultraviolet radiation from UV lamps can destroy indoor biological pollutants such as viruses, bacteria, and some molds</p>
				</div>
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2.png?v=1654412065
" alt="partner1">
					</div>
					<p>Historically, it's been used in homeless shelters and medical centers. Sales are up tenfold in the past month. The demand is through the roof</p>
				</div>
			</div>
      
      </div>
    </section>
<section class="commont-section" id="benefits">
  <div class="containern">
    <h2>This is What The UVO254™ Lamp Can Do For You</h2>
	<div class="pstwocenter" id="review">
                <div class="pstleft">
                    <ul>
                      <li><span class="benefits bold">Eliminates dust mites</span>, their eggs, mold, viruses, and other biological threats</li>
                        <li><span class="benefits bold">Alleviates  sneezing</span>, runny nose, and other nasty allergy symptoms</li>
                        <li><span class="benefits bold">Makes indoor air fresher</span>, cleaner, and easier to breathe</li>
                        <li><span class="benefits bold">Reduces brain fog</span>, clearing  your head
</li>
                        <li><span class="benefits bold">Safely evicts pests</span> that might be crawling in the basement or under your bed

</li>
                        <li><span class="benefits bold">Removes foul odors</span> caused by bacteria, cooking oils, tobacco smoke, and pets</li>
                        <li><span class="benefits bold">Makes your home safer</span> by disinfecting surfaces and air at the same time
</li>
                        <li><span class="benefits bold">Decreases the risk of infection</span> and transmission of diseases indoors
</li>
                    </ul>
                </div>
                <div class="pstright donly">
                    <img style="max-width:300px;" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Group_194.png?v=1655361496" alt="">
                </div>
            </div>

  </div>
  
  
		      <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_-_2022-06-07T222841.png?v=1654913317"></div>
        	<div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_70_4c41911b-bdde-472b-ac83-d051f84b9965.png?v=1654913317"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_77_1.png?v=1654913317"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_78.png?v=1654913317"></div>
          
          
        </div>
      
      </div>


</section>
<section>
      <div class="containern margin-tb-50">
  		 <div class="sectionninebottom">
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i1new.png?v=1659856601" alt="">
                    <p class="price">260K+</p>
                    <p class="feature">Rooms<br>Disinfected</p>
                </div>
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i2new.png?v=1659856634" alt="">
                    <p class="price">16+</p>
                    <p class="feature">Public<br>Schools</p>
                </div>
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i3new.png?v=1659855245" alt="">
                    <p class="price">760+</p>
                    <p class="feature">Offices, Beauty Salons
                   and Medical Centers</p>
                </div>
            </div>

      </div>



</section>

  <section id="sectioneleven">
        <h2>Uvlizer Lamp vs. Alternatives</h2>
       <div class="sectionnineright monly">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
                </div>
        <div class="sectioneleven">
            <div class="secelevenleft">
                <div class="hubcontainerone">
                   <div class="binner">
                  <h3 style="margin-top: 0 !important;">Uvlizer</h3>
                    <ul class="yeslist">
                        <li>UVO254™ Technology</li>
                        <li>Combines UVGI and Ozone for the best results
</li>
                      <li>Breaks down allergens and pollutants</li>
                      <li>Disinfects the air from bacteria and viruses</li>
                      <li>Decreases the risk of contamination from surfaces
</li>
                      <li>Gets rid of bad smells
</li>
                      <li>Eliminates insects
</li>
                      
                    </ul>
                  </div>
                </div>
            </div>
            <div class="secelevenright">
                <div class="hubcontainertwo">
                    <h3>Alternatives</h3>
                    <h4>Sprays</h4>
                    <ul class="yeslist">
                        <li>Disinfect surfaces from bacteria and viruses, but not air
</li>
                        <li>Some sprays can remove allergens if applied directly

                            </li>
                    </ul>
                    <ul class="nolist">
                        <li>Up to $200 per month
</li>
                        <li>Filled with toxic chemicals</li>
                        <li>Time-consuming</li>
                        <li>Require physical labor
</li>
                    </ul>
                    <h4>Air Purifiers</h4>
                    <ul class="yeslist">
                        <li>Remove allergens and pollutants from the air (True HEPA only)
</li>
                        <li>Some filters disinfect the air
</li>
                    </ul>
                    <ul class="nolist">
                        <li>Don't disinfect surfaces or furniture
</li>
                        <li>Don't get rid of persistent bad smells</li>
                        <li>Effective models cost at least $200 </li>
                        <li>Require ongoing filter replacement (Increases total cost to $1000 in the fifth year)
</li>
                    </ul>
                  <h4>Vacuuming</h4>
                    <ul class="yeslist">
                        <li>Can remove dust from furniture
</li>
                    </ul>
                    <ul class="nolist">
                        <li>Isn't effective for dust mites</li>
                        <li>Can transmit allergens to the air and other parts of the house
</li>
                      <li>HEPA vacuums cost $200 to $1200 and require filter replacement

</li>
                    </ul>
                    <h4>Deep cleaning services</h4>
                    <ul class="nolist">
                        <li>It's hard to trust other people to clean every corner thoroughly
</li>
                        <li>Can be expensive  at $300 per session on average</li>
                        <li>Are often inconvenient</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>
  

    
    <section id="sectionten">
        <div class="containern">
          <h2>Say Hi To Our Happy Customers</h2>
          <img  loading="lazy" class="lazyload donly " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/user-image-new_1.webp?v=1659780594" style="margin:30px 0 30px 0;" />
          <img loading="lazy" class="lazyload monly " src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/uimage-mobile.webp?v=1659780739" style="margin:30px 0 30px 0;" />
          <h2 >Features Of UVO254™ Lamps</h2>
            <div class="sectionten">
              
               <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bulb.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Suitable For 100-250 Sq Ft</strong><br><br>The 38W bulb in UVO254™ Bulb can thoroughly disinfect a whole 250 Sq Ft room like a bedroom, living room, or kitchen in 30-60 minutes.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Chemical-Free Disinfection</strong><br><br>Unlike sprays, and chemical disinfectants, the UVO254™ Lamp is chemical-free. Our bodies are already exposed to tons of toxins. By using Uvlizer's Lamp, you <strong class="font-bold">minimize the use of chemical cleaning products and thus, reduce the toxic burden on your body</strong>. The UVO254™ Lamp is great for surfaces, the environment, your time, and your wallet.
</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection_room.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Disinfects The Air And The Surfaces</strong><br><br>UVO254™ lamps help you disinfect your room from top to bottom and everything in between, including the air.  <strong class="font-bold"> No need to wipe down things individually or try to access hard-to-reach areas</strong>. You just turn the Uvlizer on, leave the room, and go back to a completely allergen-free, disease-free, and garden-fresh space where you can breathe well and feel safe.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/nose.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Removes Bad Odors From Their Roots</strong><br><br>After using Uvlizer's UVO254™ Lamp, you'll enter the room with a fresh smell you've never experienced before. <strong class="font-bold">The UVO254™ Lamp destroys the root cause of foul smells</strong> by breaking down bacteria, cooking oils, toxic air fresheners, tobacco smoke, and even pet odors.
</p>
                </div>
                
               <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/allergy.jpg?v=1654107771" alt="">
                 <p><strong class="font-very-bold">Alleviates Sneezing, Runny Nose, and Other Allergy Symptoms</strong><br><br>By killing indoor allergens, <strong class="font-bold">life will become more enjoyable with clear sinuses and no allergy symptoms</strong>. Your indoor air will feel clean and crisp, and you'll experience a feeling of well-being that you've never felt before.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/infection.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Enjoy a Safer Home</strong><br><br>Knowing that your furniture and the air you breathe are less likely to transmit infections and diseases like flu and colds.
</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/saftey.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Built-in Safety Feature</strong><br><br>At Uvlizer, we have your safety at the top of our minds. <strong class="font-bold">The UVO254™ Lamp has a safety feature that prevents accidental exposure to UV-C light</strong>. The safety timer allows you plenty of time to leave the room. And even if you switched on the Uvlizer by mistake, you won't get exposed to UV-C rays immediately. The internal timer will allow you to set the cleaning cycle depending on your needs. You can even <strong class="font-bold">set the timer at night, go to sleep, and wake up to a clean and safer environment</strong>.

                        </p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/suitable_home.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Not Only For Your Home</strong><br><br>Uvlizer's UVO254™ Lamp is also suitable for disinfecting other places you spend time in. Its <strong class="font-bold">compact size</strong> and <strong class="font-bold">lightweight build</strong> not only make it <strong class="font-bold">easy to move</strong> from room to room, but it can also fit into a medium-sized backpack and allow you to take it with you to the office. <strong class="font-bold">Many of our customers use it to fight infections and allergies in their offices, hair salons, spas, dental offices, and waiting rooms… </strong>

                        </p>
                </div>
            </div>
        </div>
    </section>
    
      <div class="review-slider-wrapper  commont-section">
        <div class="containern" style="margin-bottom:30px;"><h2>What other Americans are saying about Uvlizer</h2>
        
        <div class="review-slider">
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_-_2022-06-07T223912.png?v=1654913055"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_71.png?v=1654913055"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_72.png?v=1654913055"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_74_1.png?v=1654913056"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_76.png?v=1654913055"></div>
        </div>
      </div>
      </div>





{% section 'product-landing-july' %}

<section id="sectiontwelve">
        <div class="containern">
                <h2>Try It Before You Decide With Our 90-Days-No-Questions-Asked Money Back Guarantee</h2>
            <div class="sectiontwelve">
                <div class="pstrleft">
                    <p>Place an order, receive it, then try it for a while. Suppose
                        for any given reason you don’t like it. Or maybe your spouse
                        doesn’t like it. Or you might feel like it’s not adding value to
                        your life. Even if you just need your money back because of
                        urgency, reach out to our 24/7 customer support team within
                        90 days of making your purchase, and we will provide a full
                        refund.</p>
                </div>
                <div class="pstrright">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/100_gurantee.jpg?v=1654107771" alt="">
                </div>
            </div>
            <h2>Make Sure To Hurry And Grab Your UVO254™ Lamp Before They Run Out!</h2>
            <div class="textcontainer contentmargine">
                <p>Whenever we do these promotions, people start buying three, five, or even 10 lamps for their homes and offices. So they fly off our warehouse shelves super quickly.
</p>
              <p>And <strong class="font-bold">once we're out of stock, we'll have to take this page down and wait for our next shipment</strong>.
</p>
                <p>Because of what's happening in the world and logistical issues, the next shipment could take months, depending on supply and transportation lines.</p>
              <p>So if you're interested in getting a UVO254™ Lamp and finally having a <strong>cleaner space that's free from allergy and disease...</strong>
</p>
                <p>Go ahead and click the "Buy Now" button at the bottom of this page to secure your device today.
</p>
            </div>
            <div class="limitedproductbox">
                <div class="context">
                   <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/suntextnew.png?v=1659869083">
                </div>
                <a href="#s--product-landing-july" class="back-to-top">REDEEM</a>
            </div>
        </div>
    </section>
 <section id="askquestion">
        <div class="containern">
            <h2>Frequently Asked Questions</h2>
            <div class="textcontainer askquestion">
              <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Is this a scam? Do you have any evidence it works?</p>
                </div>
                <div class="answer">
                    <p>UVC disinfection is not a scam. Many scientific studies, including CDC and EPA studies, prove that UVC light kills almost all biological pollutants and germs. <br><br>

For example, a study published in the Asian Pacific Journal of Tropical Biomedicine named "Effect of germicidal UV-C light(254 nm) on eggs and adult of house dust mites, Dermatophagoides pteronyssinus and Dermatophagoides farinae" showed the efficacy of UVC on killing dust mites and their eggs.<br><br>

The EPA also states that "UV lamps may destroy indoor biological pollutants such as viruses, bacteria, and molds."<br><br>

In addition to UVC, countless research suggests that Ozone fumigation applied at appropriate concentrations could effectively control several disturbing organisms like dust mites, bacteria, viruses, pests, etc.<br><br>

UVO254™ lamps combine both UVC and Ozone for maximum effectiveness.
</p>
                </div>
              </div>
              <div class="question-wrap">
                <div class="asked">
                  <span class="ficon"></span>
                    <p>Is Uvlizer UVO254™ Lamp Safe?</p>
                </div>
                <div class="answer">
                 <p> UVO disinfection is perfectly safe if it's used correctly.<br><br> 

Because exposure to UVC light can damage your skin or eyes (like exposure to sun rays would do), you need to keep people, pets, and plants out of the room while Uvlizer is working. This is the small price you pay for a 99.99% allergen-free, germ-free, and garden-fresh space.<br><br>

The Uvlizer Home Disinfection device also has two great features to avoid accidental exposure to the UVC light or the Ozone. (1) It has a remote control that can be used from afar, and (2) it has a self-delay timer for up to 30 seconds with beeping sounds allowing one to leave the room before the bulb lights up. 
</p> 

                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>How is the UVO254™ Lamp different from traditional UVC lamps or Ozone generators?</p>
                </div>
                <div class="answer">
                  <p>UVO254™ Lamps combine UV-C and Ozone to allow room-wide air and surface cleaning.<br><br> 

Traditional UV-C lamps can be great! It has been proven that they kill 99.9% of biological pollutants. Airlines and hospitals are even using them to ensure the safety of their spaces.<br><br>

But there's a catch...<br><br>

UV-C light is most effective when it lands directly on surfaces. If it's reflected, it quickly loses efficiency. As a result, UV-C lamps alone are ineffective for home use. A better solution is to use UV-C handheld devices to apply direct light to surfaces. But who has time for that? Plus, that doesn't disinfect the air.<br><br>

Ozone can be great on its own for some purposes as well. It reacts with germs, bacteria, viruses, and other organic compounds, giving it disinfectant properties.<br><br>

That's why it's used in hospitals and operating rooms. However, depending on the size of the room, a traditional ozone generator should run for at least 3 to 10 hours. For a whole house, at least 25-30 hours of continuous operation is required to eliminate most pollutants.<br><br>

Additionally, you should avoid staying in the room while the ozone generator is running and find a new place to stay. After that, you need to wait another 4-6 hours for the Ozone to dissipate.<br><br>

So by combining UVC and Ozone, you can get synergistic disinfection and increase the effectiveness of UVC while decreasing the time required for Ozone to work. In 15-60 minutes, you'd get the same level of sanitization as someone running an Ozone generator for 25-30 hours!<br><br>

Using UVO254™ bulbs, Uvlizer's lamp disinfects a room from top to bottom, including hard-to-reach places and even the air.</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>Does it work on mold?
</p>
                </div>
                <div class="answer">
                  <p>UVC light does work on mold. However, some molds are more difficult to kill and may take longer exposure times or multiple exposures. 
</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>Does it work on bed bugs? Insects? ...
</p>
                </div>
                <div class="answer">
                  <p>Yes, UVO254™ lamps effectively kill bed bugs, pests, and insects.<br><br> 

Etymologists (scientists who study insects) and other specialists agree that UVC light can kill insects and pests by mutating their DNA. Also, Ozone in its gaseous form can kill insects and pests primarily by targeting their respiratory system.
</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>What happens to allergens and germs after being broken down?

</p>
                </div>
                <div class="answer">
                  <p>The UVO254™ Lamp breaks down the allergens' DNA completely, making them non-identifiable to the human body and thus ineffective at triggering an allergic reaction.</p>
                </div>
              </div>
              <div class="question-wrap">
                   <div class="asked">
                      <span class="ficon"></span>
                    <p>How long does the bulb last? What if I need a new bulb?

</p>
                </div>
                <div class="answer">
                  <p>The lifetime of the UV bulb is very long! It's over 5,000 hours. Think of it this way: if you use it every day, it will take more than 12 years to reach 5,000 hours.<br><br>If you do need a replacement bulb, don't hesitate to get in touch with us, and we can order one for you.</p>
                </div>
              </div>
              <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Does the UV light lose potency over time?
</p>
                </div>
                <div class="answer">
                  <p>The UV output of all light tubes will very slowly decrease over time due to the buildup of residue inside the tube. However, industry experts say that you can operate a light tube continuously for up to a year - or 9,000 hours - before you need to replace it due to diminished UV output. That is well beyond the lifetime of the Uvlizer bulb, which is 5,000 hours, and will provide many years of effective sanitization.

</p>
                </div>
              </div>
               <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Can I use Uvlizer to sterilize my phone or other personal items?

</p>
                </div>
                <div class="answer">
                  <p>Although it's better to use our UVBox, which is specifically designed for this, you can use Uvlizer by creating a disinfecting room and putting everything you want to disinfect in the room.


</p>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section id="reviewsection">
        {% assign products = all_products["uvlizer-tower"] %}
<div class="containern">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: products %}
</div>
    </section>
<section class="footer-icons">
  <div class="containern">
  <div class="icon-outer-wrapper">
    <div class="coll">
    <div class="icon-wrap"><img class="" src="{{ 'ic1.png' | asset_img_url: 'master' }}"  /></div>
      <h5>Free Fast <br>
Shipping</h5>
    </div>
    <div class="coll">
    <div class="icon-wrap"><img class="" src="{{ 'ic2.png' | asset_img_url: 'master' }}"  /></div>
      <h5>90 Days <br>Money-Back Guarantee</h5>
    </div>
    <div class="coll">
    <div class="icon-wrap"><img class="" src="{{ 'ic3.png' | asset_img_url: 'master' }}"  /></div>
      <h5>Ships From California<br>
To Your Doorstep</h5>
    </div>
    <div class="coll">
    <div class="icon-wrap"><img class="" src="{{ 'ic4.png' | asset_img_url: 'master' }}"  /></div>
      <h5>Top Rated<br>
Customer Support</h5>
    </div>
    <div class="coll">
    <div class="icon-wrap"><img class="" src="{{ 'ic5.png' | asset_img_url: 'master' }}"  /></div>
      <h5>260K+ Rooms<br>
Disinfected</h5>
    </div>
  </div>
    
  </div>
</section>
<section class="btt-footer">
<a href="#headertop" class="back-to-top">Back to top<img class="" src="{{ 'uarrow.png' | asset_img_url: 'master' }}"  /></a>
</section>

<section class="disclamair-section">
   <div class="containern">
       <p>This site is not part of the Facebook website or Facebook Inc. Additionally, this site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.</p>
   </div>
</section>
<section class="page-footer">
  <div class="containern">
  <div class="page-footer-row">
    <div class="col1">
  <p>With the power of UV-C, you can kill dust mites, bacteria, germs and other pathogens you didn’t even know were there which reduces allergy symptoms and risks of infections.</p>
    </div>
    <div class="col2">
      <div class="footer__links start">
<a href="/pages/landing-page">Track Your Order</a>

<a href="/pages/contact-us">Contact Us</a>

</div>
    </div>
    <div class="col3">
      <div class="footer__links start">
<a href="/policies/privacy-policy">Privacy Policy</a>

<a href="/policies/terms-of-service">Terms Of Service</a>

<a href="/policies/refund-policy">Refund &amp; Return Policy</a>

</div>
    </div>
    <div class="col4">
  <span class="lock-text" > <img class="" src="{{ 'lock-cart.png' | asset_img_url: 'master' }}"  />Shop with confidence </span>

      <span >We accept :<img class="" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/pifooter.webp?v=1659783447"  /></span>
    </div>
  </div>

  </div>
</section>
<section class="footer-sticky-section">
   <div class="containern">
   <div class="row-footer">
     <div class="fleft"><img  src="{{ 'small-product.png' | asset_img_url: 'master' }}"  /><div><strong>UVO254™ Tower</strong><span><a href="#reviewsection" class="back-to-top"><img  src="{{ 'review-star.png' | asset_img_url: 'master' }}"  /> 4.8 Stars by 2355 Reviews </span></a></div></div>
     <div class="fright">
       <a href="#bundle-wrapper" onclick="scrollItemToView()" class="back-to-top">Choose Your Bundle</a>
       <span class="go-cart__trigger js-go-cart-trigger">
              <span ><img  src="{{ 'wcart.png' | asset_img_url: 'master' }}"  /></span> <span class="count"><span class="js-go-cart-counter">({{- cart.item_count -}})</span></span>
</span>
     </div>
   </div>
   </div>
</section>
{%  comment %}

       {%  endcomment %}
<script src="{{ 'jquery-3.5.1.min.js' | asset_url }}"   ></script>
 <script src="{{ 'slick.js' | asset_url }}"   ></script>
<script>
  $(document).ready(function(){
$(document).on('click', '.back-to-top', function(e) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      if (target.length) {
        e.preventDefault();
        var scrollto = target.offset().top;
        var scrolled = 20;

        if ($(this).attr("href") == 'nav') {
          scrollto = 0;
        }

        $('html, body').animate({
          scrollTop: scrollto - 100
        }, 1500);
		  $("body").removeClass("menu-active")
        return false;
      }
    }
  });
    
    
    $(document).on('click', '.hburger', function(e) {
      $("body").toggleClass("menu-active")
      
    })
    
    $('.review-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
       
            
      dots:true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: false,
            dots: true,
             arrows: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            initialSlide: 1,
             centerMode: true,
	  centerPadding: '60px'
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
             centerMode: true,
	  centerPadding: '60px',
            arrows: true
          }
        }
      ]


});
        $('.fda-slider-m').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
        centerMode: false,
	 
             arrows: true,
      dots:true


});
        $('.fda-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
    arrows: true,
      dots:true


});
            $('.product-slider').slick({
  infinite: false,
  slidesToShow: 1,
  slidesToScroll: 1,
    arrows: true,
      dots:false,
      asNavFor: '.product-slider-thumb',
                focusOnSelect: true



});
      $('.product-slider-thumb').slick({
  infinite: false,
  slidesToShow: 5,
  slidesToScroll: 1,
    arrows: false,
      dots:true,
         asNavFor: '.product-slider',
           focusOnSelect: true



});
    $(".question-wrap").click(function(){
          $(this).toggleClass("active").siblings().removeClass("active");
      	 $(this).children(".answer").slideToggle();
      $(this).siblings().children(".answer").slideUp();
     })
    $(".pselection:first-child").addClass("selected");
   $(".pselection").click(function(){
         var qty = $(this).attr("data-qty");
     var variant = $(this).attr("v_id");
     var compare = $(this).attr("v_cp");
     $(".addcart").attr({
    v_id: variant,
    v_qty: qty,
       v_cp: compare
});
     $(this).addClass("selected").siblings().removeClass("selected")
     })
   
   $(".offer-box:first-child .offer-text").text("");
    $(".offer-box:nth-child(3) .offer-text").text("Best Value")
    
     $(".pselection:nth-child(2) .device-text").text("Devices");
    $(".pselection:nth-child(3) .device-text").text("Devices");
    
    
    $(".first-box").click(function(){
      var offTxt1 = $(this).children(".old-price").text();
      
    });
     $(".mobile-cart-link").click(function(){
      $(".js-go-cart-trigger").trigger("click")
      
    });
   
    
    });
  $(document).ready(function(){
	$.fn.visible = function(partial){
	    var $t				= $(this),
	    	$w				= $(window),
	    	viewTop			= $w.scrollTop(),
	    	viewBottom		= viewTop + $w.height(),
	    	_top			= $t.offset().top,
	    	_bottom			= _top + $t.height(),
	    	compareTop		= partial === true ? _bottom : _top,
	    	compareBottom	= partial === true ? _top : _bottom;
		return ((compareBottom <= viewBottom) && (compareTop >= viewTop));
    };
   setTimeout(function() {

    $(".jdgm-prev-badge__text").text("2355 reviews");
    $(".jdgm-rev-widg__summary-text").text("Based on 2355 reviews");                    
                          }, 1000);


 
    
});

var startShowing=false;
  
$(window).scroll(function() {

 if ($("#sectionsix").visible(true)) {
startShowing=true
 } 
  
  if(startShowing)
  {
     if ($("#shopify-section-product-landing-july").visible(true)) {
            $(".footer-sticky-section").removeClass("sticky-active");
         
        } else {
          $(".footer-sticky-section").addClass("sticky-active");
        }
  }
  
});


  function scrollItemToView(){
    document.getElementById("bundle-wrapper").scrollIntoView()
  }
</script>

    {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
           {% section 'go-cart-july' %}
  {{ 'index-new.js' | asset_url | script_tag }}
  <script>
    
var goCart = new GoCart();


</script>        

<div id="myModal" class="modal">
  <div class="modal-content">
<span class="close">&times;</span>
  <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/split.png?v=1659948328" width="100%">
</div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("mybtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<style>



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width:991px){
#how-it-works h2{
    font-size: 35px;
    color: #032d49;
    padding-left: 50px;
    position: relative;
    font-family: Poppins,sans-serif;
    font-weight: 700!important;
    text-align: left!important;
}

#how-it-works h2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 8px;
    height: 90px;
    background-color: #032d49;
    border-radius: 5px;
}
}
@media only screen and (max-width:990px){
#how-it-works h2{
    padding-left: 25px;
    font-size: 21px;
    line-height: 30px;
    color: #032d49;
    margin: 10px 0;
    position: relative;
    font-family: Poppins,sans-serif;
    font-weight: 700!important;
    text-align: left!important;
}
#how-it-works h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 90px;
    background-color: #032d49;
    border-radius: 5px;
}
}
</style>