<style>
  .page-uvlizer-uvo254{
 	max-width:100% !important; 
}
.page-uvlizer-uvo254{
 	max-width:100% !important; 
}
body{
 font-size:18px; 
}
*{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}
.containern{
    max-width: 1180px;
    margin: auto;
  padding:0 15px;
}
p{
 	margin-bottom:20px !important; 
}
.textcolor{
    color: rgb(31, 31, 31);
}
.nheader{
    color: white;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bgimage-min.png?v=1655258536');
    background-size: cover;
}
#headertop {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  align-items:center;
}
#headertop p{
 	color:#fff;
  margin:0 !important;
  font-weight:300;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a{
    color: white;
    text-decoration: none;
  font-size:18px;
}
.brand img{
 	max-width:150px; 
}
#headerbottom{
    padding: 0 0 50px;
    display: grid;
    grid-template-columns: auto 300px;
}
.hbleft h1{
    line-height: 60px;

    font-size: 35px;
    text-shadow: 0 0 1px black;
  color:#8cebf0;
  font-family:Poppins, sans-serif;
  font-weight:bold !important;
      max-width: 70%;
    line-height: 45px !important;
}
.hbleft p{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px !important;
  color:#fff;
  font-size:18px;
  
}
.hbleft p.first{
 	 font-size:25px;
  font-weight:600;
  max-width: 700px
}
.hbleft ul{
    margin:15px 0 15px 35px;
    margin-left: 35px;
}
.hbleft ul li{
    margin: 10px 0;
    position: relative;
    list-style-type: none;
  font-size:18px;
  font-weight: 500;
}
.hbleft ul li::before{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/closs.png?v=1654130518');
    background-size: cover;
    position: absolute;
    top: 0;
    left: -35px;
}

b, strong {
 font-weight:600px; 
}

.sectionten b, strong {
 font-weight:700px ;
}

.hbleft a{
    padding: 15px 40px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 23px;
    color: rgb(0, 0, 88);
    font-weight: bold;
}
.hbright img{
    width: 85%;
}
/*======trustpilotbazz========*/
#trustpilotbazz{
    padding: 10px 0;
    box-shadow: 0px 2px 8px #a5a5a5;
}
.tustpilotbazz{
    display: grid;
    grid-template-columns: auto 310px;
    justify-content: center;
    grid-gap: 100px;
    align-items: center;
}
.tustpilotbazz img{
    width: 100%;
}
/*========Comment Review========*/
#commentreview{
    padding: 80px 0;
}
.commentreview{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  align-items:center;
}
.crleft p{
    line-height: 30px;
    color: rgb(31, 31, 31);
}
.crleft p:first-child{
    margin-bottom: 30px;
}
.crright img{
    width: 100%;
}
/*=======postsecone========*/
#askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2, .commont-section h2, .crleft h2{
    font-size: 35px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
  font-family:Poppins, sans-serif;
  font-weight:bold !important;
}
#askquestion h2::before, #sectiontherty h2::before, #sectionnine h2::before, #sectioneight h2::before, #sectionfive h2::before, #postsecone h2::before, #postsectwo h2::before, .commont-section h2:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 8px;
    height: 50px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
}
.postsecone{
    display: grid;
    grid-template-columns: 300px auto;
    padding: 30px 0;
    grid-gap: 30px;
  justify-content:center;
}
.postsecone .psoleft img{
    width: 100%;
}
.postsecone .psoright p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}
.sectionnineleft{
 	max-width:600px; 
}
/*========postsectwo=======*/
#postsectwo{
    margin: 30px 0;
}
.pstwocenter{
    display: grid;
    grid-template-columns: auto 400px;
    grid-gap: 50px;
    margin: 50px 0;
  align-items:center;
}
.pstwocenter .pstleft{
    margin-left: 55px;
}
.pstleft ul li{
    line-height: 25px;
    margin-bottom: 15px;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
}
.pstleft li::before{
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/checkm.png?v=1654132937');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
}
.postwobottom{
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    border-radius: 15px;
}
.postwobottom h3{
    color: rgb(3, 45, 73);
    font-size: 30px;
}
/*=======PostSecThree========*/
#postsecthree{
    background-color: #eef6f8;
    padding: 50px 0;
}
#postsecthree h2{
    font-size: 30px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
}
#postsecthree h2::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 8px;
    height: 100px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
}
.postsecthree{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    padding: 50px 0;
  align-items:center;
}
.postsecthree p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}
/*=======sectionfour=======*/
#sectionfour{
    padding: 50px 0;
}
#sectionfour h2{
    text-align: center;
}
.sectionfour{
    display: grid;
    grid-template-columns:300px auto;
    grid-gap: 50px;
    margin: 50px 0;
}
.sectionfour p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}
/*========sectionfive========*/
#sectionfive{
    margin-bottom: 30px;
  	margin-top:30px;
}
.sectionnineright{
 text-align:right; 
}
.sectionfive{
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-around;
    padding: 40px 0;
}
.sfiveleft p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}
.sfiveright{
    border-radius: 30px;
    overflow: hidden;
}
.sfiveright img{
    width: 100%;
}
.sectionfivebottom{
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
}
/*=========sectionsix=========*/
#sectionsix{
    text-align: center;
    padding: 50px;
    position: relative;
       box-shadow: 0 0 30px #848d926e;
  margin:100px 0;
}
.secsiximg{
    position: absolute;
    bottom: -13px;
    right: 0px;
    left: 700px;
    margin: auto;
  display:none;
}
.secsiximg img{
    width: 120px;
}
#sectionsix h2{
    color: rgb(3, 45, 73);
    padding: 30px;
}
#sectionsix h3{
    font-size: 50px;
    color: #66B3E2;
    font-weight: 900;
}
/*========sectionsaven=======*/
#sectionsaven{
    padding: 20px 0;
}
#sectionsaven p{
    text-align: center;
    line-height: 35px;
    color: rgb(31, 31, 31);
    font-size: 25px;
  margin-bottom:0 !important;
}
.fakesliderbox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 50px;

}
/*=======sectioneight=========*/
#sectioneight{
    padding: 50px 0;
    background-color: #f0f5f8;
}
#sectioneight p.segttc{
    text-align: center;
    line-height: 30px;
    width: 700px;
    margin:30px auto;
}
#sectioneight h3.segttc{
    text-align: center;
    
}
.sectioneight{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    grid-gap: 30px;
    padding: 40px 0;
}
.sectioneightleft img{
    width: 100%;
}
.sectioneightright p{
    line-height: 25px;
    color: rgb(31, 31, 31);
}
.sectioneightbottom{
    text-align: center;
}
.sectioneightbottom span{
    color: rgb(57, 175, 221);
}
/*=========sectionnine=========*/
.sectionnine{
    display: grid;
    grid-template-columns: auto 300px;
    margin: 50px 30px;
  justify-content:center;
}
.sectionnineleft p{
    line-height: 30px;
    margin-bottom: 20px !important;
    color: rgb(31, 31, 31);
}
.sectionnineright img{
    width: 70%;
}
.sectionninebottom{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: space-between;
    text-align: center;
   margin: 0 auto;
    max-width: 900px;
}
.sectionninebottom .secninebox{
    border-radius: 50px;
    color: white;
    overflow: hidden;
    height: 350px;
    background-color: #184268;
    display: grid;
    align-items: center;
    justify-content: center;
}
.secninebox img{
    width: 130px;
  margin:0 auto;
}
.secninebox .price{
    font-size: 35px;
    font-weight: 900;
  	color:#fff;
   margin: 0 0 !important;
}
.secninebox .feature{
    margin: 0 0 !important;
    font-size: 25px;
  color:#fff;
}
/*=========sectionten==========*/
#sectionten{
    padding:30px 0 80px 0;
}
#sectionten h2{
    color: rgb(3, 45, 73);
    text-align: center;
  font-family:Poppins, sans-serif;
  font-weight:bold;
  font-size: 21px;
  
}
.gallery__default .slick-slide img{
 	width:100%;
  	height:100%;
  object-fit:contain;
  max-height:450px;
}
.bndl-title{
 	color:#194269;
  font-weight:500 !important;
  margin-bottom:20px !important;
}
.rqty{
 	color: #c93a3a !important; 
}
@media only screen and (min-width: 990px) {
  #sectionten h2{
    	  font-size: 30px!important;
  }
  
}

.benefits.bold{
	font-weight:600;
}

.sectionten{
    margin: 50px 30px;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    grid-row-gap: 50px;
}
.sectiontenbox{
    text-align: center;
    color: rgb(31, 31, 31);
}
.sectiontenbox img{
    width: 180px;
}
.sectiontenbox p{
    margin-top: 15px;
    line-height: 25px;
    color: rgb(31, 31, 31);
}
/*=========sectioneleven========*/
.sectioneleven{
    margin-top: 50px;
}
#sectioneleven h2{
    text-align: center;
    color: rgb(3, 45, 73);
  	font-size:22px;
  margin-bottom:20px;
}
.sectioneleven{
    display: grid;
    grid-template-columns: 50% 50%;
  margin-bottom:80px;
}
.secelevenleft{
   
}
.hubcontainerone{
    width: 100%;
    margin-left: auto;
  position:sticky;
  top:50px;
  padding-bottom:100px;
   background-color:#EEF6F8;
  padding:30px 0 100px 0;
}
.binner{
 	max-width:490px;
  margin-left:auto;
}
.hubcontainertwo{
    width: 490px;
    margin-right: auto;
    padding-left: 75px;
}
.secelevenright h3, .secelevenleft h3{
    font-size: 30px;
    color: rgb(57, 175, 221);
    padding-left: 70px;
    margin: 30px 0 40px 0 !important;
    position: relative;
}
.secelevenright h3::before, .secelevenleft h3::before{
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 50px;
    height: 8px;
    background-color: rgb(57, 175, 221);
    border-radius: 5px;
}
.hubcontainertwo h4{
    font-size: 20px;
    color: rgb(0, 14, 75);
    margin: 30px 0 20px 0 !important;
    position: relative;
  font-weight:bold;
  
}
.hubcontainertwo h4::before{
    content: '';
    position: absolute;
    top: 12px;
    left: -50px;
    border: 7px solid rgb(0, 14, 75);
    transform: rotate(45deg);
}
.yeslist li{
    padding: 15px 0;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
}
.yeslist li::before{
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/check_mark.png?v=1654107771');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
}
.nolist li{
    padding: 15px 0;
    color: rgb(31, 31, 31);
    list-style-type: none;
    position: relative;
}
.nolist li::before{
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0519/0238/2231/files/cross_check.png?v=1654107771');
    background-size: cover;
    position: absolute;
    top: 4px;
    left: -60px;
}


@media only screen and (min-width: 990px) {
  
  #sectioneleven h2{
    
      font-size: 30px!important;
    
  }
}
  

/*==========addtocardsection===========*/
.addtocardsection{
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: space-between;
}
#addtocardsection{
    padding: 80px 0;
}
.addtocardsectionright h2{
    color: rgb(0, 14, 75);
}
.review , .watching, .buying{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.review .star svg, .watching img, .buying img{
    width: 30px;
}
/*=======sectiontwelve========*/
#sectiontwelve{
    padding: 50px 0;
}
#sectiontwelve h2{
    font-size: 35px;
    color: rgb(3, 45, 73);
    padding-left: 50px;
    margin: 10px 0;
    position: relative;
}
#sectiontwelve h2::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 8px;
    height: 100px;
    background-color: rgb(3, 45, 73);
    border-radius: 5px;
}
.sectiontwelve{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    padding: 50px 0;
}
#sectiontwelve p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}
.sectiontwelve .pstrright{
    text-align: center;
}
.sectiontwelve .pstrright img{
    width: 300px;
    margin-top: -40px;
}
.textcontainer{
    margin: 0 30px;
}
.contentmargine{
    margin-top: 50px ;
    margin-bottom: 50px;
}
.limitedproductbox{
    background-size: cover;
    display: flex;
    border-radius: 30px;
    background-color: #66b3d926;
    border: solid 1px #66B3E2;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}
.limitedproductbox .context{
    margin-top: 0;
    margin-left: 0;
      padding: 60px;

}
.limitedproductbox h3{
    color: rgb(3, 45, 73);
    font-size: 30px;
}
.limitedproductbox h4{
    color: rgb(121, 0, 0);
    font-size: 20px;
}
.limitedproductbox a{
    margin-left: 50px;
    text-decoration: none;
    background-color: rgb(3, 45, 73);
    color: white;
    padding: 20px 80px;
    border-radius: 10px;
    margin-right: 80px;
}
/*============AskQuestion===========*/
#askquestion{
    padding: 50px 0;
    background-color: #EEF6F8;
}
.askquestion{
    margin-top: 50px;
}
.askquestion .asked{
    background-color: white;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 0 10px gray;
  cursor:pointer;
  position:relative;
}
.askquestion .asked span.ficon{
 	
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);

}
.askquestion .asked span.ficon:before{
 	content:"";
  	width:100%;
  	height:2px;
  background-color:#032d49;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  top:50%;
  transform:translateY(-50%);
}
.askquestion .asked span.ficon:after{
 	content:"";
  	height:100%;
  	width:2px;
  background-color:#032d49;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  top:50%;
  transform:translateY(-50%);
}
.askquestion .asked p{
    font-size: 23px;
    line-height: 30px;
    color: rgb(31, 31, 31);
  margin-bottom:0 !important;
}
.question-wrap{
 	margin-bottom: 20px;
}
.question-wrap.active .asked span.ficon:after{
 	 opacity:0;
}
.askquestion .answer{
    border-left: 4px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding-left: 30px;
    margin: 50px; 
  display:none;
}
.askquestion .answer p{
    line-height: 30px;
    color: rgb(31, 31, 31);
}

/*=========reviewsection=========*/
#reviewsection{
    padding-top: 50px;
}
.reviewsection{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: 50px;
    justify-content: space-between;
    
}
/*==========Footer=========*/
footer{
    background-color: rgb(12, 11, 11);
    font-size: 13px;
    padding: 30px 0;
    color: rgb(165, 164, 164);
}
.footer_top{
    display: grid;
    grid-template-columns: 400px auto auto auto;
    justify-content: space-between;

}
.footer_top ul{
    list-style-type: none;
}
.footer_top ul li{
    margin: 5px 0;
}
.footer_top ul li a{
    color: rgb(165, 164, 164);
    text-decoration: none;
    padding: 5px;
}
.copywrighting{
    text-align: center;
    margin-top: 50px;
}
#shopify-section-product-landing-var-2{
 	background:#EEF6F8;
  	padding:80px 0;
}


#shopify-section-product-landing-var-2 .gallery-new{
 	    flex-direction: column; 
  	display:block;
}
#shopify-section-product-landing-var-2.gallery__thumbnails{
 	flex-direction:inherit; 
}
 #shopify-section-product-landing-var-2 .gallery__button--holder{
   	display:none; 
  }
 #shopify-section-product-landing-var-2 .gallery__default{
   	min-height:450px; 
  }
  #shopify-section-product-landing-var-2 .gallery__image img{
   	object-fit:cover; 
  }
   #shopify-section-product-landing-var-2 .gallery__thumbnails{
    	display: flex;
    justify-content: center;
    flex-direction: row;
    transform: none;
    text-align: center;
    width: 100%;
    padding: 20px 0;
   }
 #shopify-section-product-landing-var-2 .gallery__thumbnails span{
   	width:10px;
    height:10px;
    background-color:#bcbcbc;
    overflow:hidden;
    border-radius:100%;
      border:0;
   	margin:0px 4px;
   cursor:pointer;
  }
 #shopify-section-product-landing-var-2 .gallery__thumbnails span:hover,  #shopify-section-product-landing-var-2 .gallery__thumbnails span.active
{	box-shadow:none;
  	border:none;
  background:#66B3E2;
  
}
 #shopify-section-product-landing-var-2 .gallery__thumbnails span img{
   	opacity:0; 
  }
 #shopify-section-product-landing-var-2 .gallery__thumbnails span[data-variants="42887909409017|"], #shopify-section-product-landing-var-2 .gallery__thumbnails span[data-variants="42887909343481|"], #shopify-section-product-landing-var-2 .gallery__thumbnails span[data-variants="42887909376249|"]{
  	display:none; 
 }
#shopify-section-product-landing-var-2 .quantity--input{
	width:0;
	height:0;
	pointer-events:none;
	opacity:0;
}
#shopify-section-product-landing-var-2 .gallery__default{
  display:block !important;
}
.gicon{
 	display:block; 
  	user-select:none;
    text-align: center;
}
.gicon img{
 	max-width:80%;
  	margin:0 auto;
}
.product-slider-wrapper{
 	padding-left:20px;
  	padding-right:20px;
}
.product-slider-wrapper .slick-arrow.slick-next{
  right:10px;
  z-index:99;
}
.product-slider-wrapper .slick-arrow.slick-prev{
  left:10px;
   z-index:99;
}
#shopify-section-product-landing-var-2 .product__urgency {
  margin:0 0 10px 0;
}
#shopify-section-product-landing-var-2 .product__urgency .uil{
 	font-size:25px;
  color:#66B3E2
}
#shopify-section-product-landing-var-2 .product__urgency .uil.uil-shopping-basket:before{
 	 content: '\eb86' !important;
}
#splitit-container > div{
 	display:flex;
  	font-size:12px;
      flex-wrap: wrap;
}
#splitit-container > div a{
 	width:100%; 
}
.bundle-wrapper{
  	margin-bottom:20px;
}
.row-block{
 	display:flex; 
}
.row-block.first-block{
 	margin-bottom:10px;
}
.bundle-wrapper .blk{
 	margin: 0 15px 0 0;
  	background-color:#EDEDED;
  	border:solid 1px #707070;
  	border-radius:10px;
  width:33%;
  padding:15px;
  cursor:pointer;
}
.bundle-wrapper .blk.selected{
  background-color:rgba(102, 179, 226, 0.1);
  	border:solid 1px #66B3E2;
}
.swatch-container {
 	display:none; 
}
.bundle-wrapper .row-block.first-block .blk{
  background-color:#66B3E2;
  	border:solid 1px #66B3E2;
      padding: 5px 5px;
  display: flex;
    justify-content: space-between;
  align-items:center;
}
.bundle-wrapper .row-block.first-block .blk p{
 	color:#fff;
  margin:0 !important;
  font-size:10px;
}
.bundle-wrapper .row-block.first-block .blk p.bprice{
 	
  font-size:14px;
}
.old-price{
 	opacity:0.5;
  text-decoration: line-through;
}
.new-price{
 	font-size:22px !important;;
}
.img-wrap{
 	height:100px; 
  	margin-bottom:15px;
}
.img-wrap img{
 	    object-fit: contain;
    width: 100%;
    height: 100%;
}
.bundle-wrapper .blk p{
 	 margin: 0 0 8px 0!important;
    text-align: center;
   
  
}
.bundle-wrapper .blk p.old-price{
 	  font-size:22px;
}
.bundle-wrapper .blk p.new-price{
 	  font-size:18px !important;
   color:#194269;
}
.bundle-wrapper .blk p.bprice{
  font-weight:bold;
 
}
.bundle-wrapper .blk p.bprice span{
  font-weight:normal;
  font-size:12px;
}
#shopify-section-product-landing-var-2 .button--addToCart{
 	border-radius:10px;
  	max-width:300px;
  	text-transform:uppercase;
  	font-weight:bold;
  	color:#fff !important;
  margin:15px auto;
}
.monly{
 	display:none; 
}

.inventoryWrapper span{
 	 color:#969696;
}
.inventoryWrapper p{
 	margin:0 0 15px 10px !important; 
 
}
#shopify-section-product-landing-var-2  .product__atc {
    margin-bottom:10px;
  }
.fda-slider .rsl{
   	padding:0 10px; 
  }
  .fda-slider .rsl img{
   	width:100%; 
  }
.fda-slider-m .rsl{
  	padding:0 10px; 
}
.fda-slider-m .rsl img{
   	width:100%; 
  }
 .slick-dots{
   	    display: flex;
    justify-content: center;
    gap: 10px; 
    list-style:none;
    margin-top:15px;
  }
   .slick-dots li button{
    	text-indent:-9999px;
     width:10px;
     height:10px;
     border-radius:100%;
   }
  .slick-dots li.slick-active button{
   	background: #66B3E2; 
  }
.slick-arrow{
 	border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px; 
  position:absolute;
  width:15px;
  height:15px;
  background:none;
  top:50%;
  margin-top:-20px;
  font-size:0;
}
.slick-arrow.slick-prev{
 	 transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left:-20px;
}
.slick-arrow.slick-next{
 	 transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right:-20px
}
.partners__section {
    padding-top: 50px;
    background-color: #F2F2F4;
    padding-bottom: 50px;
    -webkit-box-shadow: 1px 1px 35px 8px #848d92d1 inset;
    box-shadow: 1px 1px 35px 8px #848d92d1 inset;
  margin:00px 0 0 0;
}

.partners__section .outer__partners {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.partners__section .outer__partners .partner__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    min-height: 50px;
}
.partners__section .outer__partners .partner__logo > img {
    max-width: 100%;
  max-height:50px;
  object-fit:contain;
}
#sectionsaven .partners__section .outer__partners p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
  line-height:normal;
    color: #848d92;
}
#shopify-section-product-landing-var-2 .product__price--holder{
 	display:none; 
}
.review-slider .slick-slide .rsl img{
 	border:solid 2px transparent;
  	border-radius:10px;
}
.review-slider .slick-current.slick-active.slick-center .rsl img{
 	border:solid 2px #66B3E2; 
}
.margin-tb-50{
 	margin-top:50px; 
  margin-bottom:50px; 
}
.disclamair-section{
 	padding:40px 0px;
  	text-align:center;
  font-size:14px;
  opacity:0.7;
}
.disclamair-section p{
 	max-width:600px;
  	margin:0 auto;
      margin: 0 auto !important;
}
.max-w600{
 	 
}
#shopify-section-product-landing-var-2 .layout__content{
 	max-width:1180px; 
}
.btn-add-to-cart{
 	background: #C93A3A;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    max-width: 200px;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
      margin: 0px auto 15px auto;
    float: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
  margin-right:10px;
}
.btn-wrap span{
 	font-size:12px;
  text-align:center;
}
.btn-wrap{
 	text-align:center; 
}
.psoright{
 	max-width:600px; 
}
.bullet-heading{
 	margin:15px 0 0 0; 
}
.video-wrapper{
  max-width:800px;
  margin:40px auto 0 auto;
}
.wrapper--bottom{
 	padding-top:0; 
}
.font-bold{
 	font-weight:600 !important; 
}

.font-very-bold{
  font-weight:800 !important; 
}
@media only screen and (min-width: 990px) {
  
  .hbleft h1{
    
      margin-bottom: 20px!important;
    
  }
  

.commentreview .crleft h2 {
  
      line-height: 1.2em;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: -50px;

}}
 .review-slider-wrapper .containern h2{
   	margin-bottom:25px;
  }
@media only screen and (max-width: 990px) {
  #postsectwo {
    margin: 0px 0 30px 0;
}
  .monly{
 	display:block; 
}
  .donly{
   	display:none !important
  }
header .hbleft p{
  display:none;
}
  #headerbottom {
        grid-template-columns: 70% 30%;
        align-items: center;
    	padding:35px 0;
}
 header .hbleft ul{
  display:none;
}
  .hbleft h1{
   	   font-size: 21px;
    font-weight: 700!important;
    line-height: 120%!important;
    max-width: 100%;
    color: #fff!important;
  }
  .hbleft{
    padding-top: 22px;
  }
  .hbleft a{
   	padding: 10px 35px;
        margin-top: 10px;
    font-size: 15px;
  }
   .hbright{
  }
  .nheader {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  .hbleft ul li:before {
   
    background-image: url(https://cdn.shopify.com/s/files/1/0519/0238/2231/files/1099_Converted_-02.png?v=1654165167);
}
 .monly .hbleft p {
    color: #000;
    font-size: 16px;
    font-weight: normal;
  }
  .tustpilotbazz {
    grid-template-columns: 40% 60%;
    grid-gap: 0;
}
  .hbleft ul li{
   	font-size:16px; 
  }
  .commentreview{
   	grid-template-columns: inherit; 
  }
  #commentreview {
    padding: 20px 0;
}
  
  #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #commentreview h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2{
    font-size:21px;
    line-height: 30px;
        padding-left: 15px;
  }
 
  .commentreview .crleft h2{
  	margin-bottom: 20px;
    margin-left: -15px;
  }
  
  .postsecone {
       grid-template-columns: 60% 40%;
    padding: 30px 0 10px 0;
    grid-gap: 0;
    flex-direction: column-reverse;
}
.postsecone  .psoleft{
 	order:2; 
}
  #postsecone p.monly{
   	margin-top:15px; 
    margin-bottom:0 !important;
  }
  .postsecone .psoright p{
   	margin-bottom:10px !important; 
  }
  .pstwocenter {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    margin: 50px 0;
}
  .pstleft li:before {
    width: 25px;
    height: 25px;
    left: -47px;
}
  .postsecthree {
   	grid-template-columns: auto; 
        padding-bottom: 0;
  }
  .postsecthree .pstrleft{
    order:2;
    margin-top:20px;
  }
  #postsecthree h2 br{
   	display:none 
  }
  .postwobottom{
   	margin-top:15px; 
  }
  .postwobottom h3{
   	font-size:20px;
        margin-bottom: 15px !important;
    font-weight:bold;
    margin:20px 0 15px 0;
  }
  .sectionfour {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    margin: 30px 0 0 0;
}
  .sectiontenbox img{
    width: 100px;
}
  
 .sectionfour .sfleft{
    margin-bottom:25px;
  }
  .sectionfive {
    grid-template-columns: auto;
}
 .sectionfive .sfiveleft{
    order:2;
   margin-top:25px;
  }
  .sfiveright{
   	border-radius:0; 
  }
  #sectionsix h3{
   	font-size:20px; 
  }
  #sectionsix h2 {
    color: #032d49;
    padding: 0;
    font-size:20px;
    margin-bottom:10px;
}
  #sectionsix{
   	padding:20px 20px;
    margin:40px 0;
  }
  #sectionfive {
    margin-bottom: 30px;
    margin-top: 30px;
}
  #sectioneight p.segttc {
   
    width: 100%;
        text-align: left;
}
  .sectioneight{
   	    grid-template-columns: auto;
    grid-gap: 0; 
        padding: 20px 0;
  }
  #sectioneight h3.segttc {
    text-align: left;
}
  .sectioneightleft{
   	order:2; 
  }
  .sectionnine {
    display: grid;
    grid-template-columns: auto;
    margin: 20px 0;
}
  .sectionnineleft{
   	order:2; 
  }
  .sectionnineright {
    text-align: center;
    margin-bottom:25px;
}
  .sectionnineright img {
    width: 48%;
    margin: 0 auto;
}
  .sectionninebottom {
    grid-template-columns: 33% 33% 33%;
    margin: 0 0;
}
  .sectionninebottom .secninebox {
    border-radius: 20px;
    color: #fff;
    overflow: hidden;
    height: 220px;
    background-color: #184268;
    margin-right:2px;
    display: block;
}
  .secninebox img {
    width: 50%;
    margin:0 auto;
    margin-top:15px;
}
    .sectionninebottom .secninebox:last-child{
     	margin-right:0; 
    }
  .secninebox .price {
    font-size: 20px;
    margin-bottom:15px !important;
    margin-top:15px !important;
   
}
  .secninebox .feature{
   	font-size:14px; 
  }
  .sectionten {
    margin: 20px 0px 50px 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    grid-row-gap: 50px;
    margin-bottom:0;
}
  

  .sectiontenbox p{
    text-align: center;
    color: #1f1f1f;
}
  #sectionten {
    padding: 40px 00px 30px 0
}
  .sectioneleven {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0px;
}
  .hubcontainertwo {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    padding: 0 15px
}
  .sectiontwelve {
    grid-template-columns: auto;
}
  .pstrleft{
   	order:2;
  }
  .contentmargine {
    margin-top: 20px;
    margin-bottom: 20px;
}
.textcontainer {
    margin: 0 0;
}
  .limitedproductbox {
   
    flex-direction: column;
        height: auto;
        padding: 28px;
}
  .limitedproductbox .context {
    margin-top: 0;
    margin-left: 0;
    padding: 20px;
}
  .yeslist li, .nolist li{
   	padding-left:50px;
        padding-right: 15px;
  }
   .yeslist li:before, .nolist li:before{
   	left:0;
  }
  .binner {
    
    padding: 0 15px;
}
  .title-top{
   	padding:0 15px;
        margin: 0 0 20px 0 !important;
  }
  .title-top h1{
   	font-size:20px !important;
    margin:0 0 20px 0;
  }
  .title-top .jdgm-widget{
   	    display: none !important;
  }
  .dtitle .product__title{
   	display:none !important; 
  }
  #shopify-section-product-landing-var-2 {
    background: #EEF6F8;
    padding: 40px 0;
}
  .gicon.monly{
   	margin-top:15px; 
  }
  #askquestion h2:before, .sectionten h2:before, #sectiontherty h2:before,  #sectionnine h2:before, #sectioneight h2:before, #sectionfive h2:before, #postsecone h2:before, #postsectwo h2:before{
   	width:3px; 
  }
  .mobile-header{
   	background-color:#194269;
    padding:10px 15px 10px 15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    z-index:9999;
    position:sticky;
    flex-wrap:wrap;
    top:0;
        margin-top: -4px;
  }
 .mobile-header .brand img {
    max-width: 100px;
}
  .mobile-header p  {
    color:#fff;
    font-size:14px;
    margin:0 !important;
    width:100%;
    text-align:center;
}
  .mobile-header p a{
   	color:#fff !important; 
  }
 #shopify-section-product-landing-var-2  .product__atc {
    margin-bottom:10px;
  }
  .watch-item{
   	margin-bottom:20px; 
  }
  .inventoryWrapper p{
 	margin:0 !important; 
  text-align:center;
}
  .review-slider .rsl{
   	padding:0 10px; 
  }
  .review-slider .rsl img{
   	width:100%; 
  }
 
  .review-slider-wrapper{
   	margin:20px 0; 
  }
  .fda-slider-m .partner__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    min-height: 50px;
}
.fda-slider-m .partner__logo > img {
    max-width: 100%;
  max-height:50px;
  object-fit:contain;
}
#sectionsaven .fda-slider-m p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
  line-height:normal;
    color: #848d92;
}
  .partners__section{
   	    padding-left: 50px;
    padding-right: 50px;
  }
  .mobile-menu{
   	position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: calc(100vw - 65px);
    height: 100vh;
    max-height: none;
    z-index: 20;
    -webkit-transition: visibility .5s cubic-bezier(.645, .045, .355, 1),-webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
    transition: visibility .5s cubic-bezier(.645, .045, .355, 1),-webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1),visibility .5s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1),visibility .5s cubic-bezier(.645, .045, .355, 1),-webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
    background-color: #194269;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: #fff;
    -webkit-transform: translateX(calc(-100vw + 65px));
    transform: translateX(calc(-100vw + 65px)); 
  }
  .menu-active .mobile-menu {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
  .mobile-header-wrapper{
   	padding-top:0; 
  }
  .mobile-menu-inner{
   	padding-top:150px; 
  }
  .mobile-menu-inner ul li{
  	display:block;
    border-bottom:solid 1px rgba(255,255,255,0.5)
      
  }
  .mobile-menu-inner ul li a{
  	color:#fff;
        padding: 27px 15px;
    display:block;
    color:#fff!important
  }
  #askquestion h2:before, #sectiontherty h2:before, #sectionnine h2:before, #sectioneight h2:before, #sectionfive h2:before, #postsecone h2:before, #postsectwo h2:before, .commont-section h2:before{
   	top:0;
    width:3px;
  }
  #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2, .commont-section h2{
   	padding-left:25px; 
  }
  .askquestion .answer{
   	margin:20px 15px; 
  }
  .askquestion .asked {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 25px 20px 50px;
    box-shadow: 0 0 10px grey;
}
  .askquestion .asked p {
    font-size: 18px;
    line-height: 25px;
}
  #askquestion h2{
   	margin-bottom:45px; 
  }
  .containern{
   	padding:0 25px; 
  }
  .hubcontainerone{
   	background-color:#fff; 
    padding-bottom:20px
  }
  .hubcontainertwo h4 {
    font-size: 23px;
    color: #000e4b;
    margin: 30px 0 20px!important;
    position: relative;
    font-weight: 700 !important;
}
  #sectiontwelve h2:before{
   	top:0; 
    width:3px;
  }
  #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2, .commont-section h2{
        font-size: 21px;
    line-height: 30px;
  }
  body{
   	font-size:16px;
  }
  p{
   line-height:22px !important;
    font-size:16px;
  }
  .hburger img{
   	max-width:30px; 
  }
  #sectionsaven {
    padding: 20px 0 0px 0;
}
  .bundle-wrapper .row-block.first-block .blk{
   	    flex-direction: column; 
  }
  .bundle-wrapper .blk{
   	margin-right:5px; 
  }
  .cart-header-text{
   	font-size:14px !important; 
  }
  .knowmorebtn.back-to-top.monly{
    font-size: 14px;
    padding: 10px 16px;
   	display:inline-block; 
  }
  .btn-wrap {
    text-align: left;
}
  .inventoryWrapper p{
   	margin-bottom: 6px !important;
    text-align: left;
    margin-left: 5px !important; 
  }
  .hbleft ul {
    margin: 15px 0 15px 30px;
}
  .review-slider-wrapper .containern{
   	max-width:100%;
    padding-left:0;
    padding-right:0;
  }
  .review-slider-wrapper .containern h2{
   	margin-left:25px;
    margin-right:25px;
  }
  #shopify-section-top-info-bar p{
   font-size:12px;
  }
/*   .go-cart__trigger{
   	     position: fixed!important;
    top: 57px;
    width: 40px;
    right: 65px;
    z-index: 9999;
  }
  .go-cart__trigger .uil-shopping-basket{
   	    font-size: 30px;
    color: #fff; 
  }
  .go-cart__trigger .count{
   	    position: absolute;
    color: #fff;
    top: 0;
    right: -4px; 
    font-weight:bold;
  }
  .go-cart__trigger .count span{
    color: #fff;
  } */
  
  .mobile-cart-link{
    position: relative;
    color: #fff;
    font-size: 30px;
} 
 .mobile-cart-link span{
  	position: absolute;
    font-size: 13px;
    color: #fff;
    right: -3px;
   font-weight:bold;
 }
}
  </style>



<div class="mobile-header monly">
  <div class="hburger">
      <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hburger.png?v=1654187608" >
  </div>

  <div class="brand">
    <h2>
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772">
    </h2>
  </div>
  
  <span class="mobile-cart-link">
    <i class="uil uil-shopping-basket"></i>
    <span> {{- cart.item_count -}}</span>
  </span>
</div>
<div class="mobile-menu monly">
  <div class="mobile-menu-inner">
  		 <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
            <li><a href="#benefits" class="back-to-top">Benefits </a></li>
            <li><a href="#review" class="back-to-top">Testimonials</a></li>
            <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
            <li><a href="#shopify-section-product-landing-var-2" class="back-to-top">Order </a></li>
        </ul>
  	
  </div>

</div>



<div id="trustpilotbazz" class="monly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
            </div>
        </div>
    </div>
 <header class="nheader">
        <div class="containern">
            <div id="headertop" class="donly">
                <div class="brand">
                    <h2><img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772" ></h2>
                </div>
                
                <nav> 
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
                        <li><a href="#benefits" class="back-to-top">Benefits </a></li>
                        <li><a href="#reviewsection" class="back-to-top">Reviews</a></li>
                      <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
                      <li><a href="#shopify-section-product-landing-var-2" class="back-to-top">Order </a></li>
                    </ul>
                </nav>
            </div>
            <div id="headerbottom">
                <div class="hbleft">
                    <h1>New Tool Eradicates the #1 Root Cause of Allergies</h1>
                    <p >If you'd like to relieve sneezing, coughing, itchy, runny, or stuffy nose... and</p>
                    <p class="first">FINALLY, start enjoying a clean, allergy-free, and disease-free space </p>
                  
                  <p class="bullet-heading"><u>WITHOUT</u> worrying about</p>
                    <ul>
                        <li>Buying expensive air purifiers and their ongoing filter replacements</li>
                        <li>Toxic chemicals that kill allergens, but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without a long-term fix</li>
                        <li>Ongoing, expensive deep-cleaning services</li>
                        <li>Cleaning your home from top to bottom every day</li>
                    </ul>
                    <p>Then you're invited to act quickly.</p>
                    <br>
                    <a href="#commentreview" class="knowmorebtn back-to-top donly">Scroll below to learn more</a>
                  <a href="#mcontent" class="knowmorebtn back-to-top monly">Scroll below to learn more</a>
                </div>
                <div class="hbright">
                    <img  src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/ficon_899cc03e-233d-454b-8007-25ed44238973.png?v=1660995441" alt="">
                </div>
            </div>
        </div>
    </header>
	<div class="content-holder monly" id="mcontent">
      <div class="containern">
      <div class="hbleft">
                   <p >If you'd like to relieve sneezing, coughing, itchy, runny, or stuffy nose... and</p>
                    <p class="first" style="
    font-size: 18px;
    font-style: italic;
    font-weight: 500;">FINALLY, start enjoying a clean, allergy-free, and disease-free space </p>
         <p class="bullet-heading"><u>WITHOUT</u> worrying about</p>
                    <ul>
                        <li>Buying expensive air purifiers and their ongoing filter replacements</li>
                        <li>Toxic chemicals that kill allergens, but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without a long-term fix</li>
                        <li>Ongoing, expensive deep-cleaning services</li>
                        <li>Cleaning your home from top to bottom every day</li>
                    </ul>
                    <p>Then you're invited to act quickly.</p>
                </div>
      
      </div>

		</div>

    <div id="trustpilotbazz" class="donly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
            </div>
        </div>
    </div>
    <section id="commentreview">
        <div class="containern">
            <div class="commentreview">
                <div class="crleft">
                  <h2>Because British people are now rushing to grab these UVO254™ lamps…</h2>
                  <p>at the biggest discounted price we’ve ever offered. 
</p>
                  <p>And due to the unprecedented demand, the stock is draining faster than we ever anticipated…</p>
{% capture date %}
{% assign d = "now" | date: "%-d" %}
{{ "now" | date: "%B" }} 
{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
{{ "now" | date: "%Y" }}
{% endcapture %}
<p style="font-size: 0.9em;padding: 15px;border-radius: 10px;background: #eef6f8;border: 1px solid red;">
  <strong style="color: rgb(3, 45, 73);"><span style="color:red">Update:</span> {{ date }}</strong>
  <br><br>
Given the current market instability and global circumstances, we regret to inform you that once the current stock runs out, <strong>we simply won't be able to maintain this special discount offer.</strong>
  <br><br> 
We also can't guarantee that the item will be back in stock soon or remain at its original price after that.<br><br>
  <u>You can find the remaining quantity available by scrolling down.</u>
</p>
                </div>
                <div class="crright donly">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/cnew1.png?v=1654963174" alt="">
                </div>
            </div>
        </div>
      
      <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_79_1.png?v=1654888796"></div>
        	<div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_67.png?v=1654888796"></div>
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_80_2.png?v=1654888796"></div>
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_69.png?v=1654888796"></div>
      
        </div>
      
      </div>
      
      
    </section>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet"> 
{{ 'slick.css' | asset_url | stylesheet_tag }} 


    <section id="postsecone">
        <div class="containern">
            <h2>Wipe Out Allergens and Pollutants from Your Space!</h2>
           <p class="monly">Uvlizer's revolutionary <strong>UVO254™ Lamp eradicates allergy-causing biological pollutants from their roots in 15 minutes</strong>. It does that by tearing down the small molecules that constitute these allergens.</p>
            <div class="postsecone">
                <div class="psoleft">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/gym_44.jpg?v=1654107771" alt="">
                </div>
                <div class="psoright">
                  <p class="donly">Uvlizer's revolutionary UVO254™ Lamp <strong>eradicates allergy-causing biological pollutants from their roots in 15 minutes.</strong></p>
                    <p>How does it do this? By ripping apart the tiny molecules that constitute these allergens.</p>
                    <p>This, my friend, is what we call eradicating allergies from their ROOTS.</p>
                  <p><strong>Forget hours spent scrubbing your walls and boiling your sheets. In fact, you could stop cleaning your home completely…</strong></p>
                  <p>and yet, STILL have an allergen-free indoor space just by using this high-tech device called <strong>the UVO254™ Lamp.</strong></p>
                  <p><i>But you know what? Don’t just take our word for it…</i></p>
                </div>
            </div>
        </div>
    </section>
    <section id="postsectwo">
        <div class="containern">
            <h2>Doctors Such As Dr. Dubrow Use Uvlizer In Their Surgery Centres</h2>
          <div class="video-wrapper">
           <div style="padding:100% 0 0 0;position:relative;">
             <iframe src="https://player.vimeo.com/video/558633016?h=06db5a7417&amp;badge=0&amp;autopause=1&amp;autoplay=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Uvlizer.mp4"></iframe></div><script defer src="https://player.vimeo.com/api/player.js"></script>
           
          </div>
   
        </div>
      
   
    
      
    </section>

  <section id="sectionsix">
        <div class="containern">
            <h2>Introducing The</h2>
            <h3>UVO254&#8482;Bulbs</h3>
            <div class="secsiximg">
                <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img4.png?v=1654131889" alt="">
            </div>
        </div>
 
    </section>
	
	
      <section id="sectionnine">
        <div class="containern">
            <div class="sectionnine">
                <div class="sectionnineleft">
                  <p>The UVO254™ Bulb is a revolutionary device that allows Uvlizer's lamps to effectively <strong>destroy up to 97% of dust mites <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" target="_blank" style="vertical-align: super;font-size: 0.7em;">[R]</a>, bacteria, germs, bugs, and even foul smells.</strong></p>
                  <p>It combines the germicidal power of <strong>UV-C rays at 254nm</strong> (the most studied and proven wavelength to have maximum disinfection efficacy) and <strong>Ozone's oxidative properties.</strong></p>
                  <p>By combining the power of UV-C and Ozone, you get the <strong>synergistic effect</strong> of these two powerful disinfection agents, increasing the effectiveness of UVC while significantly decreasing the time needed for Ozone to work.</p>
                  <p>Seriously, <strong>you'd achieve the same level of sanitization that someone else would get from running an Ozone generator for 25-30 hours in just 15-60 minutes!</strong></p>
                  <p>Uvlizer is the only device to use UVO254™ bulbs. This technology allows for whole-room disinfection from top to bottom, including the most hard-to-reach areas. <strong>It penetrates deep into surfaces, even ones as dense as mattresses, and purifies the air you breathe.</strong></p>
                 
                  <h2 style="font-size:21px; margin:30px 0 !important;">Inspired By Hospitals And Airlines</h2>
                  <p>Our inspiration came mainly from the healthcare and aviation industries, where infection control and hygiene are not an option but a necessity. They've been using UVO technology for years to protect their patients and passengers and prevent infectious diseases from spreading. The best part? <strong>That very same technology is now accessible to you.</strong><br> Combining these two natural solutions can keep your space <strong>free from allergens, bacteria, viruses, fungi, and moulds… all without compromising your health or your family's health by using toxic chemicals.</strong></p>
                  
                </div>
               <div class="sectionnineright donly">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
                </div>
            </div>
               
            <div class="postwobottom">
                <img loading="lazy" class="lazyload donly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Uk.png?v=1707138969" alt="">
              <img  loading="lazy" class="lazyload monly" data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Uk.png?v=1707138969" alt="">
              
            </div>
        </div>
         
    </section>
       <section id="sectionsaven">

        {% comment %}<div class="review-slider-wrapper donly">{% endcomment %}
        {% comment %}<div class="partners__section">{% endcomment %}
		{% comment %}<div class="containern">{% endcomment %}
			{% comment %}<div class="outer__partners">{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:75px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:300px; max-height:35px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epa.png?v=1654779013{% endcomment %}
{% comment %}" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>Ultraviolet germicidal irradiation (UVGI) cleaners that use ultraviolet radiation from UV lamps can destroy indoor biological pollutants such as viruses, bacteria, and some moulds</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:300px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2n.png?v=1660996020" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>Historically, it's been used in homeless shelters and medical centres. Sales are up tenfold in the past month. The demand is through the roof</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
      {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
      	  {% comment %}<div class="review-slider-wrapper monly partners__section">{% endcomment %}
{% comment %}{% endcomment %}
            		{% comment %}<div class=" fda-slider-m">{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:75px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:300px; max-height:35px" loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/epa.png?v=1654779013{% endcomment %}
{% comment %}" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>Ultraviolet germicidal irradiation (UVGI) cleaners that use ultraviolet radiation from UV lamps can destroy indoor biological pollutants such as viruses, bacteria, and some moulds</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<div class="elem__partner">{% endcomment %}
					{% comment %}<div class="partner__logo">{% endcomment %}
						{% comment %}<img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2n.png?v=1660996020" alt="partner1">{% endcomment %}
					{% comment %}</div>{% endcomment %}
					{% comment %}<p>Historically, it's been used in homeless shelters and medical centres. Sales are up tenfold in the past month. The demand is through the roof</p>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
      {% comment %}</div>{% endcomment %}
    </section>
<section class="commont-section" id="benefits">
  <div class="containern">
    <h2>This is What The UVO254™ Lamp Can Do For You</h2>
	<div class="pstwocenter" id="review">
                <div class="pstleft">
                    <ul>
                      <li><span class="benefits bold">Eliminates up to 97% of dust mites <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" target="_blank" style="vertical-align: super;font-size: 0.7em;">[R]</a></span>, their eggs, lurking mould, bed bugs, and other unseen biological threats.</li>
                        <li><span class="benefits bold">Alleviates sneezing</span>, runny nose, and other nasty allergy symptoms.</li>
                        <li><span class="benefits bold">Ensures a blissful, uninterrupted sleep</span> every night.</li>
                        <li><span class="benefits bold">Transforms your indoor air</span> into a fresh, clean oasis that's a joy to breathe.</li>
                        <li><span class="benefits bold">Reduces brain fog</span> for a clear head and razor-sharp focus.</li>
                        <li><span class="benefits bold">Safely evicts pests</span> that might be crawling in the basement or under your bed.</li>
                        <li><span class="benefits bold">Removes foul odours</span> caused by bacteria, cooking oils, tobacco smoke, and pets…making your house smell like...home.</li>
                        <li><span class="benefits bold">Makes your home safer</span> by disinfecting surfaces and air at the same time.</li>
                      <li><span class="benefits bold">Decreases the risk of infection</span> and transmission of diseases indoors, providing extra safety for your family.</li>
                    </ul>
                </div>
                <div class="pstright donly">
                    <img style="max-width:300px;" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/group_194n.png?v=1660996131" alt="">
                </div>
            </div>

  </div>
  
  
		      <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_-_2022-06-07T222841.png?v=1654913317"></div>
        	<div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_70_4c41911b-bdde-472b-ac83-d051f84b9965.png?v=1654913317"></div>
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_77_1.png?v=1654913317"></div>
          <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_78.png?v=1654913317"></div>
          
          
        </div>
      
      </div>


</section>
<section>
      <div class="containern margin-tb-50">
  		 <div class="sectionninebottom">
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i1.png?v=1654132177" alt="">
                    <p class="price">260K+</p>
                    <p class="feature">Rooms<br>Disinfected</p>
                </div>
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i2.png?v=1654132177" alt="">
                    <p class="price">16+</p>
                    <p class="feature">Public<br>Schools</p>
                </div>
                <div class="secninebox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i3.png?v=1654132177" alt="">
                    <p class="price">760+</p>
                    <p class="feature">Offices, Beauty Salons
                   and Medical Centres</p>
                </div>
            </div>

      </div>



</section>

  <div class="review-slider-wrapper  commont-section">
    <div class="containern" style="margin-bottom:30px;"><h2>What other British people are saying about Uvlizer</h2>
    
    <div class="review-slider">
      <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_-_2022-06-07T223912.png?v=1654913055"></div>
      <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_71.png?v=1654913055"></div>
      <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_72.png?v=1654913055"></div>
      <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_74_1.png?v=1654913056"></div>
      <div class="rsl"><img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Screenshot_76.png?v=1654913055"></div>
    </div>
  </div>

  {% section 'product-landing-var-2' %}

  <div class="containern" style="padding: 50px 0">
    <h2>Try It Before You Decide With Our 90-Days-No-Questions-Asked Money Back Guarantee</h2>
    <div class="sectiontwelve">
      <div class="pstrleft">
          <p>Place an order, receive it, then try it for a while. Suppose
              for any given reason you don’t like it. Or maybe your spouse
              doesn’t like it. Or you might feel like it’s not adding value to
              your life. Even if you just need your money back because of
              urgency, reach out to our 24/7 customer support team within
              90 days of making your purchase, and we will provide a full
              refund.</p>
      </div>
      <div class="pstrright">
          <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/100_gurantee.jpg?v=1654107771" alt="">
      </div>
    </div>
  </div>

  <section id="sectioneleven">
        <h2>Uvlizer Lamp vs. Alternatives</h2>
       <div class="sectionnineright monly">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
                </div>
        <div class="sectioneleven">
            <div class="secelevenleft">
                <div class="hubcontainerone">
                   <div class="binner">
                  <h3 style="margin-top: 0 !important;">Uvlizer</h3>
                    <ul class="yeslist">
                        <li>UVO254™ Hospital Grade Technology</li>
                        <li>Breaks Down Allergens and Pollutants</li>
                        <li>Combines UVGI and Ozone for the Best Results</li>
                        <li>Disinfects the Air from Bacteria and Viruses</li>
                        <li>Penetrates Deep into the Surfaces</li>
                        <li>Designed for People with Allergies, Asthma, and Sinus Issues</li>
                        <li>Gets Rid of Bad Smells</li>
                        <li>Eliminates Insects</li>
                        <li>Easy to Use & Doesn't Need Any Upkeep</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="secelevenright">
                <div class="hubcontainertwo">
                    <h3>Alternatives</h3>
                      <h4>Boiling bedsheets in hot water daily</h4>
                      <ul class="yeslist">
                        <li>Removes dust mites from the sheets</li>
                      </ul>
                      <ul class="nolist">
                        <li>Doesn’t kill the mites & their eggs inside the mattress</li>
                        <li>Energy drawing</li>
                        <li>The mites come back as soon as you put the sheets on the bed</li>
                        <li>Time-consuming</li>
                      </ul>
                      <h4>Air Purifier</h4>
                      <ul class="yeslist">
                        <li>Remove allergens and pollutants from the air (True HEPA only)</li>
                        <li>Some filters disinfect the air</li>
                      </ul>
                      <ul class="nolist">
                        <li>Don't disinfect surfaces or furniture</li>
                        <li>Don't get rid of persistent bad smells</li>
                        <li>Effective models cost at least $200</li>
                        <li>Require ongoing filter replacement (Increases total cost to $1000 in the fifth year)</li>
                      </ul>
                      <h4>Vacuums</h4>
                      <ul class="yeslist">
                        <li>Can remove dust from furniture</li>
                      </ul>
                      <ul class="nolist">
                        <li>You have to do it daily</li>
                        <li>Isn't effective for dust mites</li>
                        <li>Can transmit allergens to the air and other parts of the house</li>
                        <li>HEPA vacuums cost $200 to $1200 and require filter replacement</li>
                      </ul>
                      <h4>Sprays</h4>
                      <ul class="yeslist">
                        <li>Disinfect surfaces from bacteria and viruses, but not air</li>
                        <li>Some sprays can remove allergens if applied directly</li>
                      </ul>
                      <ul class="nolist">
                        <li>Up to $200 per month</li>
                        <li>Filled with toxic chemicals</li>
                        <li>Time-consuming</li>
                        <li>Require physical labor</li>
                      </ul>
                      <h4>Deep cleaning services</h4>
                      <ul class="nolist">
                        <li>It's hard to trust other people to clean every corner thoroughly</li>
                        <li>Can be expensive  at $300 per session on average</li>
                        <li>Are often inconvenient</li>
                      </ul>
                </div>
            </div>
        </div>
    </section>
  

    
    <section id="sectionten">
        <div class="containern">
          <h2>Say Hi To Our Happy Customers</h2>
          <img  loading="lazy" class="lazyload donly " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/user-image-new.png?v=1654576909" style="margin:30px 0 30px 0;" />
          <img loading="lazy" class="lazyload monly " src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/uimage-mobile.png?v=1654955399" style="margin:30px 0 30px 0;" />
          <h2 >Features Of UVO254™ Lamps</h2>
            <div class="sectionten">
              
               <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bulb.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Suitable For 100-250 Sq Ft</strong><br><br>The 38W bulb in UVO254™ Bulb can thoroughly disinfect a whole 250 Sq Ft room like a bedroom, living room, or kitchen in 30-60 minutes.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Chemical-Free Disinfection</strong><br><br>Unlike sprays, and chemical disinfectants, the UVO254™ Lamp is chemical-free. Our bodies are already exposed to tons of toxins. By using Uvlizer's Lamp, you <strong class="font-bold">minimize the use of chemical cleaning products and thus, reduce the toxic burden on your body</strong>. The UVO254™ Lamp is great for surfaces, the environment, your time, and your wallet.
</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection_room.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Disinfects The Air And The Surfaces</strong><br><br>UVO254™ lamps help you disinfect your room from top to bottom and everything in between, including the air. <strong>No more chasing dust mites or trying to access hard-to-reach areas.</strong> You just turn the Uvlizer on, leave the room, and return to a completely allergen-free, disease-free, and garden-fresh space where you can breathe well and feel safe.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/nose.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Removes Bad Odours From Their Roots</strong><br><br>Ever walked into a room and felt a freshness you can't quite put into words? That's the UVO254™ Lamp promise. <strong>It doesn't cover up foul smells, it knocks them out at their source</strong> by breaking down bacteria, cooking oils, toxic air fresheners, stubborn tobacco smoke, and even pet odours.</p>
                </div>
                
               <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/allergy.jpg?v=1654107771" alt="">
                 <p><strong class="font-very-bold">Alleviates Sneezing, Runny Nose, and Other Allergy Symptoms</strong><br><br>Imagine your mornings with <strong>clear sinuses and zero allergy symptoms</strong> Sounds good, right? The UVO254™ Lamps make it a reality.  By eliminating the root cause of your allergies and killing all indoor allergens, the air will feel clean and crisp, and <strong>you'll experience a feeling of well-being</strong> you've never felt before.</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/infection.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Enjoy a Safer Home</strong><br><br>Picture this: curling up on your couch, knowing it's germ-free. Breathing air that's unlikely to ferry the flu or a cold your way. That's the peace of mind UVO254™ Lamp brings.
</p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/saftey.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Built-in Safety Feature</strong><br><br>At Uvlizer, we have your safety at the top of our minds. <strong class="font-bold">The UVO254™ Lamp has a safety feature that prevents accidental exposure to UV-C light</strong>. The safety timer allows you plenty of time to leave the room. And even if you switched on the Uvlizer by mistake, you won't get exposed to UV-C rays immediately. The internal timer will allow you to set the cleaning cycle depending on your needs. You can even <strong class="font-bold">set the timer at night, go to sleep, and wake up to a clean and safer environment</strong>.

                        </p>
                </div>
                <div class="sectiontenbox">
                    <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/suitable_home.jpg?v=1654107771" alt="">
                  <p><strong class="font-very-bold">Not Only For Your Home</strong><br><br>Uvlizer's UVO254™ Lamp is also suitable for disinfecting other places you spend time in. Its <strong class="font-bold">compact size</strong> and <strong class="font-bold">lightweight build</strong> not only make it <strong class="font-bold">easy to move</strong> from room to room, but it can also fit into a medium-sized backpack and allow you to take it with you to the office. <strong class="font-bold">Many of our customers use it to fight infections and allergies in their offices, hair salons, spas, dental offices, and waiting rooms… </strong>

                        </p>
                </div>
            </div>
        </div>
    </section>
    
    </div>

    {% section 'product-landing-var-2' %}

  <section id="sectiontwelve">
        <div class="containern">
          <h2>Make Sure To Hurry And Grab Your UVO254™ Lamp Before They Run Out!</h2>
            <div class="textcontainer contentmargine">
                <p>Whenever we do these promotions, people start buying three, five, or even 10 lamps for their homes and offices. So they fly off our warehouse shelves super quickly.
</p>
              <p>And <strong class="font-bold">once we're out of stock, we'll have to take this page down and wait for our next shipment</strong>.
</p>
                <p>Because of what's happening in the world and logistical issues, the next shipment could take months, depending on supply and transportation lines.</p>
              <p>So if you're interested in getting a UVO254™ Lamp and finally having a <strong>cleaner space that's free from allergy and disease...</strong>
</p>
                <p>Go ahead and click the "Buy Now" button at the bottom of this page to secure your device today.
</p>
            </div>
            <div class="limitedproductbox">
                <div class="context">
                   <img loading="lazy" class="lazyload " data-src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/sun-text.png?v=1654181559">
                </div>
                <a href="#shopify-section-product-landing-var-2" class="back-to-top">REDEEM</a>
            </div>
        </div>
    </section>
 <section id="askquestion">
        <div class="containern">
            <h2>Frequently Asked Questions</h2>
            <div class="textcontainer askquestion">
              <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Is this a scam? Do you have any evidence it works?</p>
                </div>
                <div class="answer">
                    <p>UVC disinfection is not a scam. Many scientific studies, including CDC and EPA studies, prove that UVC light kills almost all biological pollutants and germs. <br><br>

For example, a study published in the Asian Pacific Journal of Tropical Biomedicine named "Effect of germicidal UV-C light(254 nm) on eggs and adult of house dust mites, Dermatophagoides pteronyssinus and Dermatophagoides farinae" showed the efficacy of UVC on killing dust mites and their eggs.<br><br>

The EPA also states that "UV lamps may destroy indoor biological pollutants such as viruses, bacteria, and moulds."<br><br>

In addition to UVC, countless research suggests that Ozone fumigation applied at appropriate concentrations could effectively control several disturbing organisms like dust mites, bacteria, viruses, pests, etc.<br><br>

UVO254™ lamps combine both UVC and Ozone for maximum effectiveness.
</p>
                </div>
              </div>
              <div class="question-wrap">
                <div class="asked">
                  <span class="ficon"></span>
                    <p>Is Uvlizer UVO254™ Lamp Safe?</p>
                </div>
                <div class="answer">
                 <p> UVO disinfection is perfectly safe if it's used correctly.<br><br> 

Because exposure to UVC light can damage your skin or eyes (like exposure to sun rays would do), you need to keep people, pets, and plants out of the room while Uvlizer is working. This is the small price you pay for a 99.99% allergen-free, germ-free, and garden-fresh space.<br><br>

The Uvlizer Home Disinfection device also has two great features to avoid accidental exposure to the UVC light or the Ozone. (1) It has a remote control that can be used from afar, and (2) it has a self-delay timer for up to 30 seconds with beeping sounds allowing one to leave the room before the bulb lights up. 
</p> 

                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>How is the UVO254™ Lamp different from traditional UVC lamps or Ozone generators?</p>
                </div>
                <div class="answer">
                  <p>UVO254™ Lamps combine UV-C and Ozone to allow room-wide air and surface cleaning.<br><br> 

Traditional UV-C lamps can be great! It has been proven that they kill 99.9% of biological pollutants. Airlines and hospitals are even using them to ensure the safety of their spaces.<br><br>

But there's a catch...<br><br>

UV-C light is most effective when it lands directly on surfaces. If it's reflected, it quickly loses efficiency. As a result, UV-C lamps alone are ineffective for home use. A better solution is to use UV-C handheld devices to apply direct light to surfaces. But who has time for that? Plus, that doesn't disinfect the air.<br><br>

Ozone can be great on its own for some purposes as well. It reacts with germs, bacteria, viruses, and other organic compounds, giving it disinfectant properties.<br><br>

That's why it's used in hospitals and operating rooms. However, depending on the size of the room, a traditional ozone generator should run for at least 3 to 10 hours. For a whole house, at least 25-30 hours of continuous operation is required to eliminate most pollutants.<br><br>

Additionally, you should avoid staying in the room while the ozone generator is running and find a new place to stay. After that, you need to wait another 4-6 hours for the Ozone to dissipate.<br><br>

So by combining UVC and Ozone, you can get synergistic disinfection and increase the effectiveness of UVC while decreasing the time required for Ozone to work. In 15-60 minutes, you'd get the same level of sanitization as someone running an Ozone generator for 25-30 hours!<br><br>

Using UVO254™ bulbs, Uvlizer's lamp disinfects a room from top to bottom, including hard-to-reach places and even the air.</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>Does it work on mould?
</p>
                </div>
                <div class="answer">
                  <p>UVC light does work on mould. However, some moulds are more difficult to kill and may take longer exposure times or multiple exposures.
</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>Does it work on bed bugs? Insects? ...
</p>
                </div>
                <div class="answer">
                  <p>Yes, UVO254™ lamps effectively kill bed bugs, pests, and insects.<br><br> 

Etymologists (scientists who study insects) and other specialists agree that UVC light can kill insects and pests by mutating their DNA. Also, Ozone in its gaseous form can kill insects and pests primarily by targeting their respiratory system.
</p>
                </div>
              </div>
              <div class="question-wrap">
              <div class="asked">
                 <span class="ficon"></span>
                    <p>What happens to allergens and germs after being broken down?

</p>
                </div>
                <div class="answer">
                  <p>The UVO254™ Lamp breaks down the allergens' DNA completely, making them non-identifiable to the human body and thus ineffective at triggering an allergic reaction.</p>
                </div>
              </div>
              <div class="question-wrap">
                   <div class="asked">
                      <span class="ficon"></span>
                    <p>How long does the bulb last? What if I need a new bulb?

</p>
                </div>
                <div class="answer">
                  <p>The lifetime of the UV bulb is very long! It's over 5,000 hours. Think of it this way: if you use it every day, it will take more than 12 years to reach 5,000 hours.<br><br>If you do need a replacement bulb, don't hesitate to get in touch with us, and we can order one for you.</p>
                </div>
              </div>
              <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Does the UV light lose potency over time?
</p>
                </div>
                <div class="answer">
                  <p>The UV output of all light tubes will very slowly decrease over time due to the buildup of residue inside the tube. However, industry experts say that you can operate a light tube continuously for up to a year - or 9,000 hours - before you need to replace it due to diminished UV output. That is well beyond the lifetime of the Uvlizer bulb, which is 5,000 hours, and will provide many years of effective sanitization.

</p>
                </div>
              </div>
               <div class="question-wrap">
                <div class="asked">
                   <span class="ficon"></span>
                    <p>Can I use Uvlizer to sterilize my phone or other personal items?

</p>
                </div>
                <div class="answer">
                  <p>Although it's better to use our UVBox, which is specifically designed for this, you can use Uvlizer by creating a disinfecting room and putting everything you want to disinfect in the room.


</p>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section id="reviewsection">
        {% assign products = all_products["uvlizer-tower"] %}
<div class="containern">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: products %}
</div>
    </section>


<section class="disclamair-section">
   <div class="containern">
       <p>This site is not part of the Facebook website or Facebook Inc. Additionally, this site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.</p>
   </div>
</section>

   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <script src="{{ 'slick.js' | asset_url }}" ></script>
<script>
  $(document).ready(function(){
$(document).on('click', '.back-to-top', function(e) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      if (target.length) {
        e.preventDefault();
        var scrollto = target.offset().top;
        var scrolled = 20;

        if ($(this).attr("href") == 'nav') {
          scrollto = 0;
        }

        $('html, body').animate({
          scrollTop: scrollto - 100
        }, 1500);
		  $("body").removeClass("menu-active")
        return false;
      }
    }
  });
    
    
    $(document).on('click', '.hburger', function(e) {
      $("body").toggleClass("menu-active")
      
    })
    
    $('.review-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
       
            
      dots:true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: false,
            dots: true,
             arrows: false
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            initialSlide: 1,
             centerMode: true,
	  centerPadding: '60px'
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
             centerMode: true,
	  centerPadding: '60px',
            arrows: false
          }
        }
      ]


});
        $('.fda-slider-m').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
        centerMode: false,
	 
             arrows: true,
      dots:true


});
        $('.fda-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
    arrows: true,
      dots:true


});
            $('.product-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
    arrows: true,
      dots:true


});
    $(".question-wrap").click(function(){
          $(this).toggleClass("active").siblings().removeClass("active");
      	 $(this).children(".answer").slideToggle();
      $(this).siblings().children(".answer").slideUp();
     })
    $(".pselection:first-child").addClass("selected");
   $(".pselection").click(function(){
         var qty = $(this).attr("data-qty");
     var variant = $(this).attr("v_id");
     $(".addcart").attr({
    v_id: variant,
    v_qty: qty
});
     $(this).addClass("selected").siblings().removeClass("selected")
     })
   
   $(".offer-box:first-child .offer-text").text("");
    $(".offer-box:nth-child(3) .offer-text").text("Best Value")
    
     $(".pselection:nth-child(2) .device-text").text("Devices");
    $(".pselection:nth-child(3) .device-text").text("Devices");
    
    
    $(".first-box").click(function(){
      var offTxt1 = $(this).children(".old-price").text();
      
    });
     $(".mobile-cart-link").click(function(){
      $(".js-go-cart-trigger").trigger("click")
      
    });
   
    
    });
  
</script>

    {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
           {% section 'go-cart' %}
  {{ 'index.js' | asset_url | script_tag }}
  <script>
    
var goCart = new GoCart();


</script>     

<div id="myModal" class="modal">
  <div class="modal-content">
<span class="close">&times;</span>
  <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/splitnew.png?v=1660025184" width="100%">
</div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("mybtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<style>



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  div#myModal {
    z-index: 9999;
}

</style>